.group__component {
    padding: 1rem;
    width: 100%;
    min-width: 20rem;
    outline: solid 0.125rem hsl(36 calc( 88% * 0.01 ) 94%);
    outline-offset: -0.125rem;
}

.group__title-add {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas:  'name name' 'group button';
    grid-gap: 0.5rem;
    align-items: center;
}

.group__name-edit {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas:
        'label label'
        'input button'
        'warning warning';
    grid-gap: 0.5rem;
    grid-area: name;
    padding: 1rem;
    margin-bottom: 1rem;
}
.group__label {
    grid-area: label;
}
.group__input {
    height: 2rem;
    width: 100%;
    grid-area: input;
}
.group__save {
    grid-area: button;
}

.group__list-wrapper {
    margin: 0.5rem 0;
    margin-bottom: 0;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

.group__warning {
    height: max-content;
    display: grid;
    align-items: center;
    grid-template-columns: 1rem max-content;
    grid-area: warning;
    padding: 0.125rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease-in-out;
}

.group__warning.visible {
    opacity: 1;
    pointer-events: auto;
}

.group__list {
    width: 100%;
    max-height: calc(100svh - 23rem);
    height: max-content;
    
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 0.25rem;

    padding-top: 0.25rem;

    overflow: hidden;
    overflow-y: auto;
}

.group__icon {
    height: 100%;
    width: 0.5rem;
    justify-self: center;
    align-self: center;
}

.group__head {
    z-index: 4;
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 0.0625rem;
    box-shadow: var(--shadow-1);
}
.group__head-text {
    grid-column: 1;
    grid-row: 1;
    z-index: 6;
    border-radius: var(--border-radius-panel) var(--border-radius-panel) 0 0;
    color: hsl(var(--on-3));
    font-weight: 800;
    background-color: hsl(var(--surface-8));
    border-bottom: solid 0.0625rem hsl(var(--on-1) / 0.15);
}

.group__add-store {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 'combo button';
    grid-gap: 0.5rem;
    grid-auto-flow: column;
    padding-left: 0.25rem;
    grid-column: 1 / -1;
}

.group_modal {
    --modal-width: min(40rem, calc(100% - 1rem));
    --modal-height: min(18.5rem, calc(100% - 1rem));
    transition: 0.6s ease-in-out;
}

.group_modal.close {
    opacity: 0;
    pointer-events: none;
}

.group_modal.open {
    opacity: 1;
    pointer-events: auto;
}