.group-item__component {
    height: 2.25rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-flow: column;
    align-items: center;
    border-radius: var(--border-radius-panel);
    padding-right: 1rem;
    line-height: 1.5;
    background-color: hsl(var(--surface-1));
    transition: 0.25s ease-in-out;
    z-index: 0;
    margin: 0.125rem;
}

.group-item__component:hover,
.group-item__component.selected {
    outline: solid 0.125rem hsl(var(--primary-1));
    z-index: 10;
}

.group__name {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.75rem 1fr;
    grid-gap: 0.125rem;
    padding-left: 1rem;
    background-color: hsl(var(--surface-0));
    border-radius: var(--border-radius-panel);
    justify-items: start;
    border-right: solid 0.0625rem hsl(var(--surface-6));
    transition: 0.2s ease-in-out;
}

.group-item__component:hover,
.group-item__component.selected  .group__name {
    background-color: hsl(var(--surface-1));
} 

.group__icon {
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.group-item__component:hover,
.group-item__component.selected  
    .group__icon {
    opacity: 1;
}

.group__edit-delete {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    grid-auto-columns: 1fr;
    align-self: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    padding-left: 0.75rem;
    border-right: none;
}

.group__button {
    display: grid;
    width: 0.75rem;
}