<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 6V7H7V13H6V7H0V6H6V0H7V6H13Z" fill="currentColor"/>
    </svg>
</template>