<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.18963 2.04811H2.9655V0H2.22413V2.04811H0V2.73081H2.22413V4.77893H2.9655V2.73081H5.18963V2.04811Z" fill="currentColor"/>
        <path d="M2 6V11.5L2.5 12H15.5L16 11.5V2.5L15.5 2H11.707L10.854 1.146L10.5 1H7.5L7.146 1.146L6.293 2H6V3H6.5L6.854 2.854L7.707 2H10.293L11.146 2.854L11.5 3H15V11H3V6H2Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 4C8.40666 4 7.82664 4.17595 7.33329 4.50559C6.83994 4.83524 6.45543 5.30377 6.22836 5.85195C6.0013 6.40013 5.94189 7.00333 6.05765 7.58527C6.1734 8.16721 6.45912 8.70176 6.87868 9.12132C7.29824 9.54088 7.83279 9.8266 8.41473 9.94236C8.99667 10.0581 9.59987 9.9987 10.1481 9.77164C10.6962 9.54458 11.1648 9.16006 11.4944 8.66671C11.8241 8.17336 12 7.59334 12 7C12 6.20435 11.6839 5.44129 11.1213 4.87868C10.5587 4.31607 9.79565 4 9 4ZM9 5C9.39556 5 9.78224 5.1173 10.1111 5.33706C10.44 5.55682 10.6964 5.86918 10.8478 6.23463C10.9991 6.60009 11.0387 7.00222 10.9616 7.39018C10.8844 7.77814 10.6939 8.13451 10.4142 8.41421C10.1345 8.69392 9.77814 8.8844 9.39018 8.96157C9.00222 9.03874 8.60009 8.99913 8.23463 8.84776C7.86918 8.69638 7.55683 8.44004 7.33706 8.11114C7.1173 7.78224 7 7.39556 7 7C7 6.46957 7.21071 5.96086 7.58579 5.58579C7.96086 5.21071 8.46957 5 9 5Z" fill="currentColor"/>
    </svg>
</template>