<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.68963 11.2692H7.4655V9.22107H6.72413V11.2692H4.5V11.9519H6.72413V14H7.4655V11.9519H9.68963V11.2692Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 0L0 1.11138V4.44551L1 5.55689H13L14 4.44551V1.11138L13 0H1ZM1 1.11138H13V4.44551H1V1.11138Z" fill="currentColor"/>
        <path d="M0 7.77965L1 6.66827H13L14 7.77965V11.1138L13 12.2252H11V11.1138H13V7.77965H1V11.1138H3V12.2252H1L0 11.1138V7.77965Z" fill="currentColor"/>
    </svg>
</template>