<template>    
    <svg  
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.99999 0L0 4.99998V5.70709L4.99999 10.7071L5.7071 9.99998L1.56066 5.85355H12V4.85355H1.56066L5.7071 0.707108L4.99999 0Z" fill="currentColor"/>
    </svg>
</template>