<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.75 14.8571V13.7143H5.25V14.8571H8.75Z" fill="currentColor"/>
        <path d="M8.75 10.8571V13.1429H5.25V10.8571H8.75Z" fill="currentColor"/>
        <path d="M8.75 10.2857V7.14286H14L7 0L0 7.14286H5.25V10.2857H8.75Z" fill="currentColor"/>
        <path d="M8.75 15.4286H5.25V16H8.75V15.4286Z" fill="currentColor"/>
    </svg>
</template>
