<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.25 1.14286V2.28571H8.75V1.14286H5.25Z" fill="currentColor"/>
        <path d="M5.25 5.14286V2.85714H8.75V5.14286H5.25Z" fill="currentColor"/>
        <path d="M5.25 5.71429V8.85714H0L7 16L14 8.85714H8.75V5.71429H5.25Z" fill="currentColor"/>
        <path d="M5.25 0.571429H8.75V0H5.25V0.571429Z" fill="currentColor"/>
    </svg>
</template>