<template>
	<svg width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 25 20" fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<path
			d="M17.0973 12.6218L9.97667 19.7424C9.63325 20.0859 9.07647 20.0859 8.73309 19.7424L7.90258 18.9119C7.55974 18.5691 7.55908 18.0134 7.90111 17.6698L13.5444 12L7.90111 6.33019C7.55908 5.98655 7.55974 5.43091 7.90258 5.08808L8.73309 4.25757C9.07651 3.91414 9.63328 3.91414 9.97667 4.25757L17.0973 11.3782C17.4407 11.7216 17.4407 12.2784 17.0973 12.6218Z"
			fill="currentColor" />
	</svg>
</template>