<template>
	<svg width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 25 20" fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<path
			d="M7.9025 11.378L15.0234 4.25749C15.3667 3.91417 15.9237 3.91417 16.267 4.25749L17.0976 5.08811C17.4405 5.43105 17.4409 5.98651 17.0991 6.33019L11.4555 11.9998L17.0987 17.6698C17.4409 18.0135 17.4402 18.5689 17.0972 18.9119L16.2666 19.7425C15.9233 20.0858 15.3664 20.0858 15.0231 19.7425L7.9025 12.6216C7.55919 12.2783 7.55919 11.7214 7.9025 11.378V11.378Z"
			fill="currentColor" />
	</svg>
</template>