<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.43983 0L0.00031591 1.38845L4.87089 6.43815L0 11.4874L1.43941 12.876L6.26025 7.8786L11.0808 12.8764L12.5203 11.488L7.64971 6.43826L12.5208 1.38883L11.0814 0.000268579L6.26036 4.99781L1.43983 0Z" fill="currentColor"/>
    </svg>
</template>
