<template>    
    <svg
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H2V2H0V0Z" fill="currentColor"/>
        <path d="M0 4H2V6H0V4Z" fill="currentColor"/>
        <path d="M0 8H2V10H0V8Z" fill="currentColor"/>
        <path d="M4 0H6V2H4V0Z" fill="currentColor"/>
        <path d="M4 4H6V6H4V4Z" fill="currentColor"/>
        <path d="M4 8H6V10H4V8Z" fill="currentColor"/>
    </svg>
</template>