<template>    
      <svg  width="100%" height="100%"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.76497 8.17158V7.95733C2.76497 7.36509 2.81154 6.89304 2.90467 6.54118C3.00113 6.18932 3.14083 5.90713 3.32377 5.69462C3.50671 5.47863 3.72957 5.28179 3.99234 5.10412C4.20189 4.96477 4.38816 4.82368 4.55114 4.68084C4.71745 4.53453 4.84884 4.37776 4.9453 4.21054C5.04176 4.04331 5.08999 3.85345 5.08999 3.64094C5.08999 3.4354 5.04342 3.25424 4.95029 3.09747C4.85715 2.9407 4.72909 2.82051 4.56611 2.7369C4.40645 2.64981 4.2285 2.60626 4.03225 2.60626C3.83601 2.60626 3.6514 2.65329 3.47844 2.74735C3.3088 2.84141 3.1691 2.97554 3.05934 3.14973C2.9529 3.32043 2.89802 3.52772 2.89469 3.77158H0.599609C0.609588 3.03999 0.770909 2.44078 1.08357 1.97396C1.39956 1.50713 1.817 1.16224 2.33589 0.939277C2.85478 0.712832 3.42688 0.599609 4.05221 0.599609C4.73741 0.599609 5.34611 0.71109 5.8783 0.934051C6.41382 1.15701 6.83458 1.48623 7.14059 1.9217C7.4466 2.35717 7.59961 2.89019 7.59961 3.52075C7.59961 3.93532 7.53308 4.30111 7.40004 4.61814C7.26699 4.93516 7.08072 5.2156 6.84123 5.45947C6.60507 5.69985 6.32733 5.91932 6.00802 6.1179C5.75855 6.27118 5.55067 6.43144 5.38436 6.59866C5.22137 6.76588 5.0983 6.95749 5.01515 7.17348C4.93199 7.38599 4.89041 7.64727 4.89041 7.95733V8.17158H2.76497ZM3.86761 11.5996C3.50838 11.5996 3.2007 11.4672 2.94458 11.2025C2.69179 10.9377 2.56706 10.6172 2.57039 10.2409C2.56706 9.87166 2.69179 9.55638 2.94458 9.2951C3.2007 9.03033 3.50838 8.89795 3.86761 8.89795C4.21021 8.89795 4.51123 9.03033 4.77067 9.2951C5.03012 9.55638 5.1615 9.87166 5.16483 10.2409C5.1615 10.4918 5.0983 10.72 4.97523 10.9255C4.85549 11.131 4.69749 11.2948 4.50125 11.4167C4.30833 11.5386 4.09711 11.5996 3.86761 11.5996Z" fill="currentColor"/>
      </svg>
</template>
