<template>    
    <svg
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
        <path d="M6.00005 14.001V12.47H9.83892C9.84307 12.47 9.84697 12.47 9.85112 12.47H10.1102C10.1607 12.47 10.2112 12.4684 10.261 12.4653C10.2872 12.4636 10.313 12.4616 10.3389 12.4591C11.4678 12.351 12.3611 11.4514 12.438 10.332C12.438 10.3297 12.4383 10.3274 12.4383 10.325C12.4415 10.2754 12.4432 10.2254 12.4432 10.175V3.82702C12.4432 3.77663 12.4415 3.72662 12.4383 3.67706C12.4366 3.65191 12.4346 3.62688 12.4322 3.60195C12.3223 2.49123 11.408 1.61202 10.2701 1.53704C10.2671 1.53683 10.264 1.53695 10.261 1.53677C10.2112 1.53362 10.1617 1.53204 10.1111 1.53204H9.85112C9.84697 1.53204 9.84307 1.53204 9.83892 1.53204H6.00005V0.00103034H10.1102C10.1756 0.00103034 10.2405 0.00261725 10.3052 0.00576056L10.3169 0.00603522C10.3768 0.00911749 10.4363 0.0138172 10.4954 0.019524C12.396 0.203148 13.8938 1.73122 13.9952 3.62402C13.9952 3.63024 13.9957 3.63653 13.9957 3.64275C13.9986 3.70382 14 3.76525 14 3.82702V10.175C14 10.2368 13.9986 10.2982 13.9957 10.3593L13.9952 10.378C13.9852 10.5632 13.9617 10.7448 13.9261 10.922C13.5857 12.6131 12.1124 13.9033 10.3169 13.996C10.313 13.9962 10.3091 13.9961 10.3052 13.9963C10.2405 13.9994 10.1756 14.001 10.1102 14.001H6.00005Z" fill="currentColor"/>
        <path d="M6.00005 12.47H5.85112C5.78032 12.4695 5.71001 12.4787 5.64214 12.4972C5.6126 12.5052 5.58355 12.515 5.55523 12.5265C5.46123 12.5646 5.37554 12.6208 5.30352 12.6919C5.23125 12.763 5.17363 12.8477 5.13408 12.9411C5.09453 13.0344 5.07378 13.1346 5.07305 13.236C5.07451 13.4223 5.14336 13.6017 5.2669 13.7411C5.39043 13.8805 5.56035 13.9703 5.74517 13.994L5.85015 14.001H6.00005V12.47Z" fill="currentColor"/>
        <path d="M6.00005 2.32559e-05H5.85112C5.78032 -0.000526061 5.71001 0.00865973 5.64214 0.0271839C5.6126 0.03521 5.58355 0.0449756 5.55523 0.0564808C5.46123 0.0945667 5.37554 0.15075 5.30352 0.221886C5.23125 0.293023 5.17363 0.377678 5.13408 0.471062C5.09453 0.564415 5.07378 0.664635 5.07305 0.766014C5.07451 0.952294 5.14336 1.13171 5.2669 1.27108C5.39043 1.41045 5.56035 1.50033 5.74517 1.52404L5.85015 1.53103H6.00005V2.32559e-05Z" fill="currentColor"/>
        <path d="M7.3262 3.52081C7.061 3.2026 6.58809 3.15961 6.26988 3.42478C5.95167 3.68996 5.90868 4.16289 6.17385 4.4811L7.6487 6.25093H0.75C0.33579 6.25093 0 6.58672 0 7.00093C0 7.41514 0.33579 7.75093 0.75 7.75093H7.6488L6.17385 9.52083C5.90868 9.83903 5.95167 10.3119 6.26988 10.5771C6.58809 10.8423 7.061 10.7993 7.3262 10.4811L9.8262 7.48109C10.058 7.20295 10.058 6.79895 9.8262 6.52081L7.3262 3.52081Z" fill="currentColor"/>
    </svg>
</template>