<template>    
    <svg 
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.30115 10.2996C3.49635 10.2996 4.54744 9.68947 5.16215 8.76434C5.77686 9.68947 6.82796 10.2996 8.02316 10.2996C9.21836 10.2996 10.2695 9.68947 10.8842 8.76434C11.4988 9.68947 12.55 10.2996 13.7452 10.2996C14.1377 10.2996 14.5148 10.2338 14.866 10.1125V14.305C14.866 15.253 14.0975 16.0216 13.1494 16.0216H10.8718C10.5558 16.0216 10.2996 15.7654 10.2996 15.4494V13.7328C10.2996 13.1008 9.78725 12.5884 9.15521 12.5884H6.86641C6.23438 12.5884 5.72201 13.1008 5.72201 13.7328V15.4494C5.72201 15.7654 5.46582 16.0216 5.14981 16.0216H2.84982C1.90178 16.0216 1.13323 15.253 1.13323 14.305V10.0959C1.49775 10.2278 1.89101 10.2996 2.30115 10.2996Z" fill="currentColor"/>
        <path d="M4.49619 7.43282C4.57415 7.12656 4.823 6.86641 5.13901 6.86641C5.45503 6.86641 5.70388 7.12656 5.78184 7.43282C6.0339 8.42293 6.93144 9.15521 8.00002 9.15521C9.06859 9.15521 9.96613 8.42293 10.2182 7.43282C10.2962 7.12656 10.545 6.86641 10.8611 6.86641C11.177 6.86641 11.4259 7.12656 11.5039 7.43282C11.7559 8.42293 12.6534 9.15521 13.7221 9.15521C14.8948 9.15521 15.8616 8.27307 15.9951 7.1361C16.0158 6.95964 15.9694 6.78368 15.89 6.62477L12.894 0.632614C12.7001 0.244902 12.3038 0 11.8703 0H4.12969C3.69622 0 3.29996 0.244902 3.10611 0.632614L0.110021 6.62477C0.0305768 6.78368 -0.0157829 6.95964 0.0049307 7.1361C0.13838 8.27307 1.10518 9.15521 2.27801 9.15521C3.34658 9.15521 4.24413 8.42293 4.49619 7.43282Z" fill="currentColor"/>
    </svg>
</template>