<template>    
    <svg
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%"
        viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.0221 3.20497H13.0812C14.0219 3.20497 14.924 3.53063 15.5892 4.11033C16.2544 4.69002 16.628 5.47625 16.628 6.29606C16.628 7.11587 16.2544 7.90211 15.5892 8.4818C14.924 9.06149 14.0219 9.38716 13.0812 9.38716V8.35679C13.7083 8.35679 14.3098 8.13968 14.7532 7.75322C15.1966 7.36676 15.4458 6.8426 15.4458 6.29606C15.4458 5.74952 15.1966 5.22537 14.7532 4.83891C14.3098 4.45244 13.7083 4.23533 13.0812 4.23533H11.9982L11.8516 3.35231C11.7629 2.79839 11.4688 2.28495 11.0141 1.89028C10.5594 1.49561 9.96906 1.24137 9.33312 1.16631C8.69718 1.09126 8.05052 1.19951 7.49175 1.47456C6.93298 1.74962 6.49275 2.17638 6.23818 2.68978L5.8433 3.47492L4.88566 3.28018C4.66586 3.23278 4.44054 3.20754 4.21412 3.20497C3.43022 3.20497 2.67843 3.47636 2.12413 3.95943C1.56983 4.44251 1.25843 5.0977 1.25843 5.78088C1.25843 6.46406 1.56983 7.11925 2.12413 7.60233C2.67843 8.0854 3.43022 8.35679 4.21412 8.35679H4.80526V9.38716H4.21412C3.62752 9.39156 3.04654 9.28721 2.50974 9.08103C1.97293 8.87486 1.49256 8.57156 1.10048 8.19127C0.708413 7.81098 0.413601 7.36238 0.235606 6.87524C0.0576114 6.38809 0.000500817 5.87352 0.0680629 5.36568C0.135625 4.85783 0.326315 4.3683 0.627486 3.92957C0.928656 3.49084 1.33342 3.11293 1.81494 2.82091C2.29645 2.52889 2.84371 2.32943 3.4204 2.23577C3.9971 2.14211 4.59006 2.15638 5.15995 2.27764C5.51926 1.56154 6.13657 0.966998 6.91837 0.584076C7.70017 0.201153 8.60386 0.050708 9.49257 0.155529C10.3813 0.260351 11.2066 0.614728 11.8435 1.16498C12.4803 1.71524 12.8941 2.43139 13.0221 3.20497Z" fill="currentColor"/>
        <path d="M6.80291 8.48246L8.3594 9.83606V4.23564H9.53694V9.79939L11.0513 8.48246L11.8891 9.21104L9.34597 11.4226H8.50818L5.96511 9.21103L6.80291 8.48246Z" fill="currentColor"/>
    </svg>
</template>