<template>    
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 14" fill="none">
        <path d="M7.00006 6.12808C6.82987 6.12797 6.66668 6.06032 6.54633 5.93997C6.42599 5.81963 6.35833 5.65644 6.35823 5.48625L6.39456 2.76149H4.8808C4.76036 2.64105 4.6927 2.47769 4.6927 2.30736C4.6927 2.13703 4.76036 1.97368 4.8808 1.85324L6.54593 0.188105C6.66638 0.0676633 6.82973 0 7.00006 0C7.17039 0 7.33374 0.0676633 7.45419 0.188105L9.11932 1.85324C9.23976 1.97368 9.30742 2.13703 9.30742 2.30736C9.30742 2.47769 9.23976 2.64105 9.11932 2.76149H7.60556L7.64189 5.48625C7.64179 5.65644 7.57413 5.81963 7.45379 5.93997C7.33344 6.06032 7.17025 6.12797 7.00006 6.12808ZM7.00006 7.87192C7.17025 7.87203 7.33344 7.93968 7.45379 8.06003C7.57413 8.18037 7.64179 8.34356 7.64189 8.51376L7.60556 11.2385H9.11932C9.23976 11.359 9.30742 11.5223 9.30742 11.6926C9.30742 11.863 9.23976 12.0263 9.11932 12.1468L7.45419 13.8119C7.33374 13.9323 7.17039 14 7.00006 14C6.82973 14 6.66638 13.9323 6.54593 13.8119L4.8808 12.1468C4.76036 12.0263 4.6927 11.863 4.6927 11.6926C4.6927 11.5223 4.76036 11.359 4.8808 11.2385H6.39456L6.35823 8.51375C6.35833 8.34356 6.42599 8.18037 6.54633 8.06003C6.66668 7.93968 6.82987 7.87203 7.00006 7.87192Z" fill="currentColor"/>
        <path d="M6.12808 6.99999C6.12797 7.17018 6.06032 7.33338 5.93997 7.45372C5.81963 7.57406 5.65644 7.64172 5.48625 7.64182L2.76149 7.60549V9.11925C2.64105 9.23969 2.47769 9.30735 2.30736 9.30735C2.13703 9.30735 1.97368 9.23969 1.85324 9.11925L0.188105 7.45412C0.0676633 7.33368 0 7.17032 0 6.99999C0 6.82966 0.0676633 6.66631 0.188105 6.54587L1.85324 4.88074C1.97368 4.76029 2.13703 4.69263 2.30736 4.69263C2.47769 4.69263 2.64105 4.76029 2.76149 4.88074V6.39449L5.48625 6.35816C5.65644 6.35827 5.81963 6.42592 5.93997 6.54627C6.06032 6.66661 6.12797 6.8298 6.12808 6.99999ZM7.87192 6.99999C7.87203 6.8298 7.93968 6.66661 8.06003 6.54627C8.18037 6.42592 8.34356 6.35827 8.51376 6.35816L11.2385 6.39449V4.88074C11.359 4.76029 11.5223 4.69263 11.6926 4.69263C11.863 4.69263 12.0263 4.76029 12.1468 4.88074L13.8119 6.54587C13.9323 6.66631 14 6.82966 14 6.99999C14 7.17032 13.9323 7.33368 13.8119 7.45412L12.1468 9.11925C12.0263 9.23969 11.863 9.30735 11.6926 9.30735C11.5223 9.30735 11.359 9.23969 11.2385 9.11925V7.60549L8.51375 7.64182C8.34356 7.64172 8.18037 7.57406 8.06003 7.45372C7.93968 7.33338 7.87203 7.17018 7.87192 6.99999Z" fill="currentColor"/>
        <path d="M7.42815 7C7.42815 7.23646 7.23646 7.42815 7 7.42815C6.76354 7.42815 6.57185 7.23646 6.57185 7C6.57185 6.76354 6.76354 6.57185 7 6.57185C7.23646 6.57185 7.42815 6.76354 7.42815 7Z" fill="currentColor"/>
    </svg>
</template>