<template>    
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet" 
        viewBox="0 0 14 14" fill="none">
        <path d="M8.0001 9.20388L9.5 7.60338L14 12.3995L12.5001 14L8.0001 9.20388Z" fill="currentColor"/>
        <path d="M10.8888 5.5738C12.2534 5.5738 13.3635 4.38925 13.3635 2.93308C13.3635 2.49548 13.2504 2.08805 13.0736 1.7259L11.1645 3.76302L10.111 2.63883L12.0201 0.601706C11.6807 0.413084 11.2989 0.292365 10.8888 0.292365C9.52415 0.292365 8.41406 1.47692 8.41406 2.93308C8.41406 3.24242 8.47063 3.53667 8.56255 3.80829L7.25448 5.2041L5.9959 3.86111L6.49792 3.32542L5.50096 2.26159L6.99993 0.662065C6.17267 -0.220688 4.82925 -0.220688 4.00198 0.662065L1.49898 3.33296L2.49594 4.39679H0.502016L0 4.93248L2.50301 7.60338L3.00502 7.06769V4.93248L4.00198 5.99631L4.504 5.46063L5.76257 6.80362L0.523227 12.3944L2.0222 13.9939L10.0686 5.41536C10.3231 5.51344 10.5989 5.5738 10.8888 5.5738Z" fill="currentColor"/>
    </svg>
</template>