<template>    
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet" 
        viewBox="0 0 14 14" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.69274 3.18919C7.36389 1.6294 9.8876 0 13.1451 0C13.6124 0 13.9912 0.37885 13.9912 0.84618C13.9912 3.69767 12.342 6.22214 10.8203 7.96126C10.4703 8.36129 9.8756 8.96395 9.2759 9.5498L9.8628 10.7236C9.9475 10.893 9.9292 11.0957 9.8156 11.2472L7.90097 13.8C7.61267 14.1844 7.00097 13.9805 7.00097 13.5V11.6287C6.92539 11.6892 6.85733 11.7427 6.79777 11.7889C6.71193 11.8555 6.64364 11.9069 6.59582 11.9425L6.59382 11.944L6.52359 11.9955L6.51959 11.9983L6.51726 12C6.18099 12.2402 5.71916 12.2031 5.4264 11.9103L2.04179 8.52559C1.77198 8.25576 1.71613 7.83873 1.90544 7.50743L1.91648 7.48866L2.08529 7.21512C2.12575 7.15217 2.17301 7.0801 2.22699 7H0.500971C0.0204607 7 -0.183434 6.3883 0.200971 6.1L2.75376 4.18541C2.90526 4.07178 3.10797 4.0535 3.27736 4.1382L4.25877 4.6289C4.79413 4.06851 5.33441 3.52364 5.69274 3.18919ZM1.91648 7.48866L1.90642 7.50573L1.90716 7.50443L1.91015 7.49925L1.91648 7.48866ZM4.00097 12L2.00097 10C1.00097 10 0.000970656 14 0.000970656 14C0.000970656 14 4.00097 13 4.00097 12ZM10.75 4.5C11.4403 4.5 12 3.94036 12 3.25C12 2.55964 11.4403 2 10.75 2C10.0596 2 9.5 2.55964 9.5 3.25C9.5 3.94036 10.0596 4.5 10.75 4.5Z" fill="currentColor"/>
    </svg>
</template>