<template>    
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet" 
        viewBox="0 0 14 14" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5627 8.57636L11.75 8.69796L12.7032 9.3553C13.461 9.8779 13.9339 10.7171 13.9936 11.6286L14 11.825V12.1248C14 13.1111 13.2385 13.9196 12.2714 13.9944L12.1248 14H6.87519C5.88887 14 5.0804 13.2385 5.00564 12.2714L5 12.1248V11.825C5 10.9044 5.42236 10.0386 6.13885 9.472L6.29684 9.3553L7.25 8.69796C8.54299 7.80627 10.2335 7.76574 11.5627 8.57636ZM6.56266 6.57636L6.75 6.69796L7.67249 7.33269C7.35326 7.45808 7.04396 7.61758 6.75 7.81119L5.34989 8.73331C4.50723 9.2883 4 10.2297 4 11.2387V11.8112C4 11.8747 4.00271 11.9377 4.00802 11.9998L1.87519 12C0.88887 12 0.0804 11.2385 0.00564003 10.2714L0 10.1248V9.825C0 8.90435 0.42236 8.03865 1.13885 7.47203L1.29684 7.35528L2.25 6.69796C3.54299 5.80627 5.23353 5.76574 6.56266 6.57636ZM9.5 2C10.8807 2 12 3.11929 12 4.5C12 5.88071 10.8807 7 9.5 7C8.11929 7 7 5.88071 7 4.5C7 3.11929 8.11929 2 9.5 2ZM4.5 0C5.88071 0 7 1.11929 7 2.5C7 3.88071 5.88071 5 4.5 5C3.11929 5 2 3.88071 2 2.5C2 1.11929 3.11929 0 4.5 0Z" fill="currentColor"/>
    </svg>
</template>