<template>    
    <svg    width="100%" height="100%"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8202 2.01496C10.7197 0.915109 9.21966 0.115061 7.62005 0.0149629C6.02044 -0.0848906 4.41986 0.315012 3.12005 1.21516C1.71966 2.11506 0.820248 3.41511 0.320248 5.01496C-0.179752 6.51496 -0.080143 8.21516 0.520443 9.71516C1.12005 11.2152 2.21966 12.4151 3.62005 13.2152C5.02044 14.015 6.62005 14.2152 8.21966 13.9151C9.82025 13.6151 11.2197 12.7152 12.2197 11.515C13.2197 10.2152 13.8202 8.71516 13.8202 7.11506C13.8202 5.11506 13.1201 3.41511 11.8202 2.01496ZM10.2402 3.00007L6.95013 6.32038L3.66009 3.00007L2.70013 3.92976L5.99017 7.25007L2.70013 10.5704L3.66009 11.5001L6.95013 8.17976L10.2402 11.5001L11.2001 10.5704L7.91009 7.25007L11.2001 3.92976L10.2402 3.00007Z" fill="currentColor"/>
    </svg>
</template>