<template>    
    <svg
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.43822 10.4286C6.18522 10.4286 6.84215 10.0477 7.22635 9.47032C7.61054 10.0477 8.26748 10.4286 9.01448 10.4286C9.76148 10.4286 10.4184 10.0477 10.8026 9.47032C11.1868 10.0477 11.8437 10.4286 12.5907 10.4286C12.8361 10.4286 13.0717 10.3875 13.2913 10.3118V12.9286C13.2913 13.5203 12.811 14 12.2184 14H10.7949C10.5974 14 10.4373 13.8401 10.4373 13.6429V12.5714C10.4373 12.1769 10.117 11.8571 9.72201 11.8571H8.29151C7.89649 11.8571 7.57626 12.1769 7.57626 12.5714V13.6429C7.57626 13.8401 7.41614 14 7.21863 14H5.78114C5.18861 14 4.70827 13.5203 4.70827 12.9286V10.3014C4.9361 10.3837 5.18188 10.4286 5.43822 10.4286Z" fill="currentColor"/>
        <path d="M6.81012 8.63924C6.85884 8.44809 7.01437 8.28571 7.21188 8.28571C7.40939 8.28571 7.56492 8.44809 7.61365 8.63924C7.77119 9.25723 8.33215 9.71428 9.00001 9.71428C9.66787 9.71428 10.2288 9.25723 10.3864 8.63924C10.4351 8.44809 10.5906 8.28571 10.7882 8.28571C10.9856 8.28571 11.1412 8.44809 11.1899 8.63924C11.3474 9.25723 11.9084 9.71428 12.5763 9.71428C13.3093 9.71428 13.9135 9.16369 13.9969 8.45404C14.0099 8.3439 13.9809 8.23408 13.9313 8.13489L12.0587 4.39485C11.9376 4.15286 11.6899 4 11.4189 4H6.58105C6.31014 4 6.06247 4.15286 5.94132 4.39485L4.06876 8.13489C4.01911 8.23408 3.99014 8.3439 4.00308 8.45404C4.08649 9.16369 4.69074 9.71428 5.42376 9.71428C6.09161 9.71428 6.65258 9.25723 6.81012 8.63924Z" fill="currentColor"/>
        <path d="M3.21048 4.28571C3.01321 4.28571 2.85891 4.44812 2.81009 4.63922C2.65188 5.2572 2.09134 5.71429 1.42337 5.71429C0.690945 5.71429 0.0854767 5.1637 0.0034454 4.45404C-0.0043671 4.39362 0.00149228 4.33325 0.0171173 4.27472C0.0249298 4.24561 0.0327423 4.21692 0.044461 4.1889L0.0678985 4.13489L1.94095 0.394836C1.99759 0.283081 2.07962 0.190369 2.17923 0.122864C2.29641 0.0442505 2.43509 0 2.57962 0H7.41751C7.68899 0 7.93704 0.152832 8.05813 0.394836L9.36282 3H6.10501C5.89212 3 5.68899 3.07336 5.52688 3.20148C5.42337 3.28424 5.33548 3.38983 5.27298 3.51331L4.27102 5.51532C3.94876 5.32446 3.70852 5.01099 3.61282 4.63922C3.56399 4.44812 3.4097 4.28571 3.21048 4.28571Z" fill="currentColor"/>
        <path d="M3.95462 6.14899C3.66165 5.98254 3.41165 5.74939 3.2261 5.47034C2.84134 6.04773 2.18509 6.42859 1.43704 6.42859C1.18118 6.42859 0.935086 6.38373 0.708524 6.30145V8.92859C0.708524 9.52026 1.18899 10 1.78079 10H3.21829C3.27298 10 3.32571 9.98737 3.37259 9.96478C3.0386 9.67004 2.80813 9.25513 2.75345 8.79022C2.73587 8.64709 2.77493 8.50427 2.83938 8.37537L3.95462 6.14899Z" fill="currentColor"/>
    </svg>
</template>