<template>

    <svg 
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%" viewBox="0 0 632 557" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="452.5" y="1.5" width="157" height="119" fill="#73DFFC" fill-opacity="0.5" stroke="#73DFFC" stroke-width="3"/>
    <path d="M452.5 143.5H529.5V298.5H452.5V143.5Z" fill="#74FCA0" fill-opacity="0.5" stroke="#459B61" stroke-width="3"/>
    <line x1="454" y1="259.5" x2="528" y2="259.5" stroke="black" stroke-width="3"/>
    <line x1="454" y1="259.5" x2="528" y2="259.5" stroke="black" stroke-width="3"/>
    <line x1="454" y1="259.5" x2="528" y2="259.5" stroke="#2EF66F" stroke-width="3"/>
    <path d="M454 178.5L528 179" stroke="black" stroke-width="3"/>
    <path d="M454 178.5L528 179" stroke="black" stroke-width="3"/>
    <path d="M454 178.5L528 179" stroke="#2EF66F" stroke-width="3"/>
    <path d="M454 217.75H528.002" stroke="black" stroke-width="3"/>
    <path d="M454 217.75H528.002" stroke="black" stroke-width="3"/>
    <path d="M454 217.75H528.002" stroke="#2EF66F" stroke-width="3"/>
    <line x1="490.5" y1="261" x2="490.5" y2="178" stroke="black" stroke-width="3"/>
    <line x1="490.5" y1="261" x2="490.5" y2="178" stroke="black" stroke-width="3"/>
    <line x1="490.5" y1="261" x2="490.5" y2="178" stroke="#2EF66F" stroke-width="3"/>
    <rect x="139.5" y="377.5" width="116" height="77" fill="#B0BAFF" fill-opacity="0.5" stroke="#9BA5E7" stroke-width="3"/>
    <rect x="154.5" y="477.5" width="79" height="78" fill="#B9FE91" fill-opacity="0.5" stroke="#97CD77" stroke-width="3"/>
    <rect x="1.5" y="417.5" width="116" height="116" fill="#DE9DFB" fill-opacity="0.5" stroke="#9667AB" stroke-width="3"/>
    <mask id="path-10-inside-1_60584_6748" fill="white">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M375 376H254V431V456V497H336V456H375V376Z"/>
    </mask>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M375 376H254V431V456V497H336V456H375V376Z" fill="#FCAFDD" fill-opacity="0.5"/>
    <path d="M254 376V373H251V376H254ZM375 376H378V373H375V376ZM254 497H251V500H254V497ZM336 497V500H339V497H336ZM336 456V453H333V456H336ZM375 456V459H378V456H375ZM254 379H375V373H254V379ZM257 431V376H251V431H257ZM251 431V456H257V431H251ZM251 456V497H257V456H251ZM254 500H336V494H254V500ZM339 497V456H333V497H339ZM375 453H336V459H375V453ZM372 376V456H378V376H372Z" fill="#9F718D" mask="url(#path-10-inside-1_60584_6748)"/>
    <rect class="kanto" x="452.501" y="298.5" width="77" height="156" fill="#FF998A" fill-opacity="0.5" stroke="#9E6158" stroke-width="3"/>
    <path d="M412.5 456V454.5H411H373.5V379V377.5H372H334.5V298.5H452.5V492.5H412.5V456Z" fill="#FCE77C" fill-opacity="0.5" stroke="#BFAF5E" stroke-width="3"/>
    <path d="M454 415H489" stroke="black" stroke-width="3"/>
    <path d="M454 415H489" stroke="black" stroke-width="3"/>
    <path d="M454 415H489" stroke="#FF998A" stroke-width="3"/>
    <path d="M454 377.801H528" stroke="black" stroke-width="3"/>
    <path d="M454 377.801H528" stroke="black" stroke-width="3"/>
    <path d="M454 377.801H528" stroke="#FF998A" stroke-width="3"/>
    <path d="M454 338H528" stroke="black" stroke-width="3"/>
    <path d="M454 338H528" stroke="black" stroke-width="3"/>
    <path d="M454 338H528" stroke="#FF998A" stroke-width="3"/>
    <path d="M257 415L372 415" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M257 415L372 415" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M257 415L372 415" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M178 415L254 415" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M178 415L254 415" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M178 415L254 415" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M257 454H333" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M257 454H333" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M257 454H333" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M489.5 453L490 300" stroke="black" stroke-width="3"/>
    <path d="M489.5 453L490 300" stroke="black" stroke-width="3"/>
    <path d="M489.5 453L490 300" stroke="#FF998A" stroke-width="3"/>
    <path d="M334 453L334.5 379" stroke="black" stroke-width="3"/>
    <path d="M334 453L334.5 379" stroke="black" stroke-width="3"/>
    <path d="M334 453L334.5 379" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M295.501 454.5V379" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M295.501 454.5V379" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M295.501 454.5V379" stroke="#FCAFDD" stroke-width="3"/>
    <path d="M178 453V379" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M178 453V379" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M178 453V379" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M195 554V479" stroke="#B9FE91" stroke-width="3"/>
    <path d="M195 554V479" stroke="#B9FE91" stroke-width="3"/>
    <path d="M195 554V479" stroke="#B9FE91" stroke-width="3"/>
    <path d="M156 516H232" stroke="black" stroke-width="3"/>
    <path d="M156 516H232" stroke="black" stroke-width="3"/>
    <path d="M156 516H232" stroke="black" stroke-width="3"/>
    <path d="M156 516H232" stroke="#B9FE91" stroke-width="3"/>
    <path d="M156 516H232" stroke="#B9FE91" stroke-width="3"/>
    <path d="M156 516H232" stroke="#B9FE91" stroke-width="3"/>
    <path d="M3 456H115.5" stroke="black" stroke-width="3"/>
    <path d="M3 456H115.5" stroke="black" stroke-width="3"/>
    <path d="M3 456H115.5" stroke="#DE9DFB" stroke-width="3"/>
    <path d="M78 532L78 419" stroke="black" stroke-width="3"/>
    <path d="M78 532L78 419" stroke="black" stroke-width="3"/>
    <path d="M78 532L78 419" stroke="#DE9DFB" stroke-width="3"/>
    <path d="M39 494L39 419" stroke="black" stroke-width="3"/>
    <path d="M39 494L39 419" stroke="black" stroke-width="3"/>
    <path d="M39 494L39 419" stroke="#DE9DFB" stroke-width="3"/>
    <path d="M3 494H79" stroke="black" stroke-width="3"/>
    <path d="M3 494H79" stroke="black" stroke-width="3"/>
    <path d="M3 494H79" stroke="#DE9DFB" stroke-width="3"/>
    <path d="M217 453V379" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M217 453V379" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M217 453V379" stroke="#B0BAFF" stroke-width="3"/>
    <path d="M336 337.76H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M336 337.76H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M336 337.76H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M373.801 376V300" stroke="#FCE77C" stroke-width="3"/>
    <path d="M373.801 376V300" stroke="#FCE77C" stroke-width="3"/>
    <path d="M373.801 376V300" stroke="#FCE77C" stroke-width="3"/>
    <path d="M414 454.4H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M414 454.4H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M414 454.4H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M375 415H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M375 415H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M375 415H451" stroke="#FCE77C" stroke-width="3"/>
    <path d="M412.5 453V300" stroke="#FCE77C" stroke-width="3"/>
    <path d="M412.5 453V300" stroke="#FCE77C" stroke-width="3"/>
    <path d="M412.5 453V300" stroke="#FCE77C" stroke-width="3"/>
    <rect x="17.5" y="309.5" width="38" height="38" fill="#FDCD8B" fill-opacity="0.5" stroke="#EABC7B" stroke-width="3"/>
    <line x1="4.16178e-10" y1="371.5" x2="81" y2="371.5" stroke="black"/>
    <line x1="80.5866" y1="371.719" x2="129.587" y2="299.719" stroke="black"/>
    <path d="M599.888 150.992V148.184H600.788V158.804H599.888V156.116C598.808 156.584 597.728 157.04 596.864 157.4L596.444 156.5C597.32 156.224 598.604 155.72 599.888 155.228V151.868H596.816V150.992H599.888ZM604.316 157.772H606.08C606.632 157.772 606.716 157.256 606.8 155.276C607.016 155.456 607.4 155.636 607.652 155.696C607.544 157.868 607.304 158.648 606.14 158.648H604.22C603.104 158.648 602.792 158.288 602.792 157.016V148.196H603.692V152.156C604.808 151.484 605.936 150.692 606.656 150.008L607.316 150.776C606.32 151.568 604.952 152.372 603.692 153.08V157.028C603.692 157.652 603.8 157.772 604.316 157.772ZM619.388 150.26H613.34C612.968 150.992 612.548 151.64 612.104 152.144C611.936 152 611.552 151.748 611.336 151.64C612.2 150.752 612.908 149.36 613.316 147.956L614.204 148.148C614.06 148.592 613.904 149.024 613.724 149.444H619.388V150.26ZM611.6 149.384L611.072 150.08C610.664 149.66 609.8 149.084 609.092 148.724L609.596 148.088C610.304 148.424 611.18 148.952 611.6 149.384ZM611.048 152.456L610.52 153.176C610.112 152.768 609.236 152.24 608.516 151.904L609.008 151.256C609.728 151.568 610.616 152.06 611.048 152.456ZM609.584 158.768L608.792 158.252C609.332 157.316 610.1 155.744 610.664 154.376L611.348 154.88C610.844 156.152 610.172 157.64 609.584 158.768ZM615.62 156.44H617.54C617.6 155.96 617.648 155.36 617.696 154.616H615.848C615.776 155.288 615.692 155.912 615.62 156.44ZM615.08 154.616H613.376C613.292 155.252 613.196 155.876 613.112 156.44H614.852C614.924 155.912 615.008 155.276 615.08 154.616ZM615.308 152.12H613.7C613.64 152.66 613.568 153.224 613.484 153.8H615.164C615.224 153.224 615.272 152.648 615.308 152.12ZM615.932 153.8H617.744C617.768 153.296 617.792 152.744 617.816 152.12H616.076C616.04 152.648 615.98 153.224 615.932 153.8ZM619.604 154.616H618.524C618.476 155.348 618.428 155.948 618.38 156.44H619.532V157.22H618.272C618.176 157.892 618.044 158.264 617.876 158.456C617.66 158.756 617.42 158.84 617.06 158.876C616.712 158.912 616.124 158.9 615.536 158.864C615.524 158.636 615.452 158.312 615.308 158.12C615.932 158.168 616.472 158.168 616.7 158.168C616.916 158.168 617.048 158.144 617.156 158C617.252 157.88 617.348 157.64 617.432 157.22H612.98L612.884 157.772L612.032 157.688C612.2 156.884 612.38 155.768 612.548 154.616H611.444V153.8H612.668C612.788 152.936 612.896 152.084 612.968 151.34H618.68C618.68 151.34 618.668 151.652 618.668 151.748C618.632 152.516 618.596 153.188 618.572 153.8H619.604V154.616ZM629.516 152.852V151.856H625.544V152.852H629.516ZM629.516 154.496V153.5H625.544V154.496H629.516ZM629.516 156.152V155.144H625.544V156.152H629.516ZM624.704 151.172H626.756C626.816 150.872 626.888 150.536 626.936 150.224H623.756V149.48H625.784C625.628 149.108 625.328 148.628 625.028 148.256L625.712 147.992C626.084 148.376 626.456 148.94 626.6 149.348L626.288 149.48H628.244C628.532 149.048 628.892 148.388 629.084 147.956L629.972 148.184C629.72 148.628 629.42 149.108 629.156 149.48H631.328V150.224H627.908C627.8 150.548 627.68 150.884 627.572 151.172H630.392V156.836H624.704V151.172ZM623.504 150.104L622.796 150.692C622.424 150.116 621.536 149.324 620.756 148.796L621.416 148.256C622.184 148.76 623.084 149.528 623.504 150.104ZM623.168 152.66V156.488C623.732 157.364 624.776 157.772 626.156 157.832C627.464 157.88 630.128 157.844 631.532 157.748C631.436 157.964 631.28 158.384 631.244 158.66C629.936 158.708 627.476 158.732 626.156 158.684C624.596 158.624 623.528 158.192 622.76 157.268C622.184 157.772 621.584 158.288 620.948 158.804L620.468 157.904C621.02 157.544 621.692 157.04 622.292 156.536V153.5H620.624V152.66H623.168Z" fill="black"/>
    <path d="M598.736 183.452V184.616H601.52V183.452H598.736ZM598.736 181.652V182.792H601.52V181.652H598.736ZM605.372 181.652H602.42V182.792H605.372V181.652ZM605.372 184.616V183.452H602.42V184.616H605.372ZM606.272 185.312H603.176C604.268 186.44 605.972 187.472 607.508 187.988C607.292 188.168 607.016 188.504 606.884 188.756C605.324 188.132 603.572 186.944 602.42 185.648V188.912H601.52V185.684C600.38 186.968 598.676 188.108 597.152 188.732C597.008 188.504 596.744 188.168 596.528 187.988C598.04 187.46 599.708 186.428 600.776 185.312H597.872V180.944H601.52V179.936H596.828V179.096H601.52V177.968H602.42V179.096H607.232V179.936H602.42V180.944H606.272V185.312ZM611.888 180.992V178.184H612.788V188.804H611.888V186.116C610.808 186.584 609.728 187.04 608.864 187.4L608.444 186.5C609.32 186.224 610.604 185.72 611.888 185.228V181.868H608.816V180.992H611.888ZM616.316 187.772H618.08C618.632 187.772 618.716 187.256 618.8 185.276C619.016 185.456 619.4 185.636 619.652 185.696C619.544 187.868 619.304 188.648 618.14 188.648H616.22C615.104 188.648 614.792 188.288 614.792 187.016V178.196H615.692V182.156C616.808 181.484 617.936 180.692 618.656 180.008L619.316 180.776C618.32 181.568 616.952 182.372 615.692 183.08V187.028C615.692 187.652 615.8 187.772 616.316 187.772Z" fill="black"/>
    <path d="M600.608 209.144H597.98V210.068H600.608V209.144ZM597.98 211.676H600.608V210.68H597.98V211.676ZM601.448 212.336H597.98V218.924H597.104V208.472H601.448V212.336ZM603.356 211.7H606.08V210.68H603.356V211.7ZM606.08 209.144H603.356V210.068H606.08V209.144ZM606.956 208.472V217.856C606.956 218.336 606.86 218.6 606.536 218.756C606.236 218.9 605.72 218.912 604.964 218.912C604.94 218.696 604.832 218.348 604.724 218.12C604.676 218.192 604.628 218.264 604.604 218.324C603.428 218.012 602.552 217.388 602 216.524C601.652 217.196 600.896 217.868 599.3 218.36C599.192 218.192 598.952 217.916 598.772 217.76C600.464 217.292 601.124 216.608 601.364 215.984H598.88V215.3H601.496V215.192V214.364H599.084V213.692H600.368C600.248 213.38 600.044 212.996 599.828 212.72L600.524 212.492C600.812 212.864 601.088 213.356 601.172 213.692H602.732C602.936 213.32 603.188 212.828 603.308 212.468L604.112 212.732C603.908 213.056 603.692 213.404 603.5 213.692H604.916V214.364H602.288V215.204V215.3H605.12V215.984H602.48C602.984 216.836 603.884 217.424 605.108 217.664C605 217.76 604.868 217.916 604.76 218.06C605.264 218.084 605.732 218.084 605.876 218.072C606.032 218.072 606.08 218.012 606.08 217.844V212.348H602.504V208.472H606.956ZM610.736 213.452V214.616H613.52V213.452H610.736ZM610.736 211.652V212.792H613.52V211.652H610.736ZM617.372 211.652H614.42V212.792H617.372V211.652ZM617.372 214.616V213.452H614.42V214.616H617.372ZM618.272 215.312H615.176C616.268 216.44 617.972 217.472 619.508 217.988C619.292 218.168 619.016 218.504 618.884 218.756C617.324 218.132 615.572 216.944 614.42 215.648V218.912H613.52V215.684C612.38 216.968 610.676 218.108 609.152 218.732C609.008 218.504 608.744 218.168 608.528 217.988C610.04 217.46 611.708 216.428 612.776 215.312H609.872V210.944H613.52V209.936H608.828V209.096H613.52V207.968H614.42V209.096H619.232V209.936H614.42V210.944H618.272V215.312Z" fill="black"/>
    <path d="M602.432 244.148H605.876V240.968H602.432V244.148ZM598.076 244.148H601.508V240.968H598.076V244.148ZM602.432 240.092H606.788V245.708H605.876V245.024H602.432V248.912H601.508V245.024H598.076V245.768H597.2V240.092H601.508V237.956H602.432V240.092ZM614.54 239.288V240.068H608.852V239.288H611.252V238.004H612.104V239.288H614.54ZM613.064 242.468L612.344 242.288C612.572 241.736 612.872 240.848 613.016 240.248L613.856 240.452C613.604 241.148 613.316 241.94 613.064 242.468ZM610.88 242.252L610.112 242.432C610.052 241.904 609.836 241.1 609.584 240.488L610.328 240.332C610.604 240.92 610.82 241.736 610.88 242.252ZM613.172 245.228H610.172V247.436H613.172V245.228ZM609.344 248.924V244.436H614.036V248.852H613.172V248.216H610.172V248.924H609.344ZM608.54 243.392V242.576H614.708V243.392H608.54ZM618.86 238.628L619.508 239.048C619.016 240.176 618.404 241.556 617.84 242.648C619.04 243.752 619.34 244.7 619.352 245.552C619.352 246.284 619.184 246.836 618.764 247.112C618.548 247.256 618.296 247.34 617.984 247.376C617.684 247.412 617.288 247.412 616.94 247.4C616.928 247.148 616.844 246.764 616.688 246.512C617.06 246.548 617.384 246.548 617.636 246.536C617.816 246.524 618.008 246.488 618.152 246.404C618.404 246.248 618.476 245.888 618.476 245.456C618.476 244.7 618.14 243.812 616.928 242.768C617.42 241.76 617.948 240.464 618.32 239.504H616.052V248.912H615.188V238.664H618.716L618.86 238.628Z" fill="black"/>
    <path d="M602.432 304.148H605.876V300.968H602.432V304.148ZM598.076 304.148H601.508V300.968H598.076V304.148ZM602.432 300.092H606.788V305.708H605.876V305.024H602.432V308.912H601.508V305.024H598.076V305.768H597.2V300.092H601.508V297.956H602.432V300.092ZM614.36 305.636H617.3V306.392H610.76V305.636H613.52V303.62H611.264V302.852H613.52V301.148H610.928V300.344H617.06V301.148H614.36V302.852H616.76V303.62H614.36V305.636ZM615.116 304.148L615.68 303.836C616.124 304.22 616.652 304.772 616.892 305.144L616.28 305.504C616.052 305.132 615.548 304.556 615.116 304.148ZM609.968 307.496H617.996V299.336H609.968V307.496ZM609.08 298.508H618.92V308.924H617.996V308.324H609.968V308.924H609.08V298.508Z" fill="black"/>
    <path d="M604.28 272.312H601.832C601.76 273.8 601.412 275.6 600.164 276.932C600.056 276.74 599.744 276.44 599.528 276.32C600.836 274.904 600.992 273.008 600.992 271.544V268.772L601.7 268.928C603.272 268.7 604.988 268.376 605.972 268.004L606.728 268.676C605.42 269.12 603.536 269.444 601.856 269.66V271.484H607.388V272.312H605.168V277.232H604.28V272.312ZM599.504 270.104L598.796 270.692C598.424 270.116 597.536 269.324 596.756 268.796L597.416 268.256C598.184 268.76 599.084 269.528 599.504 270.104ZM599.168 272.66V276.488C599.732 277.364 600.776 277.772 602.156 277.832C603.464 277.88 606.128 277.844 607.532 277.748C607.436 277.964 607.28 278.384 607.244 278.66C605.936 278.708 603.476 278.732 602.156 278.684C600.596 278.624 599.528 278.192 598.76 277.268C598.184 277.772 597.584 278.288 596.948 278.804L596.468 277.904C597.02 277.544 597.692 277.04 598.292 276.536V273.5H596.624V272.66H599.168ZM608.936 271.808L609.8 271.772C610.052 271.532 610.316 271.244 610.58 270.932C610.172 270.536 609.572 270.056 609.056 269.72L609.5 269.204C609.632 269.288 609.764 269.372 609.908 269.468C610.22 269 610.556 268.4 610.76 267.968L611.444 268.28C611.108 268.796 610.724 269.384 610.376 269.816C610.616 270.008 610.856 270.2 611.036 270.38C611.444 269.876 611.828 269.36 612.104 268.916L612.776 269.264C612.152 270.056 611.36 271.004 610.652 271.748C611.192 271.724 611.768 271.7 612.344 271.676C612.2 271.364 612.044 271.064 611.888 270.8L612.512 270.584C612.896 271.232 613.316 272.084 613.484 272.612L612.836 272.876C612.788 272.708 612.704 272.504 612.62 272.288C611.336 272.372 610.076 272.456 609.068 272.54L608.936 271.808ZM611.768 277.604H612.956V276.644H611.768V277.604ZM609.968 276.644V277.604H611.144V276.644H609.968ZM611.144 275.12H609.968V276.056H611.144V275.12ZM612.956 276.056V275.12H611.768V276.056H612.956ZM617.396 274.196L618.176 274.508C617.72 275.42 617.108 276.26 616.364 276.992C616.88 277.676 617.456 278.072 618.092 278.072C618.524 278.072 618.692 277.664 618.788 276.32C618.98 276.488 619.268 276.68 619.496 276.752C619.316 278.432 618.992 278.9 618.044 278.9C617.132 278.9 616.364 278.408 615.728 277.58C615.044 278.132 614.288 278.612 613.484 278.984C613.352 278.78 613.112 278.492 612.908 278.3L613.112 278.216H609.968V278.612H609.26V274.508H613.664V277.952C614.24 277.652 614.78 277.292 615.26 276.884C614.804 276.068 614.432 275.048 614.144 273.884H608.672V273.14H613.976C613.664 271.568 613.496 269.792 613.472 267.968H614.336C614.336 269.852 614.516 271.616 614.852 273.14H616.988C616.748 272.936 616.472 272.732 616.232 272.564L616.736 272.24C616.1 272.288 615.488 272.336 614.96 272.36L614.828 271.664L615.56 271.64C615.776 271.412 616.016 271.148 616.244 270.884C615.836 270.5 615.26 270.044 614.756 269.72L615.176 269.216C615.296 269.288 615.416 269.372 615.548 269.456C615.86 268.988 616.196 268.388 616.4 267.956L617.096 268.268C616.748 268.772 616.364 269.348 616.028 269.804C616.268 269.984 616.508 270.164 616.688 270.332C617.12 269.804 617.516 269.252 617.804 268.796L618.464 269.132C617.864 269.912 617.072 270.86 616.364 271.604C616.94 271.58 617.564 271.556 618.2 271.52C618.032 271.196 617.84 270.872 617.648 270.596L618.26 270.38C618.692 271.004 619.16 271.844 619.34 272.372L618.692 272.648C618.644 272.492 618.572 272.312 618.488 272.108L616.844 272.24C617.264 272.492 617.744 272.864 617.972 273.128L617.96 273.14H619.364V273.884H615.02C615.272 274.808 615.572 275.624 615.92 276.272C616.532 275.648 617.036 274.94 617.396 274.196Z" fill="black"/>
    <path d="M598.016 336.872H605.996V329.912H603.548V333.428C603.548 333.656 603.572 333.788 603.644 333.836C603.728 333.872 603.836 333.884 603.98 333.884H604.532C604.676 333.884 604.856 333.872 604.928 333.848C605.012 333.812 605.084 333.716 605.12 333.548C605.156 333.38 605.168 332.972 605.18 332.456C605.336 332.6 605.636 332.756 605.864 332.816C605.84 333.308 605.816 333.884 605.732 334.088C605.648 334.304 605.516 334.436 605.312 334.52C605.144 334.604 604.832 334.628 604.592 334.628H603.776C603.5 334.628 603.176 334.568 602.984 334.424C602.78 334.268 602.696 334.076 602.696 333.344V329.912H601.112C600.98 332.432 600.596 334.304 598.76 335.384C598.652 335.18 598.388 334.88 598.196 334.724C599.84 333.812 600.152 332.132 600.248 329.912H598.016V336.872ZM597.116 329.048H606.92V338.48H605.996V337.712H598.016V338.576H597.116V329.048ZM614.36 335.636H617.3V336.392H610.76V335.636H613.52V333.62H611.264V332.852H613.52V331.148H610.928V330.344H617.06V331.148H614.36V332.852H616.76V333.62H614.36V335.636ZM615.116 334.148L615.68 333.836C616.124 334.22 616.652 334.772 616.892 335.144L616.28 335.504C616.052 335.132 615.548 334.556 615.116 334.148ZM609.968 337.496H617.996V329.336H609.968V337.496ZM609.08 328.508H618.92V338.924H617.996V338.324H609.968V338.924H609.08V328.508Z" fill="black"/>
    <path d="M605.18 367.868H606.404C606.74 367.868 606.8 367.58 606.836 366.14C607.04 366.32 607.424 366.464 607.664 366.536C607.58 368.204 607.352 368.744 606.464 368.744H605.048C604.124 368.744 603.836 368.456 603.836 367.364V361.904H601.088C600.836 364.904 599.996 367.448 597.104 368.912C596.984 368.696 596.684 368.372 596.444 368.204C599.156 366.92 599.936 364.628 600.164 361.904H596.996V361.016H600.224C600.26 360.08 600.26 359.096 600.26 358.088H601.208C601.196 359.084 601.196 360.068 601.148 361.016H604.376V361.028H604.736V367.376C604.736 367.796 604.796 367.868 605.18 367.868ZM610.868 358.172H611.744V361.868C611.744 364.316 611.504 366.932 609.38 368.9C609.236 368.684 608.924 368.384 608.732 368.228C610.664 366.44 610.868 364.064 610.868 361.868V358.172ZM614.264 358.424H615.14V368.096H614.264V358.424ZM617.816 358.124H618.704V368.768H617.816V358.124ZM609.524 360.896L610.28 361.112C610.064 362.18 609.716 363.548 609.164 364.388L608.408 364.052C608.948 363.224 609.344 361.952 609.524 360.896ZM612.044 361.388L612.776 361.1C613.196 362.06 613.604 363.296 613.724 364.064L612.944 364.4C612.836 363.62 612.464 362.348 612.044 361.388ZM615.416 361.328L616.1 360.992C616.664 361.916 617.252 363.14 617.468 363.908L616.712 364.304C616.508 363.524 615.956 362.264 615.416 361.328Z" fill="black"/>
    <path d="M599.312 392.384L598.82 393.14C598.328 392.756 597.332 392.252 596.504 391.94L596.984 391.268C597.776 391.544 598.796 392.012 599.312 392.384ZM597.668 398.756L596.912 398.168C597.548 397.244 598.46 395.684 599.144 394.328L599.804 394.904C599.18 396.164 598.352 397.64 597.668 398.756ZM597.152 388.7L597.644 388.052C598.436 388.352 599.432 388.88 599.936 389.312L599.408 390.032C598.928 389.6 597.968 389.036 597.152 388.7ZM604.16 394.016H606.368V391.148H604.16V394.016ZM601.124 394.016H603.272V391.148H601.124V394.016ZM604.16 390.284H607.232V395.504H606.368V394.868H604.16V398.9H603.272V394.868H601.124V395.576H600.296V390.284H603.272V388.004H604.16V390.284ZM609.104 394.76L609.86 394.892C609.692 396.02 609.416 397.172 609.032 397.94C608.9 397.832 608.54 397.676 608.372 397.616C608.744 396.884 608.972 395.804 609.104 394.76ZM611.564 394.928L612.224 394.736C612.524 395.42 612.788 396.308 612.86 396.896L612.164 397.1C612.104 396.524 611.864 395.612 611.564 394.928ZM611.252 392.048L611.9 391.784C612.404 392.552 612.884 393.584 613.064 394.244L612.356 394.568C612.308 394.34 612.224 394.076 612.104 393.8L611.156 393.86V398.912H610.364V393.908C609.668 393.956 609.008 393.992 608.456 394.028L608.396 393.224L609.224 393.188C609.464 392.888 609.716 392.552 609.968 392.192C609.62 391.652 609.02 390.968 608.48 390.452L608.96 389.888C609.08 389.996 609.2 390.104 609.32 390.224C609.716 389.54 610.136 388.628 610.388 387.968L611.168 388.256C610.76 389.084 610.244 390.056 609.788 390.728C610.04 390.992 610.256 391.256 610.436 391.496C610.928 390.752 611.384 389.972 611.72 389.324L612.464 389.672C611.78 390.764 610.88 392.12 610.064 393.14L611.792 393.056C611.624 392.708 611.444 392.36 611.252 392.048ZM613.928 396.452H615.644V395.432H613.928V396.452ZM615.644 393.764H613.928V394.772H615.644V393.764ZM618.332 393.764H616.472V394.772H618.332V393.764ZM616.472 396.452H618.332V395.432H616.472V396.452ZM614.048 391.736H615.644V390.752H614.048V391.736ZM614.048 389.18V390.128H615.644V389.18H614.048ZM618.116 390.128V389.18H616.472V390.128H618.116ZM618.116 391.736V390.752H616.472V391.736H618.116ZM616.988 398.24H618.512C618.836 398.24 618.908 398.036 618.944 397.232C619.124 397.364 619.436 397.484 619.664 397.532C619.58 398.6 619.352 398.936 618.56 398.936H616.868C615.908 398.936 615.644 398.684 615.644 397.64V397.124H613.928V397.784H613.136V393.092H615.644V392.384H613.28V388.52H618.92V392.384H616.472V393.092H619.148V397.124H616.472V397.652C616.472 398.156 616.532 398.24 616.988 398.24Z" fill="black"/>
    <rect x="569" y="144" width="19" height="19" fill="#73DFFC" stroke="black" stroke-width="2"/>
    <rect x="569" y="174" width="19" height="19" fill="#74FCA0" stroke="black" stroke-width="2"/>
    <rect x="569" y="234" width="19" height="19" fill="#FCE77C" stroke="black" stroke-width="2"/>
    <rect x="569" y="204" width="19" height="19" fill="#FF998A" stroke="black" stroke-width="2"/>
    <rect x="569" y="264" width="19" height="19" fill="#FCAFDD" stroke="black" stroke-width="2"/>
    <rect x="569" y="294" width="19" height="19" fill="#B0BAFF" stroke="black" stroke-width="2"/>
    <rect x="569" y="354" width="19" height="19" fill="#DE9DFB" stroke="black" stroke-width="2"/>
    <rect x="569" y="384" width="19" height="19" fill="#FDCD8B" stroke="black" stroke-width="2"/>
    <rect x="569" y="324" width="19" height="19" fill="#B9FE91" stroke="black" stroke-width="2"/>
    </svg>
</template>
