<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 1H0V0H16V1ZM16 9H0V8H16V9ZM16 4.99218H0V4H16V4.99218Z" fill="currentColor"/>
    </svg>
</template>