<template>    
    <svg
        preserveAspectRatio="xMidYMid meet"
        width="100%" height="100%" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.23086 1.52012C8.22463 0.563924 6.8655 0.0185432 5.44261 0H5.38873C3.96584 0.0185432 2.60671 0.563924 1.60048 1.52012C0.594245 2.47632 0.0203256 3.76786 0.000812178 5.12C-0.0172709 6.08036 0.266972 7.02396 0.817081 7.82976L5.05663 16H5.77471L10.0143 7.82976C10.5644 7.02396 10.8486 6.08036 10.8305 5.12C10.811 3.76786 10.2371 2.47632 9.23086 1.52012ZM5.3952 7.89C6.8836 7.89 8.0902 6.68341 8.0902 5.195C8.0902 3.70659 6.8836 2.5 5.3952 2.5C3.90679 2.5 2.7002 3.70659 2.7002 5.195C2.7002 6.68341 3.90679 7.89 5.3952 7.89Z" fill="currentColor"/>
        <circle cx="5.4502" cy="5.19995" r="1" fill="currentColor"/>
    </svg>
</template>