<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.00001 10.7071L12 5.70711L12 5L7.00001 -2.18557e-07L6.2929 0.707107L10.4393 4.85355L-2.12155e-07 4.85355L-2.55867e-07 5.85355L10.4393 5.85355L6.2929 9.99998L7.00001 10.7071Z" fill="currentColor"/>
    </svg>
</template>