<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H16V16H0V0Z" fill="currentColor"/>
        <path d="M1.68421 1.5H4.63158V14.7077H1.68421V1.5Z" fill="white"/>
        <path d="M6.31579 1.5H14.3158V7H6.31579V1.5Z" fill="white"/>
        <path d="M6.31579 9H9.26316V14.7077H6.31579V9Z" fill="white"/>
        <path d="M11.3684 9H14.3158V14.7077H11.3684V9Z" fill="white"/>
    </svg>
</template>
