<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C10.866 14 14 10.866 14 7C14 3.13401 10.866 0 7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14ZM6.02625 3.52497C6.01197 3.23938 6.23968 3 6.52562 3H7.47438C7.76032 3 7.98803 3.23938 7.97375 3.52497L7.77375 7.52497C7.76045 7.79107 7.54081 8 7.27438 8H6.72562C6.45919 8 6.23955 7.79107 6.22625 7.52497L6.02625 3.52497ZM6 10C6 9.4477 6.44772 9 7 9C7.55228 9 8 9.4477 8 10C8 10.5523 7.55228 11 7 11C6.44772 11 6 10.5523 6 10Z"
        fill="currentColor"/>
    </svg>
</template>
