<template>    
    <svg
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 3.29763L7.50264 2.88288e-07L8 0.468249L4.24868 4H3.75132L0 0.468248L0.49736 0L4 3.29763Z" fill="currentColor"/>
    </svg>
</template>