<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.92013 6.51501L9.32013 4.01501L10.0201 4.71501L7.62013 7.21501L10.0201 9.71501L9.32013 10.415L6.92013 7.91501L4.52013 10.415L3.82013 9.71501L6.22013 7.21501L3.82013 4.71501L4.52013 4.01501L6.92013 6.51501Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62014 0.015C9.22014 0.115 10.7201 0.915 11.8201 2.015C13.1201 3.415 13.8201 5.115 13.8201 7.115C13.8201 8.715 13.2201 10.215 12.2201 11.515C11.2201 12.715 9.82014 13.615 8.22014 13.915C6.62014 14.215 5.02014 14.015 3.62014 13.215C2.22014 12.415 1.12014 11.215 0.520139 9.715C-0.079861 8.215 -0.179861 6.515 0.320139 5.015C0.820139 3.415 1.72014 2.115 3.12014 1.215C4.42014 0.315 6.02014 -0.085 7.62014 0.015ZM8.12014 12.915C9.42014 12.615 10.6201 11.915 11.5201 10.815C12.3201 9.715 12.8201 8.415 12.7201 7.015C12.7201 5.415 12.1201 3.815 11.0201 2.715C10.0201 1.715 8.82014 1.115 7.42014 1.015C6.12014 0.915 4.72014 1.215 3.62014 2.015C2.52014 2.815 1.72014 3.915 1.32014 5.315C0.920139 6.615 0.920139 8.015 1.52014 9.315C2.12014 10.615 3.02014 11.615 4.22014 12.315C5.42014 13.015 6.82014 13.215 8.12014 12.915Z" fill="currentColor"/>
    </svg>
</template>