<template>
    <svg    width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.42857 8.5H2.28571V9.71429H3.42857V8.5Z" fill="currentColor"/>
        <path d="M2.28571 10.9295H3.42857V12.1437H2.28571V10.9295Z" fill="currentColor"/>
        <path d="M3.42857 13.3586H2.28571V14.5729H3.42857V13.3586Z" fill="currentColor"/>
        <path d="M5.71429 8.5H6.85714V9.71429H5.71429V8.5Z" fill="currentColor"/>
        <path d="M6.85714 10.9295H5.71429V12.1437H6.85714V10.9295Z" fill="currentColor"/>
        <path d="M5.71429 13.3586H6.85714V14.5729H5.71429V13.3586Z" fill="currentColor"/>
        <path d="M6.85714 6.07054H5.71429V7.28482H6.85714V6.07054Z" fill="currentColor"/>
        <path d="M9.14286 8.5H10.2857V9.71429H9.14286V8.5Z" fill="currentColor"/>
        <path d="M10.2857 10.9295H9.14286V12.1437H10.2857V10.9295Z" fill="currentColor"/>
        <path d="M9.14286 13.3586H10.2857V14.5729H9.14286V13.3586Z" fill="currentColor"/>
        <path d="M10.2857 6.07054H9.14286V7.28482H10.2857V6.07054Z" fill="currentColor"/>
        <path d="M12.5725 8.5H13.7154V9.71429H12.5725V8.5Z" fill="currentColor"/>
        <path d="M13.7154 10.9295H12.5725V12.1437H13.7154V10.9295Z" fill="currentColor"/>
        <path d="M12.5725 6.07054H13.7154V7.28482H12.5725V6.07054Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4286 1.21429H13.7143V0H12.5714V1.21429H3.42857V0H2.28571V1.21429H0.571429L0 1.82143V16.3929L0.571429 17H15.4286L16 16.3929V1.82143L15.4286 1.21429ZM14.8571 15.7857H1.14286V4.85714H14.8571V15.7857ZM14.8571 3.64286H1.14286V2.42857H14.8571V3.64286Z" fill="currentColor"/>
    </svg>
</template>
