<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.16108 7.35H4.14983L10.5 0.990248L9.51125 0L3.66242 5.8716L0.988754 3.19388L0 4.18413L3.16108 7.35Z" fill="currentColor"/>
    </svg>
</template>