<template>    
    <svg 
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%"
        viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.20287 10.2085C2.68677 10.2267 3.92751 11.366 4.08078 12.8466C3.30478 13.3303 1.63562 13.7575 0.619657 13.9867C0.233445 14.0737 -0.0930344 13.7202 0.0242036 13.3435C0.295464 12.4719 0.753566 11.0992 1.20287 10.2085Z" fill="currentColor"/>
        <path d="M13.6957 3.16902C14.1838 2.36772 14.0849 1.30361 13.3988 0.608881C12.706 -0.0924939 11.6415 -0.187927 10.8477 0.32257C11.4972 1.52987 12.4877 2.51998 13.6957 3.16902Z" fill="currentColor"/>
        <path d="M9.54382 1.5656L2.49853 8.65197C3.88431 9.06522 5.00769 10.1067 5.53001 11.4548L12.4689 4.4829C11.2748 3.75809 10.2716 2.75743 9.54382 1.5656Z" fill="currentColor"/>
    </svg>
</template>