<template>
    <svg
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path   fill-rule="evenodd" clip-rule="evenodd" d="M3.48718 6.4L0 3.84V16H16V4.05333H12.5128L8 0L3.48718 6.4ZM3.89744 9.17333L2.05128 7.808V10.88L4.10256 13.0133H4.71795L8.20513 8.32L14.359 13.44V5.76H11.6923L8.41026 2.77333L3.89744 9.17333Z"
                fill="currentColor"/>
    </svg>
</template>
