<template>    
    <svg
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%"
        viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.571429 16H16V14.8571H1.14286V0H0V15.4286L0.571429 16Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.28571 13.1429V4L2.85714 3.42857H5.14286L5.71429 4V13.1429L5.14286 13.7143H2.85714L2.28571 13.1429ZM4.57143 12.5714V4.57143H3.42857V12.5714H4.57143Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4286 1.71429V13.1429L12 13.7143H14.2857L14.8571 13.1429V1.71429L14.2857 1.14286H12L11.4286 1.71429ZM13.7143 2.28571V12.5714H12.5714V2.28571H13.7143Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.85714 13.1429V6.28571L7.42857 5.71429H9.71429L10.2857 6.28571V13.1429L9.71429 13.7143H7.42857L6.85714 13.1429ZM9.14286 12.5714V6.85714H8V12.5714H9.14286Z" fill="currentColor"/>
    </svg>
</template>
