<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.432432 5.33333H4.32432V15.5556H0.432432V5.33333Z" fill="currentColor"/>
        <path d="M6.05405 0.444444H9.94595V15.5556H6.05405V0.444444Z" fill="currentColor"/>
        <path d="M11.6757 8.88889H15.5676V15.5556H11.6757V8.88889Z" fill="currentColor"/>
    </svg>
</template>
