<template>
    <svg xmlns="http://www.w3.org/2000/svg"
        width="100%" height="100%"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 29 18" fill="none">
        <path d="M6.92647 0H8.11029L8.88825 0.778195V12.8572H7.73823L6.92647 12.079V0Z" fill="currentColor"/>
        <path d="M4.55882 0.744361L3.67941 1.59023V12.0451H5.70882V0.744361H4.55882Z" fill="currentColor"/>
        <path d="M14.1647 2.30075L13.2853 3.14662V8.18799H14.4691L15.3147 7.37594V2.30075H14.1647Z" fill="currentColor"/>
        <path d="M1.37942 3.99248L0.5 4.83835V12.9248H1.68382L2.52941 12.1128V3.99248H1.37942Z" fill="currentColor"/>
        <path d="M26.0706 5.98872L26.95 5.14285H28.1V13.2293L27.2544 14.0413H26.0706V5.98872Z" fill="currentColor"/>
        <path d="M14.1647 9.87969L13.2853 10.7255V15.7669H14.4691L15.3147 14.9549V9.87969H14.1647Z" fill="currentColor"/>
        <path d="M22.8912 5.98872H24.9206V16.4436L24.075 17.2557H22.8912V5.98872Z" fill="currentColor"/>
        <path d="M20.8956 5.14285H19.7118V17.2218L20.5236 18H21.6735V5.92105L20.8956 5.14285Z" fill="currentColor"/>
        <path d="M10.1059 3.18045H11.2897L12.0677 3.95865V14.8872H10.9177L10.1059 14.109V3.18045Z" fill="currentColor"/>
        <path d="M17.7161 3.18045H16.5323V14.109L17.3441 14.8872H18.4941V3.95865L17.7161 3.18045Z" fill="currentColor"/>
    </svg>
</template>