<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path   fill-rule="evenodd" clip-rule="evenodd" d="M10.8305 5.12C10.811 3.76786 10.2371 2.47632 9.23086 1.52012C8.22463 0.563924 6.8655 0.0185432 5.44261 0H5.38873C3.96584 0.0185432 2.60671 0.563924 1.60048 1.52012C0.594245 2.47632 0.0203256 3.76786 0.000812178 5.12C-0.0172709 6.08036 0.266972 7.02396 0.817081 7.82976L5.05663 16H5.77471L10.0143 7.82976C10.5644 7.02396 10.8486 6.08036 10.8305 5.12ZM5.41567 13.4352L8.72446 7.05866L8.77542 6.98402C9.15292 6.43106 9.34292 5.79204 9.33079 5.14824L9.33067 5.14165C9.31715 4.2049 8.91997 3.29393 8.19758 2.60747C7.47484 1.92067 6.48434 1.51594 5.4321 1.5H5.39924C4.347 1.51594 3.35649 1.92067 2.63376 2.60747C1.91137 3.29393 1.51417 4.20489 1.50066 5.14164L1.50056 5.14824C1.48842 5.79204 1.67842 6.43106 2.05592 6.98402L2.10688 7.05866L5.41567 13.4352Z"
                fill="currentColor"/>
        <path   d="M7.40039 5.19995C7.40039 6.30452 6.50496 7.19995 5.40039 7.19995C4.29582 7.19995 3.40039 6.30452 3.40039 5.19995C3.40039 4.09538 4.29582 3.19995 5.40039 3.19995C6.50496 3.19995 7.40039 4.09538 7.40039 5.19995Z"
                fill="currentColor"/>
    </svg>
</template>
