<template>    
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.5791 1.66234L11.3686 0L16.0002 2.07792L15.158 3.32468L11.3686 1.66234L9.45462 3.74035L11.3684 5.81813L15.1578 4.15579L15.9999 5.40255L11.3684 7.48047L7.5789 5.81813V4.57152H4.37906C4.1935 4.92979 3.91497 5.23336 3.57487 5.45123L6 13.2987H7.25664V16H0.0987439V13.2987H1.64008L1.52533 5.68164C0.635577 5.36276 0 4.52091 0 3.53254C0 2.27018 1.03681 1.24683 2.31579 1.24683C3.37582 1.24683 4.2695 1.94979 4.54441 2.90918H7.5791V1.66234Z" fill="currentColor"/>
        <path d="M9 9.4375C9 9.19588 9.19588 9 9.4375 9H15.5625C15.8041 9 16 9.19588 16 9.4375V15.5625C16 15.8041 15.8041 16 15.5625 16H9.4375C9.19588 16 9 15.8041 9 15.5625V9.4375Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.875 14.875V10.875L10.125 10.625H11.125L11.375 10.875V14.875L11.125 15.125H10.125L9.875 14.875Z" fill="hsl(var(--surface-0))"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.875 9.875V14.875L14.125 15.125H15.125L15.375 14.875V9.875L15.125 9.625H14.125L13.875 9.875Z" fill="hsl(var(--surface-0))"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.875 14.875V11.875L12.125 11.625H13.125L13.375 11.875V14.875L13.125 15.125H12.125L11.875 14.875Z" fill="hsl(var(--surface-0))"/>
    </svg>
</template>
