<template>    
    <svg 
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.72981 6.09863C7.10585 5.84737 7.54798 5.71322 8.00024 5.71322C8.60616 5.71498 9.18677 5.95648 9.61523 6.38493C10.0437 6.81338 10.2852 7.394 10.2869 7.99992C10.2869 8.45218 10.1528 8.89431 9.90152 9.27035C9.65026 9.64639 9.29315 9.93948 8.87532 10.1125C8.45748 10.2856 7.99768 10.3309 7.55411 10.2427C7.11054 10.1544 6.70309 9.93666 6.38329 9.61686C6.0635 9.29707 5.84571 8.88962 5.75748 8.44604C5.66925 8.00247 5.71453 7.54267 5.88761 7.12484C6.06068 6.707 6.35377 6.3499 6.72981 6.09863ZM7.36685 8.94775C7.55433 9.07302 7.77477 9.13989 8.00024 9.13989C8.15019 9.14078 8.29886 9.11191 8.43757 9.05493C8.57628 8.99796 8.70231 8.91406 8.80834 8.80802C8.91438 8.70199 8.99827 8.57597 9.05525 8.43726C9.11223 8.29855 9.1411 8.14987 9.14021 7.99992C9.14021 7.77445 9.07334 7.55401 8.94807 7.36654C8.82281 7.17906 8.64482 7.03298 8.43652 6.9467C8.22821 6.86041 7.99896 6.83785 7.77782 6.88184C7.55669 6.92582 7.3536 7.03442 7.19417 7.19385C7.03473 7.35328 6.92614 7.55637 6.88215 7.77751C6.83817 7.99865 6.86073 8.22789 6.94701 8.4362C7.0333 8.64451 7.17938 8.82249 7.36685 8.94775Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2333 5.83333L16 6.38664V9.61336L13.2333 10.1667L14.8 12.5133L12.5133 14.8L10.1667 13.2333L9.61336 16H6.38664L5.83333 13.2333L3.48665 14.8L1.20003 12.5133L2.76668 10.1667L0 9.61336V6.38664L2.76668 5.83333L1.20003 3.48665L3.48665 1.20003L5.83333 2.76668L6.38664 0H9.61336L10.1667 2.76668L12.5133 1.20003L14.8 3.48665L13.2333 5.83333ZM12.1867 9.2133L14.8534 8.67334V7.34001L12.1867 6.79997L11.8267 5.93335L13.3534 3.64665L12.4 2.69336L10.1134 4.21997L9.24666 3.86003L8.70671 1.19336H7.37337L6.83333 3.86003L5.96663 4.21997L3.68001 2.69336L2.72664 3.64665L4.25334 5.93335L3.89331 6.79997L1.22664 7.34001V8.67334L3.89331 9.2133L4.25334 10.08L2.72664 12.3667L3.68001 13.32L5.96663 11.7933L6.83333 12.1533L7.37337 14.82H8.70671L9.24666 12.1533L10.1134 11.7933L12.4 13.32L13.3534 12.3667L11.8267 10.08L12.1867 9.2133Z" fill="currentColor"/>
    </svg>
</template>
