<template>    
    <svg    xmlns="http://www.w3.org/2000/svg"
            width="100%" height="100%"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16" fill="none"> 
            <path d="M9.54774 6.87072e-07C8.48272 -0.000530181 7.44026 0.306582 6.54567 0.884468C5.65107 1.46235 4.94242 2.28637 4.50503 3.25742C4.06763 4.22847 3.92011 5.3052 4.08013 6.35812C4.24015 7.41105 4.70086 8.39535 5.407 9.19261L0 15.33L0.750415 16L6.14408 9.88945C6.83784 10.4317 7.65107 10.8004 8.51613 10.9648C9.38119 11.1292 10.273 11.0846 11.1174 10.8346C11.9617 10.5846 12.734 10.1365 13.3702 9.5277C14.0063 8.91886 14.4877 8.1669 14.7745 7.33436C15.0612 6.50181 15.1449 5.61275 15.0186 4.74132C14.8923 3.86989 14.5596 3.04131 14.0483 2.32445C13.5369 1.60759 12.8618 1.02319 12.0789 0.620044C11.2961 0.216897 10.4283 0.00664332 9.54774 0.0067074V6.87072e-07ZM9.54774 10.0502C8.65325 10.0502 7.77883 9.78501 7.03509 9.28806C6.29135 8.7911 5.71168 8.08478 5.36937 7.25838C5.02707 6.43198 4.93748 5.5226 5.11198 4.6453C5.28649 3.768 5.71728 2.96218 6.34978 2.32968C6.98228 1.69718 7.78809 1.26639 8.66539 1.09189C9.5427 0.91738 10.4521 1.00697 11.2785 1.34928C12.1049 1.69158 12.8112 2.27125 13.3082 3.01499C13.8051 3.75873 14.0703 4.63315 14.0703 5.52764C14.0703 6.72711 13.5938 7.87744 12.7457 8.72559C11.8975 9.57375 10.7472 10.0502 9.54774 10.0502Z"
                fill="currentColor"/>
    </svg>
</template>
