<template>
    <svg 
        width="100%" height="100%" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.09302 0H2.60465V1.48837H1.48837C0.666367 1.48837 0 2.15474 0 2.97674V14.5116C0 15.3336 0.666367 16 1.48837 16H13.0233C13.8453 16 14.5116 15.3336 14.5116 14.5116V2.97674C14.5116 2.15474 13.8453 1.48837 13.0233 1.48837H11.907V0H10.4186V1.48837H4.09302V0ZM1.48837 2.97674H13.0233V4.83721H1.48837V2.97674ZM13.0233 6.32558H1.48837V14.5116H13.0233V6.32558Z"
              fill="currentColor"/>
        <path d="M3.34884 11.1628H8.93023V12.6512H3.34884V11.1628Z" fill="currentColor"/>
        <path d="M3.34884 7.81395H11.1628V9.30233H3.34884V7.81395Z" fill="currentColor"/>
    </svg>
</template>
