<template>    
    <svg 
        preserveAspectRatio="xMidYMid meet" width="100%" height="100%" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.5218 3.41843H12.5788C13.4862 3.41843 14.3564 3.77965 14.998 4.42264C15.6396 5.06563 16 5.93771 16 6.84703C16 7.75636 15.6396 8.62843 14.998 9.27142C14.3564 9.91441 13.4862 10.2756 12.5788 10.2756H10.298V9.13277H12.5788C13.1837 9.13277 13.7638 8.89195 14.1916 8.46329C14.6193 8.03463 14.8596 7.45325 14.8596 6.84703C14.8596 6.24082 14.6193 5.65943 14.1916 5.23077C13.7638 4.80211 13.1837 4.56129 12.5788 4.56129H11.5342L11.3928 3.58186C11.3072 2.96746 11.0235 2.39796 10.5849 1.9602C10.1463 1.52244 9.57688 1.24043 8.96346 1.15718C8.35004 1.07392 7.72629 1.194 7.18731 1.49908C6.64833 1.80417 6.22369 2.27753 5.97814 2.84699L5.59725 3.71786L4.67352 3.50186C4.46151 3.44927 4.24416 3.42128 4.02577 3.41843C3.26964 3.41843 2.54447 3.71945 2.00981 4.25527C1.47514 4.7911 1.17476 5.51783 1.17476 6.2756C1.17476 7.03337 1.47514 7.7601 2.00981 8.29592C2.54447 8.83175 3.26964 9.13277 4.02577 9.13277H6.87678V10.2756H4.02577C3.45994 10.2805 2.89955 10.1648 2.38175 9.93609C1.86396 9.7074 1.4006 9.37099 1.02241 8.94918C0.644229 8.52736 0.35986 8.02978 0.18817 7.48944C0.0164789 6.94911 -0.0386088 6.37836 0.0265603 5.81506C0.0917293 5.25176 0.275666 4.70879 0.566169 4.22215C0.856672 3.73552 1.2471 3.31634 1.71156 2.99244C2.17602 2.66853 2.70389 2.4473 3.26016 2.34341C3.81644 2.23952 4.38839 2.25535 4.93809 2.38984C5.28469 1.59556 5.88013 0.9361 6.63424 0.511367C7.38835 0.086634 8.26003 -0.0802374 9.11726 0.0360293C9.97449 0.152296 10.7706 0.545367 11.3849 1.1557C11.9992 1.76604 12.3983 2.56039 12.5218 3.41843Z" fill="currentColor"/>
        <path d="M10.6205 7.82244L9.11871 6.32067L9.1187 12.5326H7.98285L7.98286 6.36209L6.52247 7.82243L5.71434 7.0143L8.16744 4.56126H8.97557L11.4286 7.01431L10.6205 7.82244Z" fill="currentColor"/>
    </svg>
</template>