<template>
    <svg
        preserveAspectRatio="xMidYMid meet"
        width="100%" height="100%"
        viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.625 12V11H7.375V12H8.625Z" fill="currentColor"/>
        <path d="M7.375 10V6H8.625V10H7.375Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.56 1H8.44L14.98 13.26L14.54 14H1.44L1 13.26L7.56 1ZM8 2.28L2.28 13H13.7L8 2.28Z" fill="currentColor"/>
    </svg>
</template>
