GraphHourColumn.vue
<template>
    <li class="graph-column-hour__component" :class="c_class" :c_hourData="c_hourData"
        @click="onSelect"
        @mouseover="onHover"
        @mouseenter="onHover"
    >
        <ul class="graph-column-hour__hour-wrapper text-1">
            <li class="graph-column-hour__bar-up-wrapper">
                <p class="graph-column-hour__bar-up" :style="'height:' + r_heightTop + ';z-index:3' "></p>
            </li>
            <li class="graph-column__bar-down-wrapper">
                <p class="graph-column__bar-down" :style="'height:' + r_heightDown + ';z-index:3' "></p>
            </li>
            <li class="graph-column__hour">
                <p>{{ r_hourString }}</p>
            </li>
        </ul>
    </li>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch } from 'vue'

    /* STORE */
    import { getters } from '@/vue/__stores__/WS/state__WS.js'

    /* LIBS */
    import { formatFromDateString, dayNameList } from '@/libs/DateUtils.js'

    /* REACTIVES */
    const r_heightTop      = new ref();
    const r_heightDown     = new ref();
    const r_hourString     = new ref();
    const r_hourIndexHover = new ref();

    /* PROPS */
    const props = defineProps({
        index:Number,
        hourData:Object,
        selectedIndex:Number
    })

    /* COMPUTED */
    const c_class = computed(()=>{
        const index          = props.index;
        const selectedIndex  = getters.hourIndex;
        const hourIndexHover = getters.hourIndexHover;

        let classCss  =  index == selectedIndex  ? 'selected ' : '';
            classCss +=  hourIndexHover == index ? 'hovered'  : '' 
        return classCss
    });

    const c_hourData = computed(()=>{
        const hourData = props.hourData;
        if(null == hourData){
            // Early return
            return
        }
        handleDataStructure(hourData, 'dayData');
        const {
            hour,
            hourString,
            hour_overwork_percent,
            hour_underwork_percent,
        } = hourData;

        r_hourString.value = hourString;
        r_heightTop.value  = hour_overwork_percent;
        r_heightDown.value = hour_underwork_percent;

        if(getters.isAverage){
            const currentAreaId = getters.currentAreaId;
            const averageData   = getters.averageDict[currentAreaId + '_' + hour];
    
            const {
                     hour_overwork_average_percent
                    ,hour_underwork_average_percent
            } = averageData;
            
            r_heightTop.value  = hour_overwork_average_percent;
            r_heightDown.value = hour_underwork_average_percent;
        }
        
        return hourData
    });

    /* EVENT */
    const emit = defineEmits(['select', 'hover']);

    function onHover(){
        emit('hover');
    }

    function onSelect(){
        emit('select');
    }
</script>