GraphHour.vue
<template>
        <ul class="graph-hour__component">
            <GraphHourColumn
                v-for="(hourData, index) in c_hourList"
                :key      = "Math.random() + '_' + index"
                :index    = "index"
                :hourData = "hourData"
                :selectedIndex="c_selectedIndex"
                @select="onSelect(index)"
                @hover="onHover(index)"
            />
        </ul>
</template>

<script setup>
    /* VUE */
    import { computed, ref } from 'vue'

    /* STORE */
    import { getters, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* COMPONENT */
    import GraphHourColumn from './2_0_0_GraphHourColumn.vue'

    /* REACTIVES */
    const r_dayList = new ref();

    /* COMPUTED */
    const c_hourList = computed(()=>{
        const currentAreaData = getters.currentAreaData;
        if(null == currentAreaData){
            // Early return
            return
        }

        handleDataStructure(currentAreaData, 'currentAreaData');
        const {dayData} = currentAreaData;
        handleDataStructure(dayData, 'dayData');
        const {dayList}      = dayData;
        handleArray(dayList, 'dayList');
        const dayIndex       = getters.dayIndex || 0;
        handleNumber(dayIndex, 'dayIndex');
        const {timezoneData} = dayList[dayIndex];
        handleDataStructure(timezoneData, 'timezoneData');
        const {timezoneList} = timezoneData;
        handleArray(timezoneList, 'timezoneList');
        return timezoneList
    });

    const c_selectedIndex = computed(()=>{
        const selectedIndex = getters.hourIndex || 0;
        if(null == selectedIndex){
            // Early return
            return
        }
        
        handleNumber(selectedIndex, 'selectedIndex');
        return selectedIndex
    });
    
    /* EVENT */
    const emit = defineEmits(['select', 'hover']);

    function onHover(index){
        handleNumber(index, 'index');
        emit('hover', index);
    }

    function onSelect(hourIndex){
        handleNumber(hourIndex, 'hourIndex');
        mutations.setHourIndex(hourIndex);
    }
</script>