2_1_TaskList.vue
<template>
    <section class="ws-2-1__component"
        @mouseleave="onMouseLeave"
    >
        <article class="table-1__table">
            <p class="text-3 heavy ws-2-1__label">{{localize('Tasks for ') + getters.areaName + ' in timezone '  + getters.hourString}}</p>
            <ul class="ws-2-1__list">
                <li class="table-1__head-wrapper ws-2-1__row sticky-y">
                    <p class="table-1__head">{{localize("Hour")}}</p>
                    <p class="table-1__head">{{localize("Work item")}}</p>
                    <p class="table-1__head">{{localize("Work min")}}</p>
                    <p class="table-1__head">{{localize('Planned')}}</p>
                    <p class="table-1__head">{{localize('Delete')}}</p>
                </li>
                <li class="ws-2-1__row-body"
                    v-for="(task, taskIndex) in r_taskList"
                    :key="taskIndex"
                >
                    <p class="ws-2-1__cell ws-2-1__hour"
                        @click="onHourClick(taskIndex)"
                    >
                        <SvgArrowDown/>
                        <span>{{ c_hourString }}</span>
                    </p>
                    <p class="ws-2-1__cell">{{task.taskName}}</p>
                    <p class="ws-2-1__cell text-right">
                        <!--
                        <input class="text-right input" type="text" inputmode="numeric" pattern="\d*"
                            v-model="task.duration"
                            @input="onDurationChange(taskIndex)"
                        >
                        -->
                        <input class="text-right input" type="number"
                            v-model="task.duration"
                            @input="onDurationChange(taskIndex)"
                        >
                    </p>
                    <p class="ws-2-1__cell text-right">
                        {{getFormatedMinutes(task.duration || 0)}}
                    </p>
                    <p class="ws-2-1__cell text-right">
                        <button class="button light-grey"
                            @click="onDelete(taskIndex)"
                        >
                            <p class="heavy">{{localize('Delete')}}</p>
                        </button>
                    </p>
                    <ul class="ws-2-1__hour-list" :class="r_selectedIndex == taskIndex ? 'expanded' : ''">
                        <li class="ws-2-1__hour-button"
                            v-for="(hour, index) in 24"
                            :key="index"
                            :index="index"
                            @mouseenter="onMouseEnter(index)"
                            @click="onSelectTimezone(index, task.taskName)"
                        >
                            {{ index < 10 ? '0' + index : index }}
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
        <button class="button primary-1 large-padding text-3"
            @click="onAddTask"
        >{{ '＋ ' + localize('Add task') }}</button>
    </section>
</template>


<script setup>
    /* VUE */
     import { computed, ref, watch } from 'vue'

     /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* STORE */
    import { getters, actions, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* COMPONENTS */
    import SvgArrowDown from '@/vue/components/svg/SvgArrowDown.vue';

    /* REACTIVE */
    const r_taskList      = new ref();
    const r_selectedIndex = new ref();

    /* COMPUTED */
    const c_hourString = computed(()=>{
        const hourIndex = getters.hourIndex;
        if(null == hourIndex){
            //Early returm
            return
        }
        handleNumber(hourIndex, 'hourIndex');
        return hourIndex < 10 ? ( '0' + hourIndex + ':00' ) : ( hourIndex+':00' )
    });

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }

    /* EVENTS */
    const emit = defineEmits(['add']);

    function onAddTask(){
        emit('add');
    }

    function onHourClick(index){
        handleNumber(index, 'index');
        r_selectedIndex.value = index;
    }

    function onMouseEnter(index){
        mutations.sethHourIndexHover(index);
    }

    function onMouseLeave(event){
        r_selectedIndex.value = null;
        mutations.sethHourIndexHover(null);
    }

    function onSelectTimezone(toHourIndex, taskName){
        handleNumber(toHourIndex,   'toHourIndex');
        handleEmptyString(taskName, 'taskName');

        actions.move_wsTask(toHourIndex, taskName);
    }

    function onDurationChange(taskIndex){
        const {duration} = r_taskList.value[taskIndex];
        if('' == duration){
            r_taskList.value[taskIndex] = 0;
        }
        actions.update_wsTask(taskIndex, duration || 0);
    }

    function onDelete(taskIndex){
        const {taskName} = r_taskList.value[taskIndex];
        actions.remove_wsTask(taskName);
    }
    
    /* WATCH */
    watch(() => getters.timezoneTaskList, (taskList) => {
        if(null == taskList){
            // Early return
            return
        }
        
        handleArray(taskList, 'taskList');
        r_taskList.value = taskList;

    }, { deep: true, immediate: true});
</script>