2_2_ShiftHeader.vue
<template>
    <header class="text-3 ws-2-2" v-if="c_parsedData != null">
        <p class="text-4 ws-2-2__shift">
            <span>{{ localize('Shift') + ' ' }}</span>
            <input class="heavy input" type="number"
                v-model="r_hour_shift"
                @input="onShiftChange">
        </p>
        <p class="text-4 ws-2-2__shift">
            <span>{{ localize('Shift needed') + ' ' }}</span>
            <span class="heavy">{{ r_hour_shiftNeeded }}</span>
        </p>
        <p v-if="0 < r_issue_result" class="text-4 ws-2-2__shift">
            <span>{{ r_issue_label }}</span>
            <span class="heavy on-danger">{{ r_issue_result }}</span>
        </p>
    </header>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch } from 'vue'

    /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* STORE */
    import { actions, getters, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* REACTIVES */
    const r_hour_shift         = new ref();
    const r_hour_shiftNeeded   = new ref();
    const r_issue_result       = new ref();
    const r_issue_label        = new ref();

    /* METHODS */
    const c_parsedData = computed(()=>{
        const dayIndex      = getters.dayIndex;
        const hourIndex     = getters.hourIndex;
        const shiftDataList = getters.shiftDataList;

        if(null == shiftDataList){
            // Early return
            return
        }
        const shiftDayData = shiftDataList[dayIndex || 0];
        const timezoneData = shiftDayData.shift_timezoneList[hourIndex || 0];
        
        const{
            hour_overstaffing
           ,hour_shift
           ,hour_shiftNeeded
           ,hour_understaffing
        } = timezoneData;

        r_hour_shift.value       = hour_shift;
        r_hour_shiftNeeded.value = hour_shiftNeeded;
        r_issue_label.value      = hour_overstaffing > hour_understaffing ? 'Overstaffing ' : 'Understaffing ';
        r_issue_result.value     = Math.max(hour_overstaffing, hour_understaffing);

        return timezoneData
    });

    function localize(text){
        return window.localize(text);
    }

    /* EVENTS */
    function onShiftChange(shiftInput){
        if('' == r_hour_shift.value){
            r_hour_shift.value = 0;
        }
        actions.update_wsShift(r_hour_shift.value);
    }
</script>