2_3_AreaList.vue
<template>
    <section class="ws-2-3__component">
        <article class="table-1__table">
            <p class="text-3 heavy ws-2-3__label">{{localize('All areas schedules and results in timezone : ' + getters.hourString )}}</p>
            <ul class="ws-2-3__list">
                <li class="table-1__head-wrapper ws-2-3__row sticky-y">
                    <p class="table-1__head">{{localize("Area")}}</p>
                    <p class="table-1__head">{{localize('Planned')}}</p>
                    <p class="table-1__head">{{localize("Tracked")}}</p>
                    <p class="table-1__head">{{localize("Difference")}}</p>
                </li>
                <li class="ws-2-3__row-body"
                    v-for="(areaData, areaIndex) in r_areaTimezoneDataList"
                    :key="areaIndex"
                    :index="areaIndex"
                >

                    <a class="ws-2-3__cell underline"
                        @click="onGoToArea(areaData.areaId)"
                    >{{areaData.areaName}}</a>
                    <p class="ws-2-3__cell text-center">
                        <a class="text-right">{{getFormatedMinutes(areaData.hour_schedule)}}</a>
                    </p>
                    <p class="ws-2-3__cell text-center">
                        <a class="text-right "
                        >{{getFormatedMinutes(areaData.hour_result)}}</a>
                    </p>
                    <p class="ws-2-3__cell text-center on-danger heavy" v-if="0 < areaData.hour_underwork">
                        <a class="text-right "
                        >{{getFormatedMinutes(areaData.hour_underwork) + ' ' + localize('Overestimated')}}</a>
                    </p>
                    <p class="ws-2-3__cell text-center on-danger heavy" v-if="0 < areaData.hour_overwork">
                        <a class="text-right "
                        >{{getFormatedMinutes(areaData.hour_overwork)  + ' ' + localize('Underestimated')}}</a>
                    </p>
                </li>
            </ul>
        </article>
    </section>
</template>


<script setup>
    /* VUE */
     import { computed, reactive, ref, watch } from 'vue'

    /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* STORE */
    import { getters } from '@/vue/__stores__/WS/state__WS.js'

    /* REACTIVES */
    const r_areaTimezoneDataList = new ref();

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }

    /* EVENTS */
    const emit = defineEmits([
        'select'
    ]);

    function onGoToArea(areaId){
        handleEmptyString(areaId, 'areaId');
        emit('select', areaId);
    }

    /* WATCH */
    watch(() => getters.areaReportList, (areaTimezoneDataList) => {
        if(null == areaTimezoneDataList){
            // Early return
            return
        }

        if(!getters.isAverage){
            r_areaTimezoneDataList.value = areaTimezoneDataList;
            // Early return
            return
        }
        const averageDict = getters.averageDict;
        const averageList = [];
        areaTimezoneDataList.forEach((areaData)=>{
            
            const {
                areaId,
                areaName,
                hour_schedule
            } = areaData;
            const averageData = averageDict[areaId+'_'+getters.hourIndex];
            let {
                hour_overwork_average,
                hour_underwork_average,
                hour_result_average:hour_result
            } = averageData;

            let hour_overwork  = hour_overwork_average <= hour_underwork_average ? 0 : hour_overwork_average;
            let hour_underwork = hour_underwork_average < hour_overwork_average ? 0 : hour_underwork_average;

            averageList.push({
                areaId,
                areaName,
                hour_schedule,
                hour_result,
                hour_overwork,
                hour_underwork
            });

            r_areaTimezoneDataList.value = averageList;
        });


    }, { deep: true, immediate: true});
    
</script>
