2_PagePerformanceAnalysis.vue
<template>
    <section class="text-2 screen-large w-2__component" level="1">
        <header class="ws-2__main-header">
            <button class="ws-2__back"
                @click="onClickBack"
            >
                <ArrowLeft/>
            </button>
            <p class="text-4 heavy">
                {{localize("Work Schedule details")}}
            </p>
            <button class="ws-2__save" :class="c_saveClass"
                @click="onSave"
            >
                <p class="text-4 heavy button primary-1">
                    {{localize("Save")}}
                </p>
            </button>
            
            <Lang class="ws-2__lang"/>
        </header>
        <main class="ws-2__main text-2" :c_currentAreaData="c_currentAreaData">
            <section class="panel-0 ws-2__tasks-panel" >
                <section class="ws-2__iterators">
                    <IteratorDay :style="getters.isAverage ? 'display:none' : ''"/>
                    <IteratorHour/>
                    <button class="ws-2__switch-button"
                        @click="onSwitchView"
                    >
                        <p class="underline">{{ getters.isAverage ? localize('See dates') : localize('See averages') }}</p>
                    </button>
                </section>

                <section class="ws-2_header-graph">
                    <ul class="ws-2__labels-wrapper">
                        <li class="heavy on-danger">{{localize('Underestimated')}}</li>
                        <li class="heavy on-danger">{{localize('Overestimated')}}</li>
                        <li>Timezone</li>
                    </ul>
                    <GraphHour class="ws-2__graph-wrapper"/>
                </section>

                <header class="ws-2__task-header text-3">
                    <p class="heavy text-4 ws-2_area-name">{{r_areaName}}</p>
                    <p>
                        <span>{{localize('Planned') + " "}}</span>
                        <span class="heavy">
                            {{ r_hour_schedule }}
                        </span>
                    </p>
                    <p>
                        <span>{{ localize("Tracked") + " "}}</span>
                        <span class="heavy">
                            {{ r_hour_result }}
                        </span>
                    </p>
                    <p class="on-danger heavy"  v-if="r_hour_overwork > 0">
                        <span>{{ localize('Underestimated') + ' '}}</span>
                        <span class="heavy" v-if="null != r_hour_overwork">
                            {{ getFormatedMinutes(r_hour_overwork) }}
                        </span>
                    </p>
                    <p class="on-danger heavy" v-if="r_hour_underwork > 0">
                        <span>{{ localize('Overestimated') + ' '}}</span>
                        <span class="heavy" v-if="null != r_hour_underwork">
                            {{ getFormatedMinutes(r_hour_underwork) }}
                        </span>
                    </p>
                </header>

                <TaskList_2_1 class="ws-2__task-list"
                    @add="onClickAddTask"
                />

                <article class="panel-0 ws-2__all-tasks-panel shadow-3" 
                    :class="r_addTaskClass"
                    ref="r_panelAllTasks"
                >
                    <article class="table-1__table ws-2__all-tasks-table">
                        <p class="panel__title">{{localize('Add task')}}</p>
                        
                        <ul class="ws-2__all-task-list">
                            <li class="table-1__cell"
                                v-for="(taskName, taskIndex) in r_areaTaskList"
                                :key="taskIndex"
                                :taskIndex="taskIndex"
                                @click="onAddTask(taskIndex, taskName)"
                            >
                                <p>{{taskName}}</p>
                            </li>
                        </ul>

                        <button class="button primary-1 large-padding ws-2__cancel-button heavy align-center"
                            @click="onCloseAddTask"
                        >{{ localize('CANCEL') }}</button>
                    </article>
                </article>
            </section>
            

            <article class="panel-0 ws-2__areas-panel">
                <ShiftHeader_2_2/>
                <AreaList_2_3
                    @select="onGoToArea"
                />
            </article>
        </main>
    </section>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch, onMounted, onBeforeUnmount } from 'vue'

    /* STORE */
    import { getters, actions, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* COMPONENT */
    import Lang            from '@/vue/components/Lang.vue'
    import ArrowLeft       from '@/vue/components/svg/chevronLeft.vue';
    import IteratorDay     from '@/vue/components/Iterators/IteratorDay.vue'
    import IteratorHour    from '@/vue/components/Iterators/IteratorHour.vue'
    import TaskList_2_1    from './2_1_TaskList.vue';
    import ShiftHeader_2_2 from './2_2_ShiftHeader.vue'
    import AreaList_2_3    from './2_3_AreaList.vue';
    import GraphHour       from './2_0_GraphHour.vue';
    
    /* REACTIVES */
    const r_panelAllTasks   = new ref(null);
    const r_timezoneList    = new ref();
    const r_hour_schedule   = new ref();
    const r_hour_result     = new ref();
    const r_hour_overwork   = new ref();
    const r_hour_underwork = new ref();
    const r_hourIndex       = new ref();
    const r_areaName        = new ref();
    const r_areaTaskList    = new ref();
    const r_addTaskClass    = new ref('');

    let selectedData = {}

    /* COMPUTED */
    const c_saveClass = computed(()=>{
        console.log('computed c_saveClass', getters.canSave);
        return getters.canSave ? '' : 'not-visible'
    });

    const c_currentAreaData = computed(()=>{
        const areaName         = getters.currentAreaName;
        const areaId           = getters.currentAreaId;
        const areaTimezoneDict = getters.areaTimezoneDict;

        if(null == areaId || null == areaName || null == areaTimezoneDict){
            // Eary return
            return
        }
        handleDataStructure(areaTimezoneDict, 'areaTimezoneDict');
        handleEmptyString(areaName, 'areaName');
        handleEmptyString(areaId,   'areaId');

        const dayIndex  = getters.dayIndex  || 0;
        const hourIndex = getters.hourIndex || 0;

        handleNumber(dayIndex,  'dayIndex');
        handleNumber(hourIndex, 'hourIndex');
        
        r_areaName.value = areaName;
        
        const areaDayHourData = areaTimezoneDict[areaId + '_' + dayIndex + '_' + hourIndex];

        const {
            hour_overwork,
            hour_result,
            hour_schedule,
            hour_underwork
        } = areaDayHourData;

        r_hour_schedule.value  = getFormatedMinutes(hour_schedule);
        r_hour_result.value    = getFormatedMinutes(hour_result);
        r_hour_overwork.value  = hour_overwork;
        r_hour_underwork.value = hour_underwork;
        r_hour_schedule.value  = getFormatedMinutes(hour_schedule);

        if(getters.isAverage){
            const averageDict = getters.averageDict;
            const {
                hour_result_average,
                hour_overwork_average,
                hour_underwork_average
            } = averageDict[areaId + '_' + hourIndex];
    
            r_hour_result.value    = getFormatedMinutes(hour_result_average);
            r_hour_overwork.value  = hour_overwork_average;
            r_hour_underwork.value = hour_underwork_average;
        }
    });

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }
    
    /*　EVENTS */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    
    onBeforeUnmount(() => {
      document.removeEventListener('mouseup', onClickOutside);
    });

    function onGoToArea(areaId){
        handleEmptyString(areaId, 'areaId');
        mutations.go_to_area(areaId);
    }

    function onClickBack(){
        mutations.back_home();
    }

    function onClickAddTask(){
        r_addTaskClass.value = 'is-visible';
    }

    function onCloseAddTask(){
        r_addTaskClass.value = '';
    }

    function onClickOutside(event){
        const element = r_panelAllTasks.value;
        if (element && !element.contains(event.target)) {
            r_addTaskClass.value = '';
        }
    }

    function onAddTask(taskIndex, taskName){
        handleNumber(taskIndex,     'taskIndex');
        handleEmptyString(taskName, 'taskName');
        r_addTaskClass.value = '';
        actions.add_wsTask(taskName);
    }

    function onSwitchView(){
        mutations.switchView();
    }

    function onSave(){
        actions.save();
    }

    /* WATCH */
    watch(() => getters.areaTaskList, (areaTaskList) => {
        if(null == areaTaskList ){
            // Early return
            return
        }
        r_areaTaskList.value = areaTaskList;
    }, { deep: true, immediate: true});
</script>