.oos__component {
    max-width: 55rem;
    margin: 0 auto;
}

.stores-graphs__download {
    position: relative;
    right: 0;
}

.oos__list {
    display: grid;
    grid-gap: 1rem;
    margin-top: 1rem;
    height: calc(100svh - 17rem);
    overflow-y: auto;
    outline: solid 0.25rem hsl(var(--surface-4));
}

.oos__item {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 'name lists lists .';
    grid-gap: 1rem;
    grid-template-columns: 1fr max-content max-content 2rem;
    padding-bottom: 1rem;
}

.oos__item [name] {
    grid-area: name;
}

.oos__item [lists] {
    grid-area: lists;
}

.oos__display-and-stock {
    display: grid;
    grid-auto-flow: column;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.oos__header {
    font-weight: 700;
    border-bottom: dashed 0.125rem hsl(var(--surface-0));
    padding-top: 0;
}

.oos__sub-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3rem repeat(3, 3.5rem);
    border-bottom: solid 0.125rem hsl(var(--surface-0));
}

.oos__sub-header > *
 {
    border-right: dashed 0.0625rem hsl(var(--surface-0));
}

.oos__sub-header > :last-child{
    border-right: transparent;
}

.oos__row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3rem repeat(3, 3.5rem);
    align-items: center;
    min-height: 1.5rem;
    margin: 0.5rem 0;
}
.oos__row:first-child {
    margin-top: 0.75rem;
}

.oos__row > * {
    display: block;
    color: var(--on-1);
    font-weight: 400;
}
.oos__row > :nth-child(1) {
    color: var(--on-2);
    font-weight: 100;
    font-size: var(--text-2);
}

.oos__row > :nth-child(2) {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background-color: hsl(var(--surface-1));
}

.oos__row > :nth-child(3) {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background-color: hsl(var(--surface-1));
}

.oos__row > :nth-child(4) {
    display: block;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: hsl(var(--surface-0));
    margin-left: 0.125rem;
}

.oos_total-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    justify-content: center;
    grid-gap: 1rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
}