.store-by-id__component[is-store-id="false"]{
    display: none;
}

.store-by-id__component {
    display: grid;
    grid-template-rows: max-content 1fr;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--surface-2));
}

.store-by-id__header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.125rem max-content;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.store-by-id__main {
    display: grid;
    width: 100%;
    height: 100%;
}

.store-by-id__store-detail {
    width: 100%;
    height: 100%;
}