.store-daily__component {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 0.0625rem repeat(3, 6.5rem) repeat(2, max-content) 0.0625rem 1fr;
    grid-template-areas: 'date separator-1 bar     bar     bar       field-1 .       separator-2 .'
                         'date separator-1 field-2 field-4 field-5   field-6 field-3 separator-2 .'
                         'date separator-1 hourly  button-1 button-2 .       .       separator-2 .'
                         'pnp  pnp         pnp     pnp      pnp      pnp     pnp     pnp         pnp';
    grid-auto-rows: max-content;
    grid-row-gap: 0.75rem;
    grid-column-gap: 1.25rem;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    padding-top: 1.25rem;
    --bar-height: 0.25rem;
}

@media (min-width: 107em) {
    .store-daily__component {
        grid-template-columns: max-content 0.0625rem repeat(3, 6.5rem) repeat(2, max-content) 0.0625rem max-content 1fr;
        grid-template-areas: 'date   separator-1 bar     bar     bar       field-1 .       separator-2 button-1 button-2'
                             'hourly separator-1 field-2 field-4 field-5   field-6 field-3 separator-2 button-1 button-2'
                             'pnp pnp pnp pnp pnp pnp pnp pnp pnp pnp';
    }
}

.store-daily__component *[separator-1],
.store-daily__component *[separator-2] {
    width: 0;
    height: 100%;
    border-right: dashed 0.0625rem hsl(var(--surface-7));
}

.store-daily__component *[date] { grid-area: date;}

.store-daily__component *[separator-1] { grid-area: separator-1;}

.store-daily__component *[hourly] {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 0.75rem;
    grid-gap: 0.5rem;
    grid-area: hourly;
    padding: 0rem 0.25rem;
}
.store-daily__component *[bar]     { grid-area: bar;}
.store-daily__component *[field-1] { grid-area: field-1;}
.store-daily__component *[field-2] { grid-area: field-2;}
.store-daily__component *[field-3] { grid-area: field-3;}
.store-daily__component *[field-4] { grid-area: field-4;}
.store-daily__component *[field-5] { grid-area: field-5;}
.store-daily__component *[field-6] { grid-area: field-6;}
.store-daily__component *[field-7] { grid-area: field-7;}
.store-daily__component *[separator-2] { grid-area: separator-2;}
.store-daily__component *[button-1] { grid-area: button-1;}
.store-daily__component *[button-2] { grid-area: button-2;}

.store-daily__hours {
    align-self: start;
}

.store-daily__bar-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.125rem;
    height: 0.5rem;
    background-color: hsl(var(--surface-7));
    outline: solid 0.0625rem hsl(var(--surface-7));
}

.store-daily__bar {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.0625rem;
}

.store-daily__hours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
}

.store-daily__hours :nth-child(1){
    text-align: left;
    justify-self: start;
}

.store-daily__hours :nth-child(2){
    text-align: center;
    justify-self: center;
}

.store-daily__hours :nth-child(3){
    text-align: right;
    justify-self: end;
}

.store-daily__percent {
    display: grid;
    
    width: 8rem;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 0.125rem;
}

.store-daily__field {
    display: grid;
    grid-gap: 0.25rem;
    line-height: 1;
}

.store-daily__hours-pnp {
    display: grid;
    grid-template-columns: repeat(24, 2rem);
    grid-auto-flow: column;
    grid-area: pnp;
    max-width: max-content;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 0.25s ease-in-out;
    outline: solid 0.0625rem hsl(var(--surface-3));
    height: auto;
    margin-top: 0.5rem;
    opacity: 1;
    overflow: hidden;
}

.store-daily__hours-pnp[state="collapsed"] {
    margin-top: 0;
    height: 0rem;
    opacity: 0;
}
.store-daily__hours-pnp[state="collapsed"] .store-daily__hours-pnp-item {
    border-right: dashed hsl(var(--surface-6)) 0rem;
}

.store-daily__hours-pnp-item {
    display: grid;
    width: 2rem;
    border-right: dashed hsl(var(--surface-6)) 0.0625rem;
    background-color: hsl(var(--surface-2));
}

.store-daily__hours-pnp-item:last-child {
    border-right: none;
}

.store-daily__hours-pnp-item :nth-child(2) {
    background-color: hsl(var(--surface-0));
}