.store-details__component {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-gap: 0.75rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    --row-height: 3.25rem;
    --table-grid-gap: 0.25rem;
}

.store-details__list {
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 0.5rem;
    width: 100%;
    height: calc(100svh - 8.75rem);
    overflow: auto;
    margin-top: 0.75rem;
}

.store-details__component {
    display: block;
    width: 100%;
    font-size: var(--text-3);
}

.store-details__header {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: 9rem 6.5rem 6.5rem 6.5rem 1fr;
    grid-template-areas:    "name name name name download"
                            "field-1 field-2 field-3 field-4 . ";
    
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.75rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    padding-bottom: 0rem;
    transition: 0.25s ease-in-out;
    color: hsl(var(--on-0));
    --bar-height: 0.5rem;
    text-decoration: none;
}

.store-details__header * {
    transition: 0.25s ease-in-out;
}

.store-details__header p {
    align-self: center;
}

.store-details__header > [name]{
    width: 100%;
    color: hsl(var(--on-0));
    grid-area: name;
}

.store-details__header > [download]{
    grid-area: download;
    align-self: center;
    justify-self: end;
    margin-right: 0.25rem;
}

.store-details__header > [field-1]{
    grid-area: field-1;
}

.store-details__header > [field-2]{
    grid-area: field-2;
}

.store-details__header > [field-3]{
    grid-area: field-3;
}

.store-details__header > [field-4]{
    grid-area: field-4;
}

.store-details__percent {
    display: grid;
    grid-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 4rem max-content;
}

.store-details__field:not(:nth-child(1)) {
    display: grid;
    border-right: 0.0625rem dashed hsl(var(--surface-6));
    padding: 0.25rem 0.25rem;
}

.store-details__label {
    font-size: var(--text-2);
    font-weight: 600;
    color: hsl(var(--on-2));
}

.store-details__value {
    font-size: var(--text-4);
    font-weight: var(--bold);
    color: hsl(var(--on-1));
}

.store-details__graphs {
    height: calc(100svh - 12rem);
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    grid-column: 1 / -1;
}

.store-details__table-wrapper .table__head {
    position: sticky;
    top: 0;
    z-index: 5;
}

.store-details__table-wrapper {
    width: max-content;

    max-width: calc(100svw - 44.75rem);
    max-height: calc(100svh - 11rem);
    overflow: auto;
    border-radius: var(--border-radius-panel);
    outline: solid 0.25rem hsl(var(--surface-4));
    background-color: hsl(38 calc( 49% * 0.01 ) 89%);
    transform: translateX(0.25rem);
    margin-top: 1rem;
}

#app .store-details__table-wrapper .table__component {
    width: fit-content;
    margin-bottom: 0;
    padding: 0;
}

#app .store-details__table-wrapper .table__head {
    border-radius: 0;
}

.store-details__head-top {
    width: 100%;
}

.store-details__head,
.store-details__row {
    font-size: var(--text-2);
}

.store-details__head,
.store-details__head > *, 
.store-details__row > * {
    width: 3.75rem;
    margin: 0 auto;
}

.store-details__cell-1 {
    position: sticky;
    left: 0;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: start;
    text-align: center;
    border-radius: 0;
    border-right: transparent;
    
    background-color: hsl(var(--surface-0));
    z-index: 3;
}