.light {
  --surface-0: var(--hue,  0) calc(  0% * var(--saturation-ratio)) 100%;
  --surface-1: var(--hue, 30) calc(100% * var(--saturation-ratio)) 97%;
  --surface-2: var(--hue, 36) calc( 88% * var(--saturation-ratio)) 94%;
  --surface-3: var(--hue, 38) calc( 65% * var(--saturation-ratio)) 91%;
  --surface-4: var(--hue, 38) calc( 49% * var(--saturation-ratio)) 89%;
  --surface-5: var(--hue, 38) calc( 40% * var(--saturation-ratio)) 87%;
  --surface-6: var(--hue, 40) calc( 56% * var(--saturation-ratio)) 86%;
  --surface-7: var(--hue, 38) calc( 33% * var(--saturation-ratio)) 84%;
  --surface-8: var(--hue, 42) calc(19% * var(--saturation-ratio)) 40%;
  
  --on-0: var(--hue,  0) calc( 0% * var(--saturation-ratio)) 0%;
  --on-1: var(--hue, 43) calc(29% * var(--saturation-ratio)) 9%;
  --on-2: var(--hue, 42) calc(22% * var(--saturation-ratio)) 24%;
  --on-3: var(--hue, 39) calc(74% * var(--saturation-ratio)) 93%;
  
  --outline-1: var(--hue, 42) calc(14% * var(--saturation-ratio)) 45%;
  --outline-2: var(--hue, 42) calc(17% * var(--saturation-ratio)) 35%;
  
  --primary-1: var(--hue, 47) 100% 48%;
  --primary-2: var(--hue, 47) 100% 28%;
  --primary-3: var(--hue, 47) 100% 22%;
  --primary-4: var(--hue, 46) 100% 16%;
  
  --on-primary-1: 0 0% 100%;
  
  --error-1: 2 70% 52%;
  --error-2: 356 100% 27%;
  
  --on-error-1: 0 0% 100%;
  --on-error-2: 0 0% 100%;

  /* NEW TRANSITION */
  --color-default: hsl(var(--neutral-70));
  --bg-default: hsl((--neutral-10));

  --color-info: hsl(var(--info-120));
  --bg-info: hsl(var(--info-10));

  --color-success: hsl(var(--success-120));
  --bg-success: hsl(var(--success-10));
  --color-success-bar:hsl(var(--success-50));
  
  --color-warning: hsl(var(--warning-120));
  --bg-warning: hsl(var(--warning-10));

  --color-danger: hsl(var(--danger-100));
  --on-danger: hsl(var(--danger-120));
  --hsl-danger: var(--danger-120);
  --bg-danger: hsl(var(--danger-10));

  --color-danger-bar:hsl(var(--danger-100));

  --color-check: hsl(var(--neutral-0));
  --bg-check: hsl(var(--information-100));
  --border-check: hsl(var(--information-120));
}

.default {
  --color: var(--color-default);
  --bg-color: hsl(var(--surface-0));
}

.on-info {
  color: var(--color-info);
}

.on-success {
  color: var(--color-success);
}

.on-danger {
  color: var(--color-danger);
}

.on-warning {
  color: var(--color-warning);
}

.on-default {
  color: hsl(var(--color-default));
}

.info {
  --color: var(--color-info);
  --bg-color: var(--bg-info);
}

.success {
  --color: var(--color-success);
  --bg-color: var(--bg-success);
}

.danger {
  --color: var(--on-danger);
  --bg-color: var(--bg-danger);
}

.warning {
  --color: var(--color-warning);
  --bg-color: var(--bg-warning);
}