DateSelector.vue
<template>
    <article class="date-selector__component" ref="htmlReference" :c_range="c_range" :c_periodIndex="c_periodIndex">
        <article class="date-picker__wrapper">
            <DateFromTo 
                        :isExpanded="r_isExpanded"
                        :range="r_rangeSelection"
                        @click="onDatePickerClick" 
                        @reset="onReset" 
                        />
                        
            <DatePicker 
                        v-if="!r_isMonth"
                        :isExpanded="r_isExpanded"
                        :selectionList="c_selectionList"
                        :range="r_rangeSelection"
                        :periodIndex="c_periodIndex"
                        @initial="onInitialDate"
                        @range="onDateRange"
                        @cancel="onDateCancel"
                        @period="onPeriodSelected"
                        />

            <MonthPicker 
                         v-if="r_isMonth"
                         :isExpanded="r_isExpanded"
                         :selectionList="c_selectionList"
                         :range="r_rangeSelection"
                         :periodIndex="c_periodIndex"
                         @initial="onInitialMonth"
                         @range="onDateRange"
                         @cancel="onDateCancel"
                         @period="onPeriodSelected"
                        />
            
        </article>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, reactive, computed, onMounted, onBeforeUnmount } from 'vue'

    const r_isMonth  = new ref(false);

    /* LIBRARIES */
    import { getTimeZeroHour, getDateZeroHour, getMonday, getSunday } from '@/libs/DateUtils'

    /* VARIABLES */
    const rangeGetterList = [
        getDailyRange,
        getWeeklyRange,
        getMonthlyRange
    ]
    let getPeriodRange = ()=>{};

    /* COMPONENTS */
    import DateFromTo  from '@/vue/components/date_components/controls/DateFromTo.vue'
    import DatePicker  from '@/vue/components/date_components/pickers/DatePicker.vue'
    import MonthPicker  from '@/vue/components/date_components/pickers/MonthPicker.vue'

    /* REACTIVES */
    const htmlReference     = new ref(null);
    const r_periodIndex     = new ref(1);
    const r_lastPeriodIndex = new ref(1);
    const r_isExpanded      = new ref(false);
    const r_rangeSelection  = new reactive({
        startTime: null,
        endTime:   null
    });

    let initialLoad = false;
    let initialDate;
    let computedRange;

    /* INITIALIZATION */
    onMounted(()=>{
        initialLoad = true;
        setTimeout(()=>{
            const isFirstLoad = true;
            onDateRange(computedRange, isFirstLoad);
        },500)
        document.addEventListener('mouseup', onClickOutside);
        handleObject(initialDate, 'initialDate');
        const { startTime, endTime, periodIndex, fixedTime } = initialDate;
        handleNumber(startTime, 'startTime');
        handleNumber(endTime, 'endTime');
        handleNumber(periodIndex, 'periodIndex');
        onPeriodSelected(periodIndex);
    });
    onBeforeUnmount(() => {
      document.removeEventListener('mouseup', onClickOutside);
    });

    /* PROPS */
    const props = defineProps({
        range: Object,
        periodIndex:Number
    });

    /* COMPUTED */
    const c_selectionList = computed(()=>{
        return [1718204400000, 1718118000000, 1718031600000, 1717945200000, 1717858800000, 1717772400000, 1717686000000, 1717599600000]
    });

    const c_periodIndex = computed(()=>{
        r_isMonth.value = 2 == r_periodIndex.value;
        return r_periodIndex.value
    })

    const c_range = computed(()=>{
        let range = {
                startTime: getTimeZeroHour(),
                endTime: -1
            }
        const finalRange = rangeGetterList[ r_periodIndex.value](range);
        computedRange = finalRange
        return finalRange
    });

    function getDailyRange(range){
        const { startTime, endTime,  } = handleObject(range);
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');

        const isSunday = 0 == new Date(startTime).getDay();

        let finalStart = -1;
        let finalEnd   = -1;

        if(isSunday && endTime == -1){
            finalStart = getMonday(startTime);
            finalEnd   = getSunday(startTime);
        }else{
            finalEnd   = getMonday(startTime);
            const date = new Date(finalEnd);
                date.setHours(0,0,0,0);
                date.setDate(date.getDate()-1);
                
            finalEnd   = getSunday(date.getTime());
            finalStart = getMonday(finalEnd);
        }
        r_rangeSelection.startTime = finalStart;
        r_rangeSelection.endTime   = finalEnd;
    
        return {
                    startTime: finalStart,
                    endTime:finalEnd
               }
    }

    function getWeeklyRange(range){
        const { startTime, endTime,  } = handleObject(range);
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');

        const isSunday = 0 == new Date(startTime).getDay();

        let finalStart = -1;
        let finalEnd   = -1;

        if(isSunday && endTime == -1){
            finalStart = getMonday(startTime);
            finalEnd   = getSunday(startTime);
        }else{
            finalEnd   = getMonday(startTime);
            const date = new Date(finalEnd);
                date.setHours(0,0,0,0);
                date.setDate(date.getDate()-1);
                
            finalEnd   = getSunday(date.getTime());
            finalStart = getMonday(finalEnd);
        }
        r_rangeSelection.startTime = finalStart;
        r_rangeSelection.endTime   = finalEnd;
    
        return {
                    startTime: finalStart,
                    endTime:finalEnd
               }
    }

    function getMonthlyRange(range){
        const { startTime, endTime,  } = handleObject(range);
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');

        let finalStart = getToDate1(startTime);
        let finalEnd   = -1;

        const todayTime = getToDate1(getTimeZeroHour());

        if(endTime != -1) {
            finalEnd = getToDate1(endTime);
            if(finalEnd >= todayTime){
                const date = new Date(finalEnd);
                      date.setMonth(date.getMonth()-1);
                
                finalEnd   = date.getTime();
                finalStart = getMonday(finalEnd);
            }
            r_rangeSelection.startTime = finalStart;
            r_rangeSelection.endTime   = finalEnd;
        }

        return {
                    startTime: finalStart,
                    endTime:finalEnd
               }
    }

    function getToDate1(time){
        handleTime(time, 'time');
        const date = getDateZeroHour(time);
              date.setDate(1);
        return date.getTime()
    }

    /* EVENTS */
    const emit = defineEmits(['range', 'reset', 'cancel',  'expand', 'collapse']);

    function onInitialDate(dateData){
        initialDate = JSON.parse(JSON.stringify(dateData));
    }

    function onInitialMonth(dateData){

    }

    function onPeriodSelected(periodIndex){
        handleNumber(periodIndex, 'periodIndex');
        r_periodIndex.value = periodIndex;

        r_isMonth.value = 2 == periodIndex

        setTimeout(()=>{
            onDatePickerClick(true);
        },200);
    };

    function onDateCancel(){
        r_isExpanded.value = false;
        r_periodIndex.value = r_lastPeriodIndex.value;
        emit('cancel');
        emit('collapse');
    }

    function onDateRange(rangeDate, isFirstLoad){
        if(null == rangeDate){
            // Early return
            return
        }
        handleObject(rangeDate, 'rangeDate');
        const {startTime, endTime} = rangeDate;
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');
        r_rangeSelection.startTime = startTime;
        r_rangeSelection.endTime = endTime;
        r_isExpanded.value = false;
        r_lastPeriodIndex.value = r_periodIndex.value;
        
        emit('range', {startTime, endTime, periodIndex:r_periodIndex.value, isFirstLoad});
        emit('collapse');
    }

    function onDatePickerClick(isExpanded){
        r_isExpanded.value = isExpanded;
    }

    function onReset(){
        r_isExpanded.value = false;
        emit('reset');
    }

    function onClickOutside(event) {
      const element = htmlReference.value;
      if (element && !element.contains(event.target)) {
        if(r_isExpanded){
            onDateCancel()
        }
      }
    }
</script>