1_1_Paginator.vue
<template>
    <li class="ws-1-1-3__pagination">
        <p class="ws-1-1-3__label">{{localize("High difference Areas")}}</p>
        <input  ref="r_inputPagination"
                class="input text-right"
                type="number"
                min="1"
                :max="r_totalAreas"
                v-model="c_itemsPerPage">
        <span class="ws-1-1-3__label">{{ c_totalAreas }}</span>
    </li>
    <li>
        <button class="button light-grey"
            @click="reproduceNavigation"
        >Reproduce navigation</button>
    </li>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch } from 'vue'

    /* STORE */
    import { getters, actions } from '@/vue/__stores__/WS/state__WS.js'

    /* REACTIVES */
    const r_totalAreas = new ref();

    /* COMPUTED */
    const c_itemsPerPage = computed({
        get: () => {
            const itemsPerPage = getters.itemsPerPage;
            if(null == itemsPerPage){
                // Early return
                return
            }
            handleNumber(itemsPerPage, 'itemsPerPage');
            return itemsPerPage;
        },
        set: (itemsPerPage) => {
            if(null == itemsPerPage  || '' == itemsPerPage){
                // Early return
                return
            }
            const finalItemsPerPage = Math.min(Math.max(itemsPerPage, 1), r_totalAreas.value);
           actions.update_itemsPerPage(finalItemsPerPage);
        }
    });

    const c_totalAreas = computed(()=>{
        const totalAreas = getters.totalAreas;
        if(null == totalAreas){
            // Early return
            return '/ ' + 0
        }

        handleNumber(totalAreas, 'totalAreas');
        r_totalAreas.value = totalAreas;
        return '/ ' + totalAreas
    });

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }

    function reproduceNavigation(){
       actions.playTrack();
    }
</script>