1_2_GraphTab.vue
<template>
    <ul class="ws-1-1-1__ref-list">
        <li >
            <button class="ws-1-1-1__tab heavy" :class="0 == c_issueIndex ? 'selected' : ''"
                @click="onSelectGraph(0)"
            >
                <p>{{ localize('Underwork issues') }}</p>
            </button>
        </li>
        <li >
            <button class="ws-1-1-1__tab heavy" :class="1 == c_issueIndex ? 'selected' : ''"
                @click="onSelectGraph(1)"
            >
                <p>{{ localize('Overwork issues') }}</p>
            </button>
        </li>
        <!--
        <li >
            <button class="ws-1-1-1__tab heavy" :class="2 == c_issueIndex ? 'selected' : ''"
                @click="onSelectGraph(2)"
            >
                <p>{{ localize('Net Difference') }}</p>
            </button>
        </li>
        -->
    </ul>
</template>

<script setup>
    /* VUE */
    import { computed, watch } from 'vue'

    /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* STORE */
    import { getters, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* COMPUTED */
    const c_issueIndex = computed(()=>{
        const issueIndex = getters.issueIndex;
        if(null == issueIndex){
            // Early return
            return
        }
        handleNumber(issueIndex, 'issueIndex');
        return issueIndex
    });

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }

    /* EVENT */
    function onSelectGraph(index){
        handleNumber(index, 'index');
        handleNumber(index, 'index');
        mutations.setIssueIndex(index);
    }

    /* WATCH */
    watch(() => getters.issueIndex, (issueIndex) => {
        if(null == issueIndex){
            // Early return
            onSelectGraph(0);
            return
        }
        
    }, { deep: true, immediate: true});
</script>