1_3_AreaRange.vue
<template>
    <li class="ws-1-3__component panel-0 text-3" v-if="null != c_dayData">
            <section class="ws-1-3__graph" >
                <GraphDay
                    :dayData    = "c_dayData"
                    :issueIndex = r_issueIndex
                    @select="onSelect"
                />
            </section>
            <section>
                <p class="ws-1-3__area-name heavy text-4">{{ r_areaName }}</p>
                <p>
                    <span>{{ localize('Planned') + " "}}</span>
                    <span class="heavy">
                        {{ r_day_schedule }}
                    </span>
                </p>
    
                <p>
                    <span>{{ localize("Tracked") + " "}}</span>
                    <span>
                        {{ r_day_result }}
                    </span>
                </p>
                <p>
                    <span>{{ 'Net difference' + ' '}}</span>
                    <span class="heavy">
                        {{ r_day_netDiff + ' ' + (r_day_netDiff_num < 0 ? 'more' : 'less' ) }}
                    </span>
                </p>

                <p style="margin-top: 1rem;">
                    <span>{{ localize('Overestimated') + ' '}}</span>
                    <span class="on-danger heavy">
                        {{ r_day_underwork }}
                    </span>
                </p>
                <p>
                    <span>{{ localize('Underestimated') + ' '}}</span>
                    <span class="on-danger heavy">
                        {{ r_day_overwork }}
                    </span>
                </p>
            </section>
            <a class="ws-1-3__button button grey"
                @click="onClickDetails"
            >{{localize('See Details')}}</a>
    </li>
</template>

<script setup>
    /* VUE */
    import { onMounted, computed, reactive, ref, watch, nextTick } from 'vue'

    /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* STORE */
    import { actions, getters, mutations } from '@/vue/__stores__/WS/state__WS.js'
    
    /* COMPONENT */
    import GraphDay        from '@/vue/components/Graph/GraphDay.vue';

    /* REACTIVES */
    const r_areaId        = new ref();
    const r_areaName      = new ref();
    const r_dayIndex      = new ref();
    const r_metricList    = new ref();
    const r_selectDay     = new ref();

    const r_day_schedule  = new ref(0);
    const r_day_result    = new ref(0);
    const r_day_overwork  = new ref(0);
    const r_day_underwork = new ref(0);

    const r_day_netDiff_num = new ref(0);
    const r_day_netDiff     = new ref(0);

    const r_issueIndex      = new ref(0);

    /* PROPS */
    const props = defineProps({
        index : Number
    });

    /* COMPUTED */
    const c_dayData = computed(()=>{
        const list = getters.areaList;

        if(null == list){
            // Early return
            return
        }
        const {dayData} = list[props.index];

        if(null == dayData){
            // Early return
            return
        }
        handleDataStructure(dayData, 'dayData');
        
        const {
            areaId,
            areaName,
            dayList
        } = dayData;

        handleEmptyString(areaName, 'areaName');
        handleArray(dayList, 'dayList');

        r_metricList.value = dayList;
        r_areaId.value     = areaId;
        r_areaName.value   = areaName;
        r_selectDay.value  = r_metricList.value[r_dayIndex.value];

        const {
            day_schedule
            ,day_result
            ,day_overwork
            ,day_underwork
            ,day_netDiff

        } = r_selectDay.value;

        r_day_schedule.value    = getFormatedMinutes(day_schedule);
        r_day_result.value      = getFormatedMinutes(day_result);

        r_day_netDiff_num.value = day_netDiff;
        r_day_netDiff.value     = getFormatedMinutes(day_netDiff);

        r_day_overwork.value    = getFormatedMinutes(day_overwork);
        r_day_underwork.value   = getFormatedMinutes(day_underwork);

        return dayData
    });

    const c_title = computed(()=>{
        return 'Over and underwork'
    });

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }
    
    /*　EVENTS */
    const emit = defineEmits(['back', 'select', 'details']);

    function onSelect(index){
        mutations.setDayIndex(index);
    }

    function onSelectGraph(index){
        handleNumber(index, 'index');
        mutations.setIssueIndex(index);
    }

    function onClickDetails(){
        const { dateString }   = r_selectDay.value;
        handleEmptyString(dateString, 'dateString');
        const areaId = r_areaId.value;
        handleEmptyString(areaId, 'areaId');

        mutations.go_to_area(areaId, dateString);
    }

    watch(() => getters.dayIndex, (dayIndex) => {
        if(null == dayIndex){
            r_dayIndex.value = 0;
            // Early return
            return
        }
        handleNumber(dayIndex, 'dayIndex')

        if(dayIndex == r_dayIndex.value){
            // EARLY RETURN
            return
        }

        r_dayIndex.value = dayIndex;

    }, { deep: true, immediate: true});
    
    watch(() => getters.issueIndex, (issueIndex) => {
        if(null == issueIndex){
            // Early return
            onSelectGraph(0)
            return
        }
        r_issueIndex.value = issueIndex;
        
    }, { deep: true, immediate: true});
</script>