1_PageHome.vue
<template>
    <section class="text-2 screen-large w-1__component" level="1">
        <header class="screen-header">
            <p  class="screen-title">
                <span>{{localize("Work Schedule")}}</span>
                <span class="text-1" style="color:hsl(var(--surface-3))"> v.1</span>
            </p>
            <Lang class="screen-header__lang-area"/>
        </header>
       
        <section class="ws-1__component text-2">
            <ul class="ws-1__filter-list">
                <li class="ws-1__calendar-selector">
                    <Calendar_1 
                        :selectionList="c_dateSelectionList"
                        :startTime = "c_dateRange.startTime"
                        :endTime   = "c_dateRange.endTime"
                        @range="onRange"
                    />
                </li>
                <Paginator_1_1/>
            </ul>
            <section class="ws-1__list-graph">
                <section class="ws-1__panel-graph panel-0">
                    <main class="ws-1__wrapper table-1__table">
                        <header>
                            <IteratorDay/>
                            <GraphTab_1_2/>
                        </header>
                        <ul class="ws-1__scroller">
                            <AreaRange_1_3
                                v-for="(areaData, index) in c_areaList"
                                :key        = "index + '_' + Math.random()"
                                :index      = "index"
                            />
                        </ul>
                    </main>
                </section>
            </section>
        </section>
    </section>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch } from 'vue'

    /* STORE */
    import { actions, getters, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* LIBRARIES */
    import { formatToDateString } from '@/libs/DateUtils.js'

    /* COMPONENT */
    import Lang          from '@/vue/components/Lang.vue'
    import Calendar_1    from '@/vue/components/calendar/Calendar_1.vue'
    import IteratorDay   from '@/vue/components/Iterators/IteratorDay.vue'
    import Paginator_1_1 from './1_1_Paginator.vue'
    import GraphTab_1_2  from './1_2_GraphTab.vue'
    import AreaRange_1_3 from './1_3_AreaRange.vue'

    /* COMPUTED */
    const c_dateSelectionList = computed(()=>{
        const selectionList = getters.dateWithDataList;
        if(null == selectionList){
            // Early return
            return
        }
        handleArray(selectionList, 'selectionList');
        return selectionList
    });

    const c_dateRange = computed(()=>{
        const startTime = getters.startDateString;
        const endTime   = getters.endDateString;
        if(null == startTime || null == endTime){
            // Early return
            return {}
        }
        
        return {
            startTime,
            endTime
        }
    });

    const c_areaList = computed(()=>{
        const areaList = getters.areaList;
        if(null == areaList){
            // Early return
            return
        }
        let itemsPerPage = getters.itemsPerPage || areaList.length;
        handleArray(areaList, 'areaList');
        handleNumber(itemsPerPage, 'itemsPerPage');
        return areaList.slice(0, itemsPerPage);
    });

    /* METHODS */
    function localize(text){
        return window.localize(text);
    }

    /*　EVENTS */
    function onRange(dateData){
        const { startDateString, endDateString } = handleDataStructure(dateData, 'dateData');
        handleEmptyString(startDateString, 'startDateString');
        handleEmptyString(endDateString, 'endDateString');
        
        mutations.go_to_HomeRange(startDateString, endDateString)
    }
</script>