#dashboard-robot {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 23rem;
    grid-auto-columns: max-content;
}

#dashboard-robot .rz-dropdown-label {
    line-height: 1.5;
}