DatePicker.vue
<template>
	<section :class="c_isExpanded ? 'date-picker__expanded': 'date-picker__collapsed'"
			 class="date-picker__component"
			 :c_periodIndex="c_periodIndex"
			 >
		<section class="date-picker__controls-container shadow-2">
			<section class="date-picker__calendar-controls">
				<button type="button" class="date-picker__prev">
					<SvgIconLeft @click="onClickPrev()" />
				</button>
				<p class="date-picker__month-year">{{ r_currentMonthYear }}</p>
				<button type="button" class="date-picker__next" :class="r_nextButtonClass">
					<SvgIconRight @click="onClickNext()" />
				</button>
			</section>
			
			<!-- <PeriodSelector @select="onPeriodSelected" :periodIndex="c_periodIndex"/> -->
			
			<DateMonth
					   :monthTime="r_monthTime"
					   :startTime="r_dataSelection.start"
					   :endTime="r_dataSelection.end"
					   :selectionList="c_selectionList"
					   :fixedTime="r_fixedTime"
					   :range="c_range"
					   @select="onSelect"
					   @unselect="onUnselect"
					   />
			<article class="date-picker__ok-cancel">
				<button class="button primary-1" @click="onOk">適用</button>
				<button class="button ghost" @click="onCancel">キャンセル</button>
			</article>
		</section>
		
	</section>
</template>

<script setup >
/* VUE */
import { ref, reactive, onMounted, computed } from 'vue'

/* COMPONENTS */
import SvgIconLeft    from '@/vue/components/svg/chevronLeft.vue'
import SvgIconRight   from '@/vue/components/svg/chevronRight.vue'
import DateMonth      from '../controls/DateMonth.vue'
import PeriodSelector from '../controls/PeriodSelector.vue'

/* LIBRARIES */
import { getMonday, getSunday } from '@/libs/DateUtils'
import { getDateZeroHour, getTimeZeroHour } from '@/libs/DateUtils'

/* VARIABLES */
const monthEN     = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
const monthJP     = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'];
const intervalListName = ['daily', 'weekly', 'monthly'];
const monthsName  = monthJP;
const selectionHandlers = [
	{
		onSelect:   onSelectDate,
		onUnselect: onUnselectDate
	},
	{
		onSelect:   onSelectWeek,
		onUnselect: onUnselectWeek
	}
];

let onSelect   = ()=>{};
let onUnselect = ()=>{};

/* REACTIVES */
const r_monthList        = reactive([]);
const r_date             = new ref(getDateZeroHour());
const r_nextButtonClass	 = new ref();
const r_fixedTime		 = new ref(-1);
const r_monthTime		 = ref(getTimeZeroHour());
const r_currentMonthYear = ref('');
const r_periodIndex      = ref(1);
const r_dataSelection    = reactive({
	start: -1,
	end: -1
});
const r_lastSelection = new reactive({
	startTime: -1,
	endTime:   -1
});

/* PROPS */
const props = defineProps({
	isExpanded:    Boolean,
	range:         Object,
	time:          Number,
	selectionList: Array,
	periodIndex:   Number
});

/* INITIALIZATION */
onMounted(() => {
	const dateForYear = getDateZeroHour();
    dateForYear.setMonth(0);

	for (let index = 0; index < 12; index++) {
		dateForYear.setMonth(index);
		const time = dateForYear.getTime();
		r_monthList.push(time);
	}

	addMonth(0);
	
	emit('initial', 
				{
					startTime:   r_dataSelection.start, 
					endTime  :   r_dataSelection.end,
					periodIndex: r_periodIndex.value,
					fixedTime:   r_fixedTime.value
				});
});

/* COMPUTED */
const c_isExpanded = computed(()=>{
	if(props.isExpanded){
		r_fixedTime.value   = -1;
		
		if(-1 != r_dataSelection.start){
			const selectionDate = new Date(r_dataSelection.start);
			const month         = selectionDate.getMonth();
			const year          = selectionDate.getFullYear();
			r_date.value.setMonth(month);
			r_date.value.setFullYear(year);
			setMonth();
		}
	}
	return props.isExpanded
});

const c_range = computed(()=>{
	const range = props.range;
	if(null == range || null == range.startTime){
		// Early return
		return
	}
	const { startTime, endTime } = handleObject(range);
	handleTime(startTime, 'startTime');
	handleTime(endTime, 'endTime');

	r_dataSelection.start = startTime;
	r_lastSelection.start = startTime;

	r_dataSelection.end   = endTime;
	r_lastSelection.end   = endTime;

	r_fixedTime.value = -1 != endTime ? startTime : -1;
	
	return range
});

const c_selectionList = computed(() => {
	const selectionList = props.selectionList;
	if(null == selectionList){
		// Early return
		return
	}
	handleArray(selectionList, 'selectionList');
	return  selectionList
});

const c_periodIndex = computed(()=>{
	const periodIndex = props.periodIndex;
	if(null == periodIndex){
		// Early return
		return
	}
	handleNumber(periodIndex, 'periodIndex');
	r_periodIndex.value = periodIndex;
	const handlers      = selectionHandlers[periodIndex];
	onSelect   = handlers.onSelect;
	onUnselect = handlers.onUnselect;
	return periodIndex
});

/* METHODS */

function setMonth(){
	const date        = r_date.value;
	r_monthTime.value = date.getTime();
	const month       = date.getMonth();
	const year        = date.getFullYear();

	const today              = getDateZeroHour();
	r_nextButtonClass.value  = date.getMonth() == today.getMonth() && date.getFullYear() == today.getFullYear() ? 'next-disable' : '';
	r_currentMonthYear.value = year + '年 ' + monthsName[month];
}

function addMonth(amount) {
	const date = r_date.value;
	date.setMonth(date.getMonth() + amount);
	setMonth();
}

/* EVENTS */
const emit = defineEmits(['range', 'cancel', 'period', 'initial']);

function onPeriodSelected(periodIndex){
	handleNumber(periodIndex, 'periodIndex');
	r_periodIndex.value = periodIndex;
	emit('period', periodIndex)
}

function onClickNext(event) {
	addMonth(1);
}

function onClickPrev(event) {
	addMonth(-1);
}

function onSelectDate(selectedTime) {
	handleNumber(selectedTime, `selectedTime`);
	let startTime = r_dataSelection.start; 
	let endTime   = r_dataSelection.end;

	const isNullStartTime = -1 == startTime;
	const isNullEndTime   = -1 == endTime;

	if (isNullStartTime && isNullEndTime){
		r_dataSelection.start = selectedTime;
		// Early return
		return;
	}

	const fixedTime = r_fixedTime.value;

	if(startTime == selectedTime || endTime == selectedTime) {
		if(selectedTime == fixedTime){
			r_fixedTime.value = -1;
		}else{
			r_fixedTime.value = selectedTime;
		}
		// Early return
		return;
    }

	if(endTime == selectedTime) {
		// Early return
		return;
	}

	if (-1 != fixedTime || 0 != fixedTime)
	{
		startTime = selectedTime;
		endTime   = fixedTime;
	}

	let minTime = Math.min(startTime, endTime);
    let maxTime = Math.max(startTime, endTime);

	if(-1 == minTime){
		minTime = maxTime;
		maxTime = -1;
	}

	r_dataSelection.start = minTime;
	r_dataSelection.end   = maxTime;
}

function onSelectWeek(selectedTime) {
	handleNumber(selectedTime, `selectedTime`);
	let startTime = r_dataSelection.start; 
	let endTime   = r_dataSelection.end;

	const isNullStartTime = -1 == startTime;
	const isNullEndTime   = -1 == endTime;
	
	let monday;
	let sunday;

	monday = getMonday(selectedTime);
	sunday = getSunday(selectedTime);
	
	if (isNullStartTime && isNullEndTime){
		r_dataSelection.start = monday;
		r_dataSelection.end   = sunday;
		// Early return
		return;
	}

	const fixedTime = r_fixedTime.value;

	/* Handle selection based on fixed */
	if(selectedTime == startTime){
		r_fixedTime.value = fixedTime == startTime ? -1 : startTime;
		// Early return
		return
	}

	if(selectedTime == endTime){
		r_fixedTime.value = fixedTime == endTime ? -1 : endTime;
		// Early return
		return
	}

	if(fixedTime == startTime){
		if(selectedTime < startTime){
			r_fixedTime.value = -1;
			startTime = monday;
		}else{
			endTime = sunday;
		}
	}else if(fixedTime == endTime){
		if(selectedTime < endTime){
			startTime = monday;
		}else{
			r_fixedTime.value = -1;
			startTime         = getMonday(endTime);
			endTime           = sunday;
		}
	}else{
		if(selectedTime < startTime) {
			startTime = monday;
		}else{
			endTime = sunday;
		}
	}

	let minTime = Math.min(startTime, endTime);
    let maxTime = Math.max(startTime, endTime);

	if(-1 == minTime){
		minTime = maxTime;
		maxTime = -1;
	}

	r_dataSelection.start = -1 != minTime ? getMonday(minTime) : minTime;
	r_dataSelection.end   = -1 != maxTime ? getSunday(maxTime) : maxTime;
}

function onUnselectWeek (unselectedTime){

	r_dataSelection.start = -1;
	r_dataSelection.end   = -1;
	r_fixedTime.value     = -1;
}

function onUnselectDate (unselectedTime){
	handleNumber(unselectedTime, `unselectedTime`);
	
	if(r_fixedTime.value == unselectedTime){
		r_fixedTime.value = -1;
	}

	const startTime = r_dataSelection.start;
	const endTime   = r_dataSelection.end;

	if(unselectedTime == startTime){
		r_dataSelection.start = endTime;
		r_dataSelection.end   = -1;
	}

	if(unselectedTime == endTime){
		r_dataSelection.start = startTime;
		r_dataSelection.end   = -1;
	}

	const isNoSelection = -1 == r_dataSelection.start && -1 == r_dataSelection.end
}

function onOk(event){
	r_fixedTime.value     = -1;

	const { start, end } = r_dataSelection;
	if(-1 == start && -1 == end){
		onCancel();
		// Early return
		return
	}

	r_lastSelection.start = start;
	r_lastSelection.end   = end;

	emitRange();
}

function onCancel(event){
	r_fixedTime.value     = -1;
	r_dataSelection.start = r_lastSelection.start;
	r_dataSelection.end   = r_lastSelection.end;
	emit('cancel');
}

function emitRange(){
	emit('range', 
					{
						startTime: r_dataSelection.start, 
						endTime  : r_dataSelection.end,
						time_interval: intervalListName[r_periodIndex.value]
					});
}
</script>
