
.register-tag__main {
    width: var(--top-width);
    margin: 0 auto;
    margin-bottom: 2rem;
}

.register-tag__header {
    width: max-content;
    display: grid;
    grid-auto-columns: max-content;
    grid-gap: 0.5rem;
    padding: 2rem;
}

.register-tag__wrapper{
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 20rem;
    
    padding: 0.25rem;
    padding-left: 0.5rem;
    border-radius: 666rem;
    background-color: hsl(var(--surface-1));
    margin-bottom: 1rem;
}

.register-tag__header {
    margin-bottom: 2rem;
}

.register-tag__list-wrapper {
    width: max-content;
}

.register-tag__tracker-list {
    width: max-content;
    display: grid;
    grid-gap: 0.5rem;
}