.register-card__component {
    width: max-content;
    display: grid;
    padding: 0.75rem;
}

.register-card__wrapper {
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 0.5rem;
    grid-template-columns: max-content 20rem;
    
    padding: 0.25rem;
    padding-left: 0.5rem;
    border-radius: 666rem;
    margin-bottom: 1rem;
    background-color: hsl(var(--surface-1));
}
