.register-shift__wrapper {
    height: calc(100svh - 7rem);
    overflow: auto;
    padding: 0rem;
}

.register-shift__wrapper .panel-0,
.register-shift__wrapper .panel-4 {
    width: max-content;
}

.register-shift__template {
 display: grid;
 grid-auto-flow: row;
 grid-gap: 0.25rem;
}

.register-shift__list,
.register-shift__list-shift,
.register-shift__header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3.5rem;
    grid-gap: 0.25rem;
}

.register-shift__list-shift {
    grid-template-columns: 10rem;
}

.register-shift__list .button.light-grey {
    padding: 0.0625rem 0.75rem;
    align-self: center;
    justify-self: center;
}

.register-shift__value,
.register-shift__item {
    display: grid;
    align-items: center;
    width: 100%;
    text-align: center;
    border-right: dashed 0.0625rem hsl(var(--surface-1));
}

.register-shift__value {
    border-right: dashed 0.0625rem hsl(var(--surface-3));
}

.register-shift__value .input{
    display: block;
    outline: 1px solid hsl(var(--surface-2));
    text-align: center;
    justify-self: start;
    padding: 0.125rem;
    border-radius: 0.5rem;
    width: calc(100% - 0.125rem);
}

.register-shift__section {
    margin: 2rem 0rem;
}

.register-shift__header {
    grid-template-columns: 8rem max-content 8rem  6rem 6rem;
    grid-gap: 0.5rem;
    align-content: center;
    margin: 1rem 0;
}

.register-shift__header > * {
    align-self: center;
}