.robot-view__component {
    display: grid;
    height: calc(100svh - 6.75rem);
    width: calc(100svw - 15rem);
    grid-auto-flow: column;
    grid-template-columns: 32rem 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:    'name name'
                            'list store';
    grid-gap: var(--padding, 1rem);
    padding: var(--padding, 1rem);
}
.robot-view__name {
    display: grid;
    grid-template-columns: 1rem max-content;
    grid-auto-flow: column;
    grid-gap: 0.0625rem;
    width: 100%;
    margin: 0rem;
}

.robot-view__name:before {
    grid-column: 1;
    content: " ";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: hsl(var(--primary-1));
    outline: solid 0.0625rem hsl(var(--primary-2) / 0.1);
    outline-offset: -0.0625rem;
    align-self: center;
    border-radius: 666rem;
}

.robot-view__store-list {
    grid-area: list;
    width: 100%;
}