.store-editor__panel,
.store-editor__sub-panel {
    width: 100%;
    display: grid;
    grid-template-areas: "title title"
                        "column1 column2";
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 1rem;
    padding: 1rem 2rem;
    border-radius: var( --border-radius-panel);
    background-color: hsl(var(--surface-0));
}

.store-editor__sub-panel {
    grid-template-areas: "column1 column2";
    padding: 0rem;
}

.store-editor__panel:not(:last-child) {
    margin-bottom: 2rem;
}

.store-editor__title {
    font-size: var(--text-4);
    font-weight: 600;
    color: var(--on-2);
    grid-area: title;
}

.store-editor__column-1,
.store-editor__column-2 {
    width: 100%;
    font-size: var(--text-3);
}

.store-editor__column-1 {
    grid-area: column1;
}
.store-editor__column-2 {
    grid-area: column2;
}

.store-editor__field {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-template-columns: 6rem 1fr;
    background-color: var(--background, hsl(var(--surface-1)));
    outline: solid 0.0625rem hsl(var(--surface-2));
    border-radius: var( --border-radius-panel);
    align-items: center;
    padding: 0.125rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.store-editor__select {
    padding-right: 0.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.store-editor__option {
    padding-right: 0.5rem
}
.dropdown-button {
    position: absolute;
    right: 10px; /* Adjust this value to increase or decrease space to the right */
    top: 50%;
    transform: translateY(-50%); /* Centers the button vertically */
    background: transparent;
    border: none;
    cursor: pointer;
}

.store-editor__comment {
    width: 100%;
    padding: 1.75rem;
    text-align: center;
    background-color: hsl(var(--primary-1) / 0.3);
    border-radius: 0.5rem;
}

.store-editor__buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-content: center;
    justify-content: center;
    grid-gap: 2rem;
    grid-column: column1 / column2;
}
.store-editor__buttons > button:nth-child(1) {
    justify-self: end;
}

.store-editor__upload {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1rem max-content 1fr;
    grid-gap: 0.5rem;
    height: 2.5rem;
    margin-top: 0.5rem;
}

.store-editor__upload svg {
    width: 1.5rem;
    height: 100%;
    grid-column: 2;
}