.time-item__component {
    width: 100%;
    height: max-content;
    border-radius: var( --border-radius-panel);
}

.time-item__button {
    display: grid;
    grid-template-columns: 1fr 1rem;
    grid-template-areas:    'date icon'
                            'duration icon';
    align-items: center;
    width: 100%;
    
    grid-gap: 0.125rem;
    
    cursor: pointer;
    
    padding: 0.5rem var( --border-radius-panel);
    padding-right: 0.75rem;
    border-radius: var( --border-radius-panel);
    background-color: hsl(var(--surface-0));
}

.time-item__field[date] {
    grid-area: date;
}

.time-item__field[duration] {
    grid-area: duration;
}

.time-item__icon {
    grid-area: icon;
}