.stock-product-item__component {
    display: grid;
    grid-template-columns: 2rem 2rem 3rem 1fr;
    grid-template-areas: 
                        'name name name name'
                        'icon image field-1 field-2'
                        'icon image field-3 field-3';
    grid-column-gap: var(--panel-padding);
    grid-row-gap: 0.25rem;
    padding: var(--panel-padding);
    width: 100%;
    height: max-content;
}

.stock-product-item__name {
    grid-area: name;
}

.stock-product-item__image {
    height: 3rem;
    max-width: 100%;
    object-fit: cover;
    grid-area: image;
    align-self: center;
}

.stock-product-item__icon {
    display: grid;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-items: center;
    grid-area: icon;
    align-self: center;
    justify-self: center;
    border-radius: 666rem;
    background-color: hsl(var(--surface-6));
    color: hsl(var(--surface-0));
    padding: 0.45rem;
}

.stock-product-item__icon.red {
    background-color: hsl(var(--red));
}

.stock-product-item__icon.orange {
    background-color: hsl(var(--orange));
}

.stock-product-item__icon.green {
    background-color: hsl(var(--green));
}
.stock-product-item__icon.violet {
    background-color: hsl(var(--violet));
}

.stock-product-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    grid-gap: var(--panel-padding);
    text-align: left;
}

.stock-product-item__field-1 {
    grid-area: field-1;
}

.stock-product-item__field-2 {
    grid-area: field-2;
}

.stock-product-item__field-3 {
    grid-area: field-3;
}