.stock-product-list__component {
    display: grid;
    grid-template-rows: max-content calc(100svh - 14.5rem);
    grid-gap: 0.75rem;
    padding: 0.75rem;
    height: calc(100svh - 10.5rem);
}

.stock-product-list__header {
    padding: 0.5rem 1rem;
}

.stock-product-list__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 0.75rem;
    width: 100%;
    height: calc(100svh - 15.25rem);
    padding: 0.75rem;
    overflow-y: auto;
}