Main.vue
<template>
    <section id="app" class="main__component">
        <SideNavbar
                    @openStoreModal="onOpenStoreModal"
                    />
        <router-view :key="$route.fullPath" />
    </section>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch } from 'vue';

    /* VUE ROUTER */
    import { useRouter, useRoute } from 'vue-router'
    const router = useRouter();
    const route  = useRoute();

    /* REACTIVES */
    const r_isUserInteraction = new ref();

    /* STORE */
    import { mutations, getters } from '@/vue/__stores__/WS/state__WS.js'

    /* COMPONENTS */
    import SideNavbar from './SideNavbar.vue'

    /* REACTIVES */
    const r_storeModalClass = new ref('close');

    /* EVENTS */
    function onOpenStoreModal(){
        r_storeModalClass.value = 'open';
    }

    function onCloseModal(){
        r_storeModalClass.value = 'close';
    }

    /* WATCH */
    watch(() => getters.newPath, (newPath) => {
        if(null == newPath){
            // Early return
            return
        }
        handleEmptyString(newPath, 'newPath');
        router.push(newPath);
    }, { deep: true, immediate: true});

    watch(() => route.params, (params) => {
        mutations.reactToParams(route.name, params, route.query);
    }, { deep: true, immediate: true});
</script>