SideNavbar.vue
<template>
    <article class="nav-menu__component surface-0 ">
        <ul class="nav-menu__button-list">
            <li class="align-start nav-menu__logo-wrapper">
                <SvgIsologo/>
            </li>
            <li class="nav-button__component" @click="(event)=>{goTo('')}">
                <button class="nav-button__link">
                    <span><SvgGraph/></span>
                    <p>全店分析</p>
                </button>
            </li>
            <li class="nav-button__component" @click="(event)=>{ goToVueApp('tracking-comparison')}">
                <button class="nav-button__link">
                    <span><SvgRobot/></span>
                    <p>店舗比較</p>
                </button>
            </li>
            <li class="nav-button__component" @click="onClickStoreModal">
                <button class="nav-button__link">
                    <span><SvgTracking/></span>
                    <p>トラッキング分析</p>
                </button>
            </li>
        </ul>
        <ul class="nav-menu__button-list">
            <li class="nav-button__component" @click="(event)=>{goTo('upload')}">
                <button class="nav-button__link">
                    <span><SvgUpload/></span>
                    <p>販売本数アップロード</p>
                </button>
            </li>
            <li class="nav-button__component" @click="(event)=>{goTo('settings')}">
                <button class="nav-button__link">
                    <span><SvgSettings/></span>
                    <p>設定</p>
                </button>
            </li>
            <li class="nav-button__component" @click="(event)=>{goTo('logout')}">
                <button class="nav-button__link">
                    <span><SvgLogout/></span>
                    <p>ログアウト</p>
                </button>
            </li>
        </ul>
    </article>
</template>

<script setup>
    /* VUE */
    import { useRouter, useRoute } from 'vue-router';
    const router = useRouter();

     /* COMPONENTS */
    import SvgIsologo from '@/vue/components/svg/SvgIsologo.vue'
    import SvgGraph from '@/vue/components/svg/SvgGraph.vue'
    import SvgRobot from '@/vue/components/svg/SvgRobot.vue'
    import SvgTracking from '@/vue/components/svg/SvgTracking.vue'
    import SvgUpload from '@/vue/components/svg/SvgUpload.vue'
    import SvgSettings from '@/vue/components/svg/SvgSettings.vue'
    import SvgLogout from '@/vue/components/svg/SvgLogout.vue'

    /* METHODS */
    function goTo(path) {
        handleString(path, 'path');
        const baseUrl = '../';
        // Extract the current URL parts
        const currentUrl = window.location.href;
        if (currentUrl.includes('/vueapp/group/')) {
            const newBaseUrl = new URL(currentUrl).origin + '/';
            window.location.assign(newBaseUrl + path);
        } else {
            window.location.assign(baseUrl + path);
        }
    }

    function goToVueApp(path) {
        handleString(path, 'path');
        const baseUrl = '../';
        // Extract the current URL parts
        const currentUrl = window.location.href;
        if (currentUrl.includes('/vueapp/group/')) {
            const newBaseUrl = new URL(currentUrl).origin + '/vueapp/';
            window.location.assign(newBaseUrl + path);
        } else {
            window.location.assign(baseUrl + path);
        }
    }


    /* EVENTS */
    const emit = defineEmits(['openStoreModal']);

    function onClickStoreModal(event){
        emit('openStoreModal')
    }
</script>