.dark {
  --green: 90 100% 64%;
  --magenta: 313 85% 60%;
  --red: 0 70% 55%;
  --orange: 40 93% 50%;
  --blue: 220 100% 45%;
  --yellow: 58 45% 30%;
  --violet: 259 100% 24%;
}

.light {
  --green: 90 100% 36%;
  --magenta: 313 85% 40%;
  --red: 0 70% 45%;
  --orange: 40 93% 50%;
  --blue: 220 100% 55%;
  --yellow: 58 45% 70%;
  --violet: 259 100% 76%;

}

.over {
  color: var(--on-over);
  background-color: var(--over);
  
}

.custom-color {
  background-color: hsl(var(--custom-color));
}

.custom-color-text {
  color: hsl(var(--custom-color));
}

*[color-green],
.color-green {
  color: hsl(var(--green));
}
*[color-magenta],
.color-magenta {
  color: hsl(var(--magenta));
}
*[color-red],
.color-red {
  color: hsl(var(--red));
}
*[color-violet],
.color-violet {
  color: hsl(var(--violet));
}
*[color-orange],
.color-orange {
  color: hsl(var(--orange));
}
*[color-yellow],
.color-yellow {
  color: hsl(var(--yellow));
}
*[color-blue],
.color-blue {
  color: hsl(var(--blue));
}


*[green]{
  --custom-color: var(--green);
}

*[magenta]{
  --custom-color: var(--magenta);
}

*[red]{
  --custom-color: var(--red);
}

*[violet]{
  --custom-color: var(--violet);
}

*[orange]{
  --custom-color: var(--orange);
}

*[yellow]{
  --custom-color: var(--yellow);
}

*[blue]{
  --custom-color: var(--blue);
}

