:root {
  --saturation-ratio: 0.01;
}

/* SURFACE CLASSES */
.on-0{
  color: hsl(var(--on-surface-0));
}

.on-1 {
  color: hsl(var(--on-1));
}

.on-2 {
  color: hsl(var(--on-2));
}

.on-3 {
  color: hsl(var(--on-3));
}

.surface-0 {
  background-color: hsl(var(--surface-0));
}

.surface-1 {
  background-color: hsl(var(--surface-1));
}

.surface-2 {
  background-color: hsl(var(--surface-2));
}

.surface-3 {
  background-color: hsl(var(--surface-3));
}

.surface-4 {
  background-color: hsl(var(--surface-4));
}

.surface-5 {
  background-color: hsl(var(--surface-5));
}

.surface-6 {
  background-color: hsl(var(--surface-6));
}

.surface-7 {
  background-color: hsl(var(--surface-7));
}

.surface-8 {
  background-color: hsl(var(--surface-8));
}

.outline-1 {
  color: hsl(var(--outline-1));
}
.outline-2 {
  color: hsl(var(--outline-2));
}

/* PRIMARY CLASSES */
.primary-1 {
  background-color: hsl(var(--primary-1));
}

.primary-2 {
  background-color: hsl(var(--primary-2));
}

.primary-3 {
  background-color: hsl(var(--primary-3));
}

.primary-4 {
  background-color: hsl(var(--primary-4));
}

.primary-light {
  background-color: hsl(var(--primary-1) / 0.3);
}

.on-primary-1 {
  color: hsl(var(--on-primary-1));
}


/* ERROR CLASSES */
.error-1 {
  background-color: hsl(var(--error-1));
}
.error-2 {
  background-color: hsl(var(--error-2));
}

.on-error-1 {
  color: hsl(var(--on-error-1));
}
.on-error-2 {
  color: hsl(var(--on-error-2));
}

.error-text {
  color: hsl(var(--md-sys-color-error));
}

#app .light .transparent,
#app .dark .transparent,
.light .transparent,
.dark .transparent,
.transparent {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  outline-color: transparent;
  pointer-events: none;
}

:root {
  --neutral-0:   0 0% 100%;
  --neutral-5:   47 11% 98%;
  --neutral-10:  47 9% 94%;
  --neutral-15:  47 4% 85%;
  --neutral-20:  47 3% 77%;
  --neutral-50:  47 2% 52%;
  --neutral-60:  47 2% 43%;
  --neutral-70:  47 3% 35%;
  --neutral-80:  47 4% 27%;
  --neutral-85:  47 4% 18%;
  --neutral-90:  47 7% 12%;
  --neutral-100: 47 6% 10%;
  --neutral-105: 47 5% 8%;
  --neutral-1000: 0 0% 0%;

  --info-10: 193 88% 94%;
  --info-50: 202 90% 89%;
  --info-100: 189 100% 38%;
  --info-120: 190 100% 26%;
  --info-200: 188 87% 12%;

  --danger-10: 0 100% 96%;
  --danger-50: 1 100% 92%;
  --danger-100: 3 100% 61%;
  --danger-120: 0 82% 39%;
  --danger-200: 2 91% 13%;

  --warning-10: 34 100% 94%;
  --warning-50: 31 100% 88%;
  --warning-100: 33 100% 48%;
  --warning-120: 24 100% 35%;
  --warning-200: 33 97% 14%;

  --success-hue: 150;
  --success-10: 150 88% 93%;
  --success-50: 150 91% 87%;
  --success-100: 150 100% 37%;
  --success-120: 158 100% 23%;
  --success-200: 157 79% 11%;
}

