MonthYear.vue
<template>
	<section class="date-picker__year"
		     :c_yearTime="c_yearTime"
			 :startTime="c_startTime"
			 :endTime="c_endTime"
			 :c_fixedTime="c_fixedTime"
			 :r_dataSelection="r_dataSelection"
			 :c_selectionList="c_selectionList"
			 :c_periodIndex="c_periodIndex"
		    >
		<ul class="date-picker__selected-wrapper">
			<li class="date-picker__selected"
				@click="onUnselectStart"
				v-if="null != c_startString">
                <p>{{c_startString}}</p>
					<p class="date-picker__selected-icon">
                        <SvgClose/>
                    </p>
            </li>
			<li class="date-picker__selected"
				@click="onUnselectEnd"
				v-if="null != c_endString">
                <p>{{c_endString}}</p>
                    <p class="date-picker__selected-icon">
                        <SvgClose/>
                    </p>
            </li>
		</ul>
		<ul class="date-picker__month-list" :r_monthList="r_monthList">
			<li class="date-picker__year-month"
				v-for="(month, index) in r_monthList"
				:key="(month.time +'-'+index)"
				:class="month.class"
				>
				<button type="button"
						class="date-picker__month-button"
						@click="onMonthSelection(month.time)"
						@dblclick="onMonthUnselection(month.time)"
						>
					<p class="date-picker__month-name text-4">
						{{month.name}}
					</p>
					<span class="date-picker__selection-background"></span>
				</button>
			</li>
		</ul>
	</section>
</template>

<script setup>
/* TO COMPARE */
/* VUE */
import { ref, reactive, computed, onMounted } from 'vue'

/* LIBRARIES */
import { getMonthData, getDate1, getTimeDate1, getTimeZeroHour, getDateZeroHour } from '@/libs/DateUtils'

/* COMPONENTS */
import SvgClose from '@/vue/components/svg/SvgClose.vue'

/* REACTIVES */
const r_dataSelection = reactive({
	start: -1,
	end: -1
});

const r_monthList = reactive([]);

/* Variables */
const SELECTED_MONTH_CLASS = ' date-picker__selected-month ';
const START_MONTH_CLASS	 = ' date-picker__start-month ';
const END_MONTH_CLASS		 = ' date-picker__end-month ';
const IN_BETWEEN_MONTH	 = ' date-picker__between-month ';
const DIFFERENT_MONTH	 = ' date-picker__different-month ';
const RED_DAY			 = ' date-picker__red-day ';
const EXTRA_SELECTION	 = ' date-picker__extra-selection ';
const FIXED_DAY_CLASS	 = ' date-picker__fixed ';

let yearToDisplay = getDate1();
	yearToDisplay.setMonth(0);

let monthsLength		 = 12;

/* INITIALIZATION */
onMounted(() => {
	r_dataSelection.start = getTimeZeroHour();
	setYearByProps();
	setSelectionByProps();
	displayYearAndSelection();
});

/* PROPS */
const props = defineProps({
	yearTime: 	   Number,
	startTime: 	   Number,
	endTime:   	   Number,
	fixedTime:	   Number,
	selectionList: Array,
	isOnlyPast:	   Boolean,
	periodIndex:   Number
});

/* COMPUTED */
const c_yearTime = computed(() => {
	const yearTime = props.yearTime;
	if (null == yearTime) {
		// Early return
		return
	}
	
	setYearByProps();
	displayYearAndSelection();

	return props.yearTime
})

const c_startTime = computed(() => {
	const time = props.startTime;
	if (null == time) {
		// Early return
		return
	}
	
	handleNumber(time, `time`);
	r_dataSelection.start = time;
	displaySelection();
	return props.startTime
});

const c_startString = computed(() => {
	const start = r_dataSelection.start;
	if(-1 == start){
		// Early return
		return
	}
	
	const date       = new Date(start);
	const dateString = date.getFullYear() + '/' + (date.getMonth()+1);
	// Early return
	return dateString
});

const c_endString = computed(() => {
	const end = r_dataSelection.end;
	if(-1 == end){
		// Early return
		return
	}
	const date       = new Date(end);
	const dateString = date.getFullYear() + '/' + (date.getMonth()+1);
	// Early return
	return dateString
});

const c_endTime = computed(() => {
	const time = props.endTime;
	if (null == time) {
		// Early return
		return
	}
	handleNumber(time, `time`);
	r_dataSelection.end = time;
	displaySelection();

	return props.endTime
});

const c_selectionList = computed(()=>{
	const selectionList = props.selectionList;
	if(null == selectionList){
		// Early return
		return 
	}
	
	handleArray(selectionList, 'selectionList');
	return selectionList
});

const c_fixedTime = computed(()=>{
	const fixedTime = props.fixedTime;
	if(null == fixedTime){
		// Early return
		return
	}
	
	return fixedTime
});

const c_periodIndex = computed(()=>{
	const isReset = 2 == props.periodIndex;
	return props.periodIndex
});
/* METHODS */
function setYearDate(time) {
	handleTime(time, 'time');

	r_monthList.length = 0;

	yearToDisplay = getDate1(time);
	yearToDisplay.setMonth(0);
}

function setYearByProps() {
	const yearTime = props.yearTime;
	if (null == yearTime) {
		// Early return
		return
	}
	handleNumber(yearTime, `props.yearTime`);
	setYearDate(yearTime);
}

function displayYear() {
	let name           = ''
	let time           = 0;
	let dateClass      = '';
	const todayMonthTime = getTimeDate1();
	const todayDate =  new Date(todayMonthTime);
	const yearToDisplayTime = yearToDisplay.getTime();
	
	for (let month = 0; month < monthsLength; month++) {
		time = yearToDisplay.getTime();
		if(todayMonthTime < time) {
			// Early return
			return
		}
		name = (yearToDisplay.getMonth() + 1) + '月';

		r_monthList.push({ name, class: dateClass, time, baseClass: dateClass });

		yearToDisplay.setMonth(month+1);
	}
}

function setSelectionByProps() {
	const start = props.startTime
	if (checkIsNumber(start)) {
		r_dataSelection.start = start;
	}

	const end = props.endTime;
	if (checkIsNumber(end)) {
		r_dataSelection.end = end;
	}
}

function displaySelection() {
	const start = r_dataSelection.start;
	const end   = r_dataSelection.end;
	let time;
	let dateData;
	let classToApply;
	const length = r_monthList.length;

	let selectionList = props.selectionList || [];

	for (let index = 0; index < length; index++) {
		dateData = r_monthList[index];
		time = dateData.time;
		classToApply = dateData.baseClass;

		if (time == start) {
			classToApply += SELECTED_MONTH_CLASS;
			if (-1 != end) {
				classToApply += START_MONTH_CLASS;
			}
		}

		if (time == end) {
			classToApply += SELECTED_MONTH_CLASS;
			if (-1 != start) {
				classToApply += END_MONTH_CLASS;
			}
		}

		if(time == props.fixedTime){
			classToApply += FIXED_DAY_CLASS;
		}

		if(-1 != selectionList.indexOf(time)){
			classToApply += EXTRA_SELECTION;
		}

		if (time > start && time < end && (-1 != start && -1 != end)) {
			classToApply += IN_BETWEEN_MONTH;
		}
		
		dateData.class = classToApply;
	}
}

function displayYearAndSelection() {
	displayYear();
	displaySelection();
}

/* EVENTS */
const emit = defineEmits(['select', 'unselect']);

function onMonthSelection(time) {
	handleNumber(time, 'time');
	emit('select', time);
}

function onMonthUnselection(time) {
	handleNumber(time, 'time');
	if(time == r_dataSelection.start){
		emit('unselect', time);
	}
	if(time == r_dataSelection.end){
		emit('unselect', time);
	}
}

function onUnselectStart(){
	emit('unselect', r_dataSelection.start);
}

function onUnselectEnd(){
	emit('unselect', r_dataSelection.end);
}

</script>