.nav-button__component {
    position: relative;
    display: grid;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    color: hsl(var(--on-2));
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-button__link {
    position: relative;
    display: grid;
    height: 2.25rem;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 2.25rem max-content;
    grid-gap: 0.5rem;

    justify-items: start;
    align-items: center;
    border-radius: 10000;
    margin-left: 0.0625rem;
    
    color: hsl(var(--on-2));
    border-radius: 0.75rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-button__link > *:nth-child(2) {
    margin: 0;
}

.nav-button__link:hover,
.nav-menu__button-list:hover .nav-button__link.active {
    background-color: hsl(var(--primary-1));
}

.nav-button__component:hover .nav-button__link,
.nav-button__link.active {
    color: hsl(var(--on-1));
}

.nav-button__link > *:nth-child(1) {
    grid-column: 1;
    z-index: 2;
    background-color: transparent;

    border-radius: 0.75rem;
    width: 100%;
    height: 100%;
    align-self: center;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
}

.nav-button__link > *:nth-child(1) > * {
    max-height: 1.5rem;
}

.nav-button__link:hover,
.nav-button__link.active > *:nth-child(1) {
    background-color: hsl(var(--primary-1));
}

.nav-button__link :last-child {
    min-width: max-content;
    align-self: center;
}
