.nav-menu__component {
    top: 0;
    left: 0;
    position: fixed;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-gap: 1rem;
    width: max-content;
    height: 100svh;
    cursor: pointer;
    padding-left: 0.25rem;
    z-index: calc(666* 666);
}

.nav-menu__component > *:nth-child(2) {
    grid-row: 3;
}

.nav-menu__logo-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-self: start;
    grid-gap: 0.25rem;
    width: 2.25rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: hsl(var(--on-1));
    color: hsl(var(--surface-0));
    margin: 0.75rem 0;
    margin-top: 0.25rem;
    margin-left: 0.125rem;
}

.nav-menu__button-list {
    width: 3rem;
    border-radius: 0.75rem;
    overflow: hidden;
    align-self: center;
    transition: all 0.25s 0.25s ease-in-out;
    padding: 0.25rem;
    transform: translate(-0.25rem, 0rem);
}

.nav-menu__component:hover .nav-menu__button-list {
    width: 15rem;
}

.nav-menu__component:hover {
    backdrop-filter: blur(0.5rem);
    background-color: hsl(var(--surface-0) / 0.75);
}

@media (min-height: 33em) {

}