.restock__component {
    --input-wrapper-width: max-content;
    --input-column-template: 0.25rem max-content 1fr;
    --row-head-height: 5.5rem;
    --cell-head-height: calc(var(--row-head-height) / 2);
}

.restock__input-icon {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 1.125rem;
    height: 1.125rem;
    color: hsl(var(--surface-0));
    background-color: var(--custom-color);
    border-radius: 666rem;
    padding: 0.25rem;
}

    .restock__main {
        grid-template-rows: max-content 1fr;
        display: grid;
        grid-gap: 0.5rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
        .restock__list-wrapper {
            width: 84vw;
            height: calc(100svh - 19rem);
            padding: 0.5rem;
        }
            .restock__list {
                width: 100%;
                height: 100%;
                display: grid;
                grid-auto-rows: max-content;
                overflow: auto;
                grid-row-gap: 0.5rem;
            }
                /* TABLE HEAD */
                .restock__row-head {
                    position: sticky;
                    top: 0;
                    height: var(--row-head-height);
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 18rem;
                    grid-auto-columns: max-content;
                    grid-gap: 0.5rem;
                    background-color: hsl(var(--surface-4));
                    z-index: 2;
                }
                    .restock__head-1 {
                        position: sticky;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        background-color: hsl(var(--surface-6));
                        padding: 0.5rem;
                    }
                    .restock__head {
                        display: grid;
                        grid-template-rows: 1.08fr 1fr;
                        height: var(--row-head-height);
                        text-align: center;
                        border-radius: 1.125rem;
                        outline: solid 0.0625rem hsl(30 calc(100% * 0.01 ) 97%);
                        outline-offset: -0.0625rem;
                        background-color: hsl(var(--surface-6));
                    }
                        .restock__time {
                            height: var(--cell-head-height);
                            width: 100%;
                            font-size: var(--text-4);
                            font-weight: 600;
                            border-radius: 1.125rem 1.125rem 0rem 0rem;
                            border-bottom: solid 0.0625rem hsl(var(--surface-1));
                            padding: 0.125rem;
                            background-color: hsl(var(--surface-7));
                        }
                        .restock__time > * {
                            line-height: 1.4;
                        }
                        .restock__head-name {
                            height: var(--cell-head-height);
                            display: grid;
                            grid-auto-flow: column;
                            grid-template-columns: 3.5rem repeat(3, 3.5rem);
                            align-items: center;
                        }
                        .restock__head-name > * {
                            height:  var(--cell-head-height);
                            align-self: center;
                            display: grid;
                            align-items: center;
                        }

                        .restock__head-name > *:not(:last-child) {
                            border-right: dashed 0.0625rem hsl(var(--surface-1));
                        }

                /* TABLE BODY */
                .restock__row {
                    height: max-content;
                    min-height: 5rem;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 18rem;
                    grid-auto-columns: max-content;
                    grid-gap: 0.5rem;
                    padding-right: 1rem;
                    background-color: hsl(var(--surface-1));
                    cursor: pointer;
                    transition: 0.25s ease-in-out;
                    outline: solid 0.0625rem hsl(var(--surface-6));
                }

                .restock__row:hover {
                    background-color: hsl(var(--surface-2));
                    outline: solid 0.0625rem hsl(var(--surface-0));
                }

                    .restock__column-1 {
                        position: sticky;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-auto-flow: column;
                        grid-template-columns: 2rem 1fr;
                        grid-gap: 0.5rem;
                        background-color: hsl(var(--surface-0));
                        outline: solid 0.0625rem hsl(var(--surface-1));
                        padding: 0.5rem;
                        transition: 0.3s ease-in-out;
                    }
                    .restock__row:hover .restock__column-1 {
                        background-color: hsl(var(--surface-1));
                        outline: solid 0.0625rem hsl(var(--surface-0));
                    }

                    .restock__image {
                        max-width: 100%;
                        height: 4rem;
                        justify-self: center;
                    }

                    .restock__column {
                        display: grid;
                        grid-auto-flow: column;
                        grid-template-columns: 3.5rem repeat(3, 3.5rem);
                        align-self: center;
                        align-content: center;
                        text-align: center;
                        border-radius: 1.125rem;
                        background-color: hsl(var(--surface-0));
                        outline: solid 0.0625rem hsl(var(--surface-6));
                    }
                    .restock__column-empty {
                        width: 14rem;
                        height: 4.25rem;
                        display: grid;
                        align-self: center;
                        align-content: center;
                        border-radius: 1.125rem;
                        background-color: hsl(var(--surface-1));
                        outline: solid 0.0625rem hsl(var(--surface-6));
                    }

                    .restock__row:hover .restock__column-1 {
                        outline: solid 0.0625rem hsl(var(--surface-0));
                    }
                        .restock__column > p {
                            width: 100%;
                            height: 4.25rem;
                            display: grid;
                            align-self: center;
                            justify-self: center;
                            align-content: center;
                            justify-content: center;
                            align-self: stretch;
                        }
                        .restock__column > p:not(:last-child) {
                            border-right: dashed 0.0625rem hsl(var(--surface-7));
                        }
                            .restock__icon {
                                display: grid;
                                align-content: center;
                                justify-content: center;
                                width: 1.75rem;
                                height: 1.75rem;
                                color: hsl(var(--surface-0));
                                background-color: var(--custom-color);
                                border-radius: 666rem;
                                padding: 0.25rem;
                            }