.user-management__component {
    --table-width: calc(100svw - 9rem);
    --row-width: 100%;
    --row-height: 100%;
}

.user-management__component .table__component {
    outline: solid 0.25rem hsl(var(--surface-4));
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;    
}

.store-group-table__component {
    --table-width: 65rem;
    --row-width: 100%;
    --row-height: 100%;
}

.user-management__icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    justify-self: center;
}

.user-management__combo {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: center;
}

.user-management__combo > button {
    font-size: var(--text-2);
    font-weight: 600;
}