.job-task__table-wrapper {
	border-radius: 1.125rem;
	outline: solid 0.25rem hsl(var(--surface-7));
	outline-offset: -0.125rem;
	width: calc(calc(100svw - 8.75rem));
	height: calc(100svh - 15rem);
	overflow-x: auto;
	overflow-y: auto;
}

.job-task__table-wrapper *:not([class]) {
	border-width: 0;
}

.job-task__table {
}

.job-task__table thead th {
	position: sticky;
	top: 0;
	z-index: 2;
	color: hsl(var(--on-1));
	background-color: hsl(var(--surface-7));
}

.job-task-col {
	position: sticky;
	border: none;
	border-width: 0rem;
	background: white;
}

.job-task__table tr:first-child th:first-child { z-index: 3; }

.job-task__table th:nth-child(n)::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-right: 0.0625rem dashed hsl(var(--surface-1));
}

.job-task__table-w-s,
.job-task__table-w-m,
.job-task__table-w-l,
.job-task__th {
	border-width: 0rem;
}

.job-task__table th, td { white-space: nowrap; }

.job-task__table-w-s { min-width: 1rem; }

.job-task__table-w-m { min-width: 5rem; }

.job-task__table-w-l { min-width: 10rem; }



.job-task__table-wrapper .job-task-col::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	border-right: 1px dashed hsl(var(--surface-7));
	border-bottom: solid 0.0625rem hsl(var(--surface-7));
	box-sizing: border-box;
}

.job-task__table-wrapper .job-task-col-no-sticky {
	border: none;
	border-left: none;
	border-right: 1px dashed hsl(var(--surface-7));
	border-bottom: solid 0.0625rem hsl(var(--surface-7));
	height: 100%;
}

.job-task__table-wrapper .job-task-col-no-sticky-only-border-bottom {
	border: none;
	border-right: 1px dashed hsl(var(--surface-7));
	border-bottom: solid 0.0625rem hsl(var(--surface-7));
	height: 100%;
}