.job-task__component {
    display: grid;
    grid-gap: 1rem;
}

.job-task__title {
    margin: 1rem 0rem;
}

.job-task__button-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 0.5rem;
}

.job-task__combo.rz-textbox,
.job-task__combo.rz-dropdown {
    line-height: 1.5;
    border-radius: 1rem;
    height: 2rem;
}

.job-task__table-wrapper {
    width: calc(100svw - 9rem);
    --table-columns: 11.25rem 29.5rem 12.5rem 7rem 5rem 8rem 8rem 6.25rem 8.125rem 8.75rem 8.75rem 8.75rem 8.75rem 11rem 24em 24rem;
    --left-1: 0rem;
    --left-2: 11.25rem;
    --left-3: 0rem;
    --left-4: 0rem;
    --position: static;
    overflow-x: auto;
}

.job-task__table-wrapper[is-edit-mode],
.job-task__table-wrapper[is-edit-mode] .table__head {
    --table-columns: 6.25rem 4rem 11.25rem 29.5rem 12.5rem 7rem 5rem 8.125rem 7.5rem 7rem 8.125rem 10.75rem 10.75rem 8.75rem 8.75rem 11.25rem 27rem 27rem; 
    --left-1: 0rem;
    --left-2: 6.25rem;
    --left-3: 10.25rem;
    --left-4: 21.5rem;
    --position: sticky;
}

.job-task__scroller {
    height: calc(100svh - 20rem);
    z-index: -1;
}

.job-task__table-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
}

.job-task__main,
.job-task__head {
    grid-template-columns: var(--table-columns);
}

.job-task__last-items {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-column: span 2;
}

.job-task__last-items > :nth-child(1) {
    width: 100%;
    grid-row: 1;
    grid-column: 1 / -1;
    border-bottom: dashed 0.0625rem hsl(var(--surface-1));
}

.job-task__last-items > :nth-child(2) {
    width: 100%;
    grid-row: 2;
    grid-column: 1 / span 1;
    border-right: dashed 0.0625rem hsl(var(--surface-1));
}

.job-task__last-items > :nth-child(3) {
    width: 100%;
    grid-row: 2;
    grid-column: 2 / span 1;
}

.job-task__column {
    position: sticky;
    height: 100%;
}

.job-task__column {
    background-color: hsl(var(--surface-0));
}

.job-task__column:first-child {
    background-color: hsl(var(--surface-0));
}

.job-task-col-no-sticky > * {
    justify-self: center;
    text-align: center;
}

/* OVERWRITE */

.job-task__table-wrapper.table__component {
    padding: 0;
    outline: solid hsl(var(--surface-7)) 0.125rem;
    offset: -0.0625rem;
}
.job-task__table-wrapper .table__head {
    position: sticky;
    top: 0;
    z-index: 11;
}


.job-task__table-wrapper .table__head > * {
    display: grid;
    align-content: center;
    height: 100%;
    padding: 0;
}

.job-task__table-wrapper .table__head > *:nth-child(1), 
.job-task__table-wrapper .table__head > *:nth-child(2) {
    position: sticky;
    background: hsl(var(--surface-7));
    border-radius: 0;
    z-index: 10;
}

.job-task__table-wrapper .table__head,
.job-task__table-wrapper .table__main > * {
    border-radius: 0rem;
}

.job-task__table-wrapper .table__head > *:nth-child(1),
.job-task__table-wrapper .table__main .job-task__column:nth-child(1) {
    left: var(--left-1);
    z-index: 10;
}

.job-task__table-wrapper .table__head > *:nth-child(2),
.job-task__table-wrapper .table__main .job-task__column:nth-child(2) {
    left: var(--left-2);
    z-index: 10;
}

.job-task__table-wrapper .table__head > *:nth-child(3),
.job-task__table-wrapper .table__main .job-task__column:nth-child(3) {
    left: var(--left-3);
    z-index: 9;
    position: var(--position);
}

.job-task__table-wrapper .table__head > *:nth-child(4),
.job-task__table-wrapper .table__main .job-task__column:nth-child(4) {
    left: var(--left-4);
    z-index: 9;
    position: var(--position);
}