.task-group__component {
    display: grid;
    grid-gap: 0.5rem;
    z-index: 5;
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    padding-bottom: 0rem;
    overflow-y: auto;
}

.job-task__table-wrapper-edit {
}

.task-group__component .table__component {
    margin-bottom: 0.5rem;
}

.task-group__component .table__head {
    width: 100%;
    grid-column: 1 / -1;
    padding-left: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.task-group__component .table__main {
    height: 28rem;
    padding-right: 0.75rem;
    overflow-y: auto;
}

.task-group__item {
    font-size: var(--text-3);
    padding: 0.25rem;
}

.task-group__item .button {
    width: calc(100% - 1rem);
    transform: translateX(0.5rem);
}