Iterator.vue
<template>
    <article class="iterator-control__component">
        <button class="iterator-control__button left"
            :class="0 == r_index ? 'disabled' : ''"
            @click="onClick(-1)"
        >
            <ArrowLeft/>
        </button>
        <p class="iterator-control__label">{{r_list[r_index]}}</p>
        <button class="iterator-control__button right"
            :class="r_lastIndex == r_index ? 'disabled' : ''"
            @click="onClick(1)"
        >
            <ArrowRight/>
        </button>
    </article>
</template>

<script setup>
    /* VUE */
     import { computed, reactive, ref, watch } from 'vue'

    /* STORE */
    import { getters, actions, mutations } from '@/vue/__stores__/WS/state__WS.js'

    /* COMPONENTS */
    import ArrowLeft from '@/vue/components/svg/chevronLeft.vue';
    import ArrowRight from '@/vue/components/svg/chevronRight.vue';

    /* REACTIVE */
    const r_index      = new ref(0);
    const r_list       = new ref([]);
    const r_lastIndex  = new ref(0);

    /* PROPS */
    const props = defineProps({
        index:Number,
        list:Array
    });

    /* METHOD */
    function localize(text){
        return window.localize(text);
    }

    /* EVENT */
    function onClick(increment){
        handleNumber(increment, 'increment');
        handleNumber(r_index.value, 'r_index.value');

        let index     = r_index.value + increment;
            index     = Math.min(Math.max(index, 0), r_lastIndex.value);
        r_index.value = index;
        
        mutations.setHourIndex(index);
    }

    /* WATCH */
    watch(() => getters.hourIndex, (indexInput) => {
        if(null == indexInput){
            // Early return
            return
        }
        
        handleNumber(indexInput, 'indexInput');
        let index      = indexInput;
        r_index.value  = index;

    }, { deep: true, immediate: true });

    watch(() => getters.hourList, (list) => {
        if(null == list){
            // Early return
            return
        }
        handleArray(list, 'list');
        r_list.value  = list;
        r_lastIndex.value = Math.max(list.length-1, 0);

    }, { deep: true, immediate: true });
</script>