Calendar_1_2_1.vue
<template>
	<section class="calendar-1-2-1__month"
			 :c_monthTime="c_monthTime"
			 :r_dataSelection="r_dataSelection"
			 :c_selectionList="c_selectionList"
		>
		<ul class="calendar-1-2-1__week week">
			<li class="calendar-1-2-1__day" 
				v-for="(day, index) in r_weekDays"
				:key="day.time + '_' + Math.random() + '_' + index"
				>
				<p class="calendar-1-2-1__date" :class="index==6 ?'calendar-1-2-1__red-day' : ''" >{{ day }}</p>
			</li>
		</ul>
		<ul class="calendar-1-2-1__week">
			<li class="calendar-1-2-1__day"
			    v-for="(day, index) in r_dateList" 
				:key="day.time + '_' + Math.random() + '_' + index"
				:class="day.class"
				>
				<button type="button" 
						class="calendar-1-2-1__date-button calendar-1-2-1__day"
						@click="onDateSelection(day.time)"
						>
					<p class="calendar-1-2-1__date text-1" :class="6 == index%7 ? 'calendar-1-2-1__red-day' :  ''">
						{{ day.date }}
					</p>
					<span class="calendar-1-2-1__selection-background"></span>
				</button>
			</li>
		</ul>
	</section>
</template>

<script setup>
/* VUE */
import { ref, reactive, computed, onMounted, watch } from 'vue'

/* LIBRARIES */
import { getMonthData, getTimeZeroHour, getDateZeroHour } from '@/libs/DateUtils'

/* COMPONENTS */
import SvgClose from '@/vue/components/svg/SvgClose.vue'

/* REACTIVES */
const r_dataSelection = reactive({
	start: -1,
	end: -1
})
const r_weekDays	= ref(['月', '火', '水', '木', '金', '土', '日']);
const r_dateList	= reactive([]);

/* VARIABLES */
const DAYS_OF_WEEK	     = 7;
const SELECTED_DAY_CLASS = ' calendar-1-2-1__selected-day ';
const START_DAY_CLASS	 = ' calendar-1-2-1__start-day ';
const END_DAY_CLASS		 = ' calendar-1-2-1__end-day ';
const IN_BETWEEN_DAY	 = ' calendar-1-2-1__between-day ';
const NON_WORKING_DAY	 = ' calendar-1-2-1__red-day ';
const DIFFERENT_MONTH	 = ' calendar-1-2-1__different-month ';
const RED_DAY			 = ' calendar-1-2-1__red-day ';
const EXTRA_SELECTION	 = ' calendar-1-2-1__extra-selection ';
const FIXED_DAY_CLASS	 = ' calendar-1-2-1__fixed ';

let monthToDisplay		 = getDateZeroHour();
let daysLength			 = 43;
let firstDate			 = 0;
let lastDate			 = 0;


/* INITIALIZATION */
onMounted(() => {
	r_dataSelection.start = getTimeZeroHour();
	setMonthByProps();
	setSelectionByProps();
	displayMonthAndSelection();
});

/* PROPS */
const props = defineProps({
	monthTime: 		  Number,
	startTime: 		  Number,
	endTime:   		  Number,
	selectionList:	  Array
});

/* COMPUTED */
const c_monthTime = computed(() => {
	const monthTime = props.monthTime;
	if (null == monthTime) {
		// Early return
		return
	}
	
	setMonthByProps();
	displayMonthAndSelection();

	return props.monthTime
})

const c_startString = computed(() => {
	const start = r_dataSelection.start;
	if(-1 == start){
		// Early return
		return
	}
	
	const date       = new Date(start);
	const dateString = date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate();
	// Early return
	return dateString
});

const c_endString = computed(() => {
	const end = r_dataSelection.end;
	if(-1 == end){
		// Early return
		return
	}
	
	const date       = new Date(end);
	const dateString = date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate();
	// Early return
	return dateString
});

const c_selectionList = computed(()=>{
	const selectionList = props.selectionList;
	if(null == selectionList){
		// Early return
		return 
	}
	
	handleArray(selectionList, 'selectionList');
	return selectionList
});

/* METHODS */
function setMonthDate(time) {
	handleNumber(time, `time`);

	const data = getMonthData(time, true);
	firstDate  = data.firstMonthTime;
	lastDate   = data.lastMonthTime;

	r_dateList.length = 0;

	daysLength     = data.daysLength;
	monthToDisplay = new Date(data.firstDayWeekTime);
}

function setMonthByProps() {
	const monthTime = props.monthTime;
	if (null == monthTime) {
		// Early return
		return
	}
	handleNumber(monthTime, `props.monthTime`);
	setMonthDate(monthTime);
}

function displayMonth() {
	let date = 1;
	let time = 0;
	let dateClass = '';
	let today = getTimeZeroHour();

	for (let index = 0; index < daysLength; index++) {

		date = monthToDisplay.getDate();
		time = monthToDisplay.getTime();

		dateClass = time < firstDate || time > lastDate ? DIFFERENT_MONTH : '';

		r_dateList.push({ date: date, class: dateClass, time, baseClass: dateClass });
		
		date++
		monthToDisplay.setDate(date);
	}
}

function setSelectionByProps() {
	const start = props.startTime
	if (checkIsNumber(start)) {
		r_dataSelection.start = start;
	}

	const end = props.endTime;
	if (checkIsNumber(end)) {
		r_dataSelection.end = end;
	}
}

function displaySelection() {
	const start = r_dataSelection.start;
	const end   = r_dataSelection.end;
	let time;
	let dateData;
	let classToApply;
	const length = r_dateList.length;

	let selectionList = props.selectionList || [];

	for (let index = 0; index < length; index++) {
		dateData = r_dateList[index];
		time = dateData.time;
		classToApply = dateData.baseClass;

		if(0 == index%7){
			classToApply += RED_DAY;
		}

		if (time == start) {
			classToApply += SELECTED_DAY_CLASS;
			if (-1 != end) {
				classToApply += START_DAY_CLASS;
			}
		}

		if (time == end) {
			classToApply += SELECTED_DAY_CLASS;
			if (-1 != start) {
				classToApply += END_DAY_CLASS;
			}
		}
		
		dateData.isSelection = false;
		if(-1 != selectionList.indexOf(time)){
			classToApply += EXTRA_SELECTION;
			dateData.isSelection = true;
		}

		if (time > start && time < end && (-1 != start && -1 != end)) {
			classToApply += IN_BETWEEN_DAY;
		}
		
		dateData.class = classToApply;
	}
}

function displayMonthAndSelection() {
	displayMonth();
	displaySelection();
}

/* EVENTS */
const emit = defineEmits(['select', 'unselect']);

function onDateSelection(time) {
	handleNumber(time, 'time');
	r_dataSelection.start = time;
	emit('select', time);
}

/* WATCH */
watch(() => props.startTime, (startTime) => {
	if(null == startTime){
		// Early return
		return
	}
	handleNumber(startTime, 'startTime');
	r_dataSelection.start = startTime;
	displaySelection();
}, { deep: true, immediate: true });

watch(() => props.endTime, (endTime) => {
	if(null == endTime){
		// Early return
		return
	}
	handleNumber(endTime, 'endTime');
	r_dataSelection.end = endTime;
	displaySelection();
}, { deep: true, immediate: true });

watch(() => r_dataSelection, (dataSelection) => {
}, { deep: true, immediate: true });

</script>