Calendar_1_2.vue
<template>
	<section :class="c_isExpanded ? 'calendar-1-2__expanded': 'calendar-1-2__collapsed'"
			 class="calendar-1-2__component"
			 >
		<section class="calendar-1-2__controls-container shadow-2">
			<section class="calendar-1-2__calendar-controls">
				<button type="button" class="calendar-1-2__prev">
					<SvgIconLeft @click="onClickPrev()" />
				</button>
				<p class="calendar-1-2__month-year">{{ r_currentMonthYear }}</p>
				<button type="button" class="calendar-1-2__next" :class="r_nextButtonClass">
					<SvgIconRight @click="onClickNext()" />
				</button>
			</section>
			<ul >
				<li>
					<Calendar_1_2_1
						:monthTime="r_monthTime"
						:startTime="r_start"
						:endTime="r_end"
						:selectionList="c_selectionList"
						:range="c_range"
						@select="onSelect"
					/>
				</li>
			</ul>
			<article class="calendar-1-2__ok-cancel">
				<button class="button primary-1" @click="onOk">適用</button>
				<button class="button ghost" @click="onCancel">キャンセル</button>
			</article>
		</section>
	</section>
</template>

<script setup >
/* VUE */
import { ref, reactive, onMounted, computed } from 'vue'

/* COMPONENTS */
import Calendar_1_2_1 from './Calendar_1_2_1.vue'
import SvgIconLeft    from '@/vue/components/svg/chevronLeft.vue'
import SvgIconRight   from '@/vue/components/svg/chevronRight.vue'

/* LIBRARIES */
import { getDateZeroHour, getTimeZeroHour } from '@/libs/DateUtils'

/* VARIABLES */
const monthEN     = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
const monthJP     = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'];
const monthsName  = monthJP;

/* REACTIVES */
const r_monthList        = new reactive([]);
const r_date             = new ref(getDateZeroHour());
const r_nextButtonClass	 = new ref();
const r_monthTime		 = new ref(getTimeZeroHour());
const r_currentMonthYear = new ref('');
const r_start            = new ref(-1);
const r_end              = new ref(-1);

const r_lastSelection = new reactive({
	startTime: -1,
	endTime:   -1
});

/* PROPS */
const props = defineProps({
	isExpanded:    Boolean,
	range:         Object,
	time:          Number,
	selectionList: Array
});

/* INITIALIZATION */
onMounted(() => {
	const dateForYear = getDateZeroHour();
    dateForYear.setMonth(0);

	for (let index = 0; index < 12; index++) {
		dateForYear.setMonth(index);
		const time = dateForYear.getTime();
		r_monthList.push(time);
	}

	addMonth(0);
	
	emit('initial', 
				{
					startTime:   r_start.value, 
					endTime  :   r_end.value
				});
});

/* COMPUTED */
const c_isExpanded = computed(()=>{
	if(props.isExpanded){
		
		if(-1 != r_start.value){
			r_date.value = new Date(r_start.value);
			setMonth('isExpanded');
		}
	}
	return props.isExpanded
});

const c_range = computed(()=>{
	const range = props.range;
	if(null == range || null == range.startTime){
		// Early return
		return
	}
	const { startTime, endTime } = handleDataStructure(range);
	handleTime(startTime, 'startTime');
	handleTime(endTime, 'endTime');

	r_start.value         = startTime;
	r_lastSelection.start = startTime;

	r_end.value           = endTime;
	r_lastSelection.end   = endTime;
	
	return range
});

const c_selectionList = computed(() => {
	const selectionList = props.selectionList;
	if(null == selectionList){
		// Early return
		return
	}
	handleArray(selectionList, 'selectionList');
	
	return  selectionList
});

/* METHODS */

function setMonth(from){
	const date        = r_date.value;
	r_monthTime.value = date.getTime();
	const month       = date.getMonth();
	const year        = date.getFullYear();

	const today              = getDateZeroHour();
	r_nextButtonClass.value  = date.getMonth() == today.getMonth() && date.getFullYear() == today.getFullYear() ? 'next-disable' : '';
	r_currentMonthYear.value = year + '年 ' + monthsName[month];
}

function addMonth(amount) {

	const date = r_date.value;
	date.setMonth(date.getMonth() + amount);
	setMonth('addMonth');
}

/* EVENTS */
const emit = defineEmits(['range', 'cancel', 'period', 'initial']);

function onClickNext(event) {
	addMonth(1);
}

function onClickPrev(event) {
	addMonth(-1);
}

function onSelect(selectedTime) {
	handleNumber(selectedTime, `selectedTime`);
	let startTime = r_start.value; 
	let endTime   = r_end.value;

	const isNullStartTime = -1 == startTime;
	const isNullEndTime   = -1 == endTime;

	if ((isNullStartTime && isNullEndTime) || (!isNullStartTime && !isNullEndTime)){
		r_start.value = selectedTime;
		r_end.value   = -1;
		// Early return
		return;
	}

	if(startTime == selectedTime || endTime == selectedTime) {
		// Early return
		return;
    }

	if(isNullEndTime){
		endTime = selectedTime;
	}

	let minTime = Math.min(startTime, endTime);
    let maxTime = Math.max(startTime, endTime);

	r_start.value = -1;
	r_end.value   = -1;

	setTimeout(()=>{
		r_start.value = minTime;
		r_end.value   = maxTime;
	},10);
}

function onOk(event){
	const start = r_start.value;
	const end   = r_end.value;
	if(-1 == start && -1 == end){
		onCancel();
		// Early return
		return
	}

	r_lastSelection.start = start;
	r_lastSelection.end   = end;
	emitRange();
}

function onCancel(event){
	r_start.value = r_lastSelection.start;
	r_end.value   = r_lastSelection.end;
	emit('cancel');
}

function emitRange(){
	const startTime = r_start.value;
	const endTime   = r_end.value;

	emit('range', 
		{
			startTime, 
			endTime
		});
}
</script>
