Calendar_1.vue
<template>
    <article class="calendar-1__component"    
             ref="htmlReference"
    >
        <article class="calendar-1__wrapper">
            <Calendar_1_1 
                        :isExpanded = "r_isExpanded"
                        :startTime  = "c_startTime"
                        :endTime    = "c_endTime"
                        @click      = "onDatePickerClick" 
                        @reset      = "onReset" 
                        />
                        
            <Calendar_1_2 
                :isExpanded="r_isExpanded"
                :selectionList="c_selectionList"
                :range="r_rangeSelection"
                @initial="onInitialDate"
                @range="onDateRange"
                @cancel="onDateCancel"
            />
        </article>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, reactive, computed, onMounted, onBeforeUnmount } from 'vue'

    /* LIBRARIES */
    import { getTimeZeroHour, formatFromDateString, getDatesetFromString, getDatesetFromTime } from '@/libs/DateUtils'

    /* VARIABLES */

    /* COMPONENTS */
    import Calendar_1_1 from './Calendar_1_1.vue'
    import Calendar_1_2 from './Calendar_1_2.vue'

    /* REACTIVES */
    const htmlReference     = new ref(null);
    const r_isExpanded      = new ref(false);
    const r_rangeSelection  = new reactive({
        startTime: -1,
        endTime:   -1
    });

    /* INITIALIZATION */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    onBeforeUnmount(() => {
      document.removeEventListener('mouseup', onClickOutside);
    });

    /* PROPS */
    const props = defineProps({
        startTime:String,
        endTime:String,
        selectionList:Array
    });

    /* COMPUTED */
    const c_selectionList = computed(()=>{
        const selectionList = props.selectionList;
        if(null == selectionList){
            // Early return
            return
        }
        handleArray(selectionList, 'selectionList');
        return selectionList
    });

    const c_startTime = computed(()=>{
        const startTime = props.startTime;
        if(null == startTime){
            r_rangeSelection.startTime = getTimeZeroHour();
            // Early return
            return startTime
        }
        handleEmptyString(startTime, 'startTime');

        r_rangeSelection.startTime = formatFromDateString(startTime);
        return r_rangeSelection.startTime
    });

    const c_endTime = computed(()=>{
        const endTime = props.endTime;
        if(null == endTime){
            r_rangeSelection.endTime = getTimeZeroHour();
            // Early return
            return endTime
        }
        handleEmptyString(endTime, 'endTime');
        r_rangeSelection.endTime = formatFromDateString(endTime);
        return r_rangeSelection.endTime
    });
    
    /* EVENTS */
    const emit = defineEmits(['range', 'reset', 'cancel',  'expand', 'collapse']);

    function onInitialDate(dateData){
    }

    function onDateCancel(){
        r_isExpanded.value = false;
        emit('cancel');
        emit('collapse');
    }

    function onDateRange(rangeDate, isFirstLoad){
        if(null == rangeDate){
            // Early return
            return
        }
        const {startTime, endTime} = handleDataStructure(rangeDate, 'rangeDate');
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');
        
        r_rangeSelection.startTime = startTime;
        r_rangeSelection.endTime   = endTime;
        r_isExpanded.value         = false;

        const startData = getDatesetFromTime(startTime);
        const endData   = getDatesetFromTime(endTime);

        const startDateString = startData.dateString;
        const endDateString   = endData.dateString;
        
        emit('range', {startTime, endTime, startDateString, endDateString, isFirstLoad});
        emit('collapse');
    }

    function onDatePickerClick(isExpanded){
        r_isExpanded.value = isExpanded;
    }

    function onReset(){
        r_isExpanded.value = false;
        emit('reset');
    }

    function onClickOutside(event) {
      const element = htmlReference.value;
      if (element && !element.contains(event.target)) {
        if(r_isExpanded){
            onDateCancel()
        }
      }
    }
</script>
Calendar_1