Calendar_1_1.vue
<template>
    <article class="calendar_1_1__component">
        <article class="text-3 calendar_1_1__wrapper" @click="onClick" :c_isExpanded="c_isExpanded">
            <p col-1>
                <SvgCalendar/>
            </p>
            <p col-2>{{c_range}}</p>
        </article>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, computed } from 'vue';

    /* COMPONENTS */
    import SvgCalendar from '@/vue/components/svg/SvgCalendar.vue'
    import SvgClose from '@/vue/components/svg/SvgClose.vue'

    /* PROPS */
    const props = defineProps({
        startTime:Number,
        endTime:Number,
        isExpanded: Boolean
    });

    /* REACTIVES */
    const r_isExpanded = new ref(false);

    /* COMPUTED */
    const c_isExpanded = computed(()=>{
        r_isExpanded.value = props.isExpanded;
        return props.isExpanded
    });

    /* COMPUTED */
    const c_range = computed(()=>{
        let startTime = props.startTime;
        let endTime   = props.endTime;

        if(null == startTime && null == endTime){
            // Early return
            return '--/--/--'
        }

        if(null == startTime){
            startTime = endTime;
            endTime   = -1;
        }

        handleNumber(startTime, 'startTime');
        handleNumber(endTime, 'endTime');

        if(-1 == startTime && -1 == endTime){
            // Early return
            return '--/--/--'
        }
        
        let startTimeString = getDateString(startTime);
        let endTimeString = getDateString(endTime);

        const rangeSting = startTimeString + (endTimeString == '' ? '' : '~' + endTimeString);
        return rangeSting
    });

    /* METHODS */
    function getDateString(time){
        if(-1 == time){
            // Early return
            return ''
        }

        handleTime(time, 'time');
        const date = new Date(time);
        const dateString = date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate();
        return dateString
    }

    /* EVENTS */
    const emit = defineEmits(['click', 'reset']);

    function onClick(event) {
        r_isExpanded.value = !props.isExpanded;
        emit('click', r_isExpanded.value);
    }
</script>
Calendar_1_1.vue