Checkbox.vue
<template>
    <span  class="checkbox__wrapper"
        :class="c_checkClass"
        @click="onClick"
    >
        <input type="checkbox">
        <SvgCheck/>
</span>
</template>

<script setup>
    /* VUE */ 
    import { computed, ref } from 'vue'

    /* COMPONENTS */
    import SvgCheck from '@/vue/components/svg/SvgCheck.vue'

    /* REACTIVES */
    const r_isUserEvent = new ref();
    const r_isChecked   = new ref();

    /* PROPS */
    const props = defineProps([
        'isChecked'
    ]);

    /* COMPUTED */
    const c_checkClass = computed(()=>{
        let isChecked = props.isChecked;
        let className   = '';
        
        if(r_isUserEvent.value){
            // Early return
            isChecked = r_isChecked.value;
            className = isChecked ? 'checked' : '';
            r_isUserEvent.value = false;
            
            return className
        }

        r_isChecked.value = undefined === isChecked ? r_isChecked.value : isChecked;
        className         = r_isChecked.value ? 'checked' : '';
        
        return className
    });

    /* EVENT */
    const emit = defineEmits(['check', 'uncheck']);

    function onClick(event){
        r_isUserEvent.value = true;
        const isChecked     = !r_isChecked.value;
        
        r_isChecked.value   = isChecked;
        emit(isChecked ? 'check' : 'uncheck');
    }
</script>

<style>
    .checkbox__wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1rem max-content;
        align-content: center;
        justify-content: center;


        border-radius: 0.25rem;
        cursor: pointer;
    }

    .checkbox__wrapper > * {
        grid-area: 1 / 1;
        align-self: center;
        justify-self: center;
        padding: 0.0625rem;
    }

    .checkbox__wrapper :not([type=checkbox]) {
        color: transparent;
    }

    .checkbox__wrapper:hover [type=checkbox] {
        background: hsl(var(--surface-2));
    }
    .checkbox__wrapper.checked:hover [type=checkbox] {
        background: hsl(var(--primary-1));
    }

    [type=checkbox] {
        border-radius: 0.25rem;
        width: 1.25rem;
        height: 1.25rem;

        color: hsl(var(--on-1));
        background: hsl(var(--surface-0));
        
        border: solid .0625rem hsl(var(--surface-7));
        
        cursor: pointer;
        transition: 0.25s ease-in-out;
    }

    .checked [type=checkbox] {
        color: hsl(var(--color-check));
        background: hsl(var(--primary-1));
        border: solid .0625rem hsl(var(--surface-8));
    }

    .checked :not([type=checkbox]) {
        color: hsl(var(--color-check));
    }
</style>