Combo.vue
<template>
    <article    
            ref="r_comboElement"
            class="combo__component"
            @onkeydown="handleKeyDown"
            :c_isMultiselection="c_isMultiselection"
            :c_selectedItemsId ="c_selectedItemsId"
            comp="TxCombo"
    >
    
        <article    
                class="combo__wrapper"
                @onclick="onArrowClick"
        > 
            <p>{{c_selectedItem}}</p>
            <button :class="'combo__button-' + r_visibility">
            <SvgArrowDown/>
            </button>
        </article>
        <section :class="'combo_dropdown-wrapper ' + r_visibility" >
            <!--
            <article    
                    class="input__icon-wrapper combo__input-wrapper"
                    ref="searchElement"
            >
                <p>
                    <SvgSearch/>
                </p>
                <input
                        ref="r_inputElement"
                        c_isEditable:c_isEditable
                        class="combo__input"
                        @oninput="handleInputChanged"
                >
            </article>
            -->
            <ul 
                ref="r_dropdownElement"
                v-if="0 < c_dataList.length"
                :class="'combo__dropdown ' + r_visibility"
            >
                    <li 
                        v-for="(item, index) in c_dataList"
                        :key="index + '_' + Math.random()"
                        :index="index"
                        @onclick="onItemClick(item)"
                        @onclick:stopPropagation="true"
                        @onmouseover="onItemHover(item)"
                        :class="`item_${index} ${r_isMultiselection ? 'combo__item-multi-selection' : 'combo__item'}  ${_selectedIndex == index ? 'hovered' :  'idle'} ${isSelected ? 'selected' : 'not-selected'}`
                    >
                        <TxCheckBox/>
                        <p>
                            {{item.content}}
                        </p>
                    </li>            
            </ul>
        </section>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, computed, onMounted, onBeforeUnmount } from 'vue'

    /* COMPONENTS */
    import SvgArrowDown from '@/vue/components/svg/SvgArrowDown.vue'
    import SvgSearch    from '@/vue/components/svg/SvgSearch.vue'
    import TxCheckBox   from '@/vue/components/TxCheckBox.vue'
    import SvgClose     from '@/vue/components/svg/SvgClose.vue'

    /* VARIABLES */
    const componentName = "TxCombo";
    const VISIBLE       = 'visible';
    const HIDDEN        = 'hidden';
    let _selectedIndex  = -1;
    let searchElement;
    
    /* REACTIVES */
    const r_comboElement     = new ref(null);
    const r_dropdownElement  = new ref(null);
    const r_inputElement     = new ref(null);
    const r_visibility       = new ref(HIDDEN);
    const r_isMultiselection = new ref(false);
    const r_propertyName     = new ref(null);
    const r_propertyId       = new ref(null);
    const r_dataList         = new ref([]);
    const r_selectedItem     = new ref(null);

    /* INITIALIZATION */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    onBeforeUnmount(() => {
      document.removeEventListener('mouseup', onClickOutside);
    });

    /* PROPS */
    const props = defineProps({
        dataList:         Array,
        isEditable:       Boolean,
        placeholder:      String,
        isMultiselection: Boolean,
        propertyName:     String,
        propertyId:       String
    });

    /* COMPUTED */
    const c_isEditable = computed(()=>{
        const isEditable = handleBoolean(props.isEditable);
        const input = handleHTML(r_inputElement.value);

        if(isEditable){
            input.setAttribute('readonly', 'readonly');
        }else{
            input.removeAttribute('readonly');
        }
        return isEditable
    });

    const c_dataList = computed(()=>{
        r_dataList.value = handleArray(props.dataList);
        return r_dataList.value
    });

    const c_selectedItem = computed(()=>{
        if(null == r_selectedItem.value){
            const _placeholder = handleIfNotNull(handleString, props.placeholder);
            r_selectedItem.value = null != _placeholder ? _placeholder : '';
        }
        return c_selectedItem.value
    });
    
    const c_isMultiselection = computed(()=>{
        r_isMultiselection.value = handleIfNotNull(handleBoolean, props.isMultiselection);
        return r_isMultiselection.value
    });

    const c_selectedItemsId = computed(()=>{
        selectedItemsId.value = handleIfNotNull(handleDataStructure, selectedItemsId);
        return selectedItemsId.value
    });

    const c_propertyName = computed(()=>{
        r_propertyName.value = handleEmptyString(props.propertyName);
        return r_propertyName.value
    });

    const c_propertyId  = computed(()=>{
        r_propertyId.value = handleEmptyString(props.propertyId);
        return r_propertyId.value
    });

    /* METHODS */
    function handleKeyDown(event){
        handleObject(event, 'event');
        const key = handleEmptyString(event.key);

        if(0 == r_dataList.value.length){
            // Early return
            return;
        }
        
        if ("ArrowDown" == key)
        {
            scrollIntoView(1);
        }

        if ("ArrowUp" == key)
        {
            scrollIntoView(-1);
        }
    }

    function scrollIntoView(increment){
        if(null == r_dropdownElement.value){
            // Early return
            return
        }
        _selectedIndex += handleNumber(increment);
        const maxIndex = r_dataList.value.length - 1;
        _selectedIndex = Math.min(Math.max(_selectedIndex, 0), maxIndex);

        const r_dropdownElement = handleHTML(r_dropdownElement.value);

        const selector = '.item_' + _selectedIndex;

        const elementToShow = element.querySelector(selector);
        if(null != elementToShow){
            elementToShow.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
        }
    }

    function handleInputChanged(event)
    {
        const newInputValue = event.value;
        expandCombo();
        emit('inputChanged', newInputValue);
    }

    function expandCombo()
    {
        r_visibility.value = VISIBLE;
        InputValue = '';
        _selectedIndex = -1;
        scrollIntoView(0);
        emit('expand');
    }
    
    function collapseCombo()
    {
        r_visibility.value = HIDDEN;
        reset();
        emit('collapse');
    }

    function reset(){
        r_visibility = HIDDEN;
        InputValue = "";
        scrollIntoView(0);
    }

    /* EVENTS */
    const emit = defineEmits(['itemSelected', 'inputChanged', 'expand', 'collapse']);

    function onArrowClick(event)
    {
        event.stopPropagation();
        event.stopImmediatePropagation();

        if(VISIBLE == r_visibility.value){
            collapseCombo();
        }else{
            expandCombo();
        }
    }
    
    function onItemHover(index){
        _selectedIndex = index;
        scrollIntoView(index);
    }

    function onItemClick(item, index)
    {
        if(r_isMultiselection.value){
            onMultiItemSelected(item, index);
        }else{
            onSimpleItemSelected(item);
        }
    }

    function onSimpleItemSelected(item)
    {
        handleEmptyString(r_propertyName.value, 'r_propertyName.value');

        r_selectedItem.value = handleBoolean(item)[r_propertyName.value];
        _selectedIndex = -1;
        collapseCombo();
        emit('itemSelected', item)
    }

    function onMultiItemSelected(item) {
        const isSelected = !item.isSelected;
        item.isSelected = isSelected;

        _totalSelected += isSelected ? 1 : -1;

        _totalSelected = Math.min(Math.max(_totalSelected, 0), r_dataList.value.length);

        _selectedItem = 0 < _totalSelected ? _totalSelected + " selected" : "";
        _selectedIndex = r_dataList.value.indexOf(item);

        const dataList = r_dataList.value.slice();
        r_dataList.value.length = 0;
        r_dataList.value = dataList;
    }

    function onClickOutside(event) {
      const element = r_comboElement.value;
      if (element && !element.contains(event.target)) {
        collapseCombo();
      }
    }
</script>