ComboGroup.vue
<template>
    <article ref="r_comboElement"
             class="combo__component"
             comp="TxCombo">
             <article @click="onComboList"
                 style="line-height: 1.6;"
                 class="combo__wrapper"
                >
                <p>
                    <button 
                            class="combo__reset"
                            :class="r_resetClass"
                            @mouseup="onReset"
                            >
                        <SvgClose/>
                    </button>
                    <span class="ellipsis" :c_textSelection="c_textSelection">{{r_textSelection}}</span>
                </p>
                <button :class="'combo__button-' + r_visibility">
                    <ArrowDown/>
                </button>
        </article>
        <section :class="'combo_dropdown-wrapper ' + r_visibility">
            <!--
            <article class="input__icon-wrapper combo__input-wrapper" ref="SearchElement">
                <p>
                    <SvgSearch/>
                </p>
                <input ref="InputElement" class="combo__input">
            </article>
            -->
            <ul v-if="0 < c_groupList.length" ref="r_dropdownElement" :class="'combo__dropdown ' + r_visibility" :key="r_refreshKey">
                <li v-for="(item, index) in c_groupList"
                    :key="index + '_' + Math.random()"
                    :index="index"
                    :class="`combo__item-multi-selection item_${index}
                             ${r_selectedIndex == index ? 'hovered' :  'idle'} 
                             ${item.isSelected ? 'selected' : 'not-selected'} 
                            `"
                    @mouseover="onGroupHover(index)"
                    @click="onGroupClick(item.id)"
                    >
                    <TxCheckBox/>
                    <p>
                        {{item.text}}
                    </p>
                    <ul v-if="0 < item.subList.length" :class="'combo__sub-dropdown'">
                        <li v-for="(subItem, subIndex) in  item.subList"
                            :key="index + '_' + subIndex + '_' +  Math.random()"
                            :index="index"
                            :subIndex="subIndex"
                            :class="`combo__item-multi-selection  item_${index}_${subIndex}
                                    ${r_selectedSubIndex == subIndex && r_selectedIndex == index ? 'hovered' :  'idle'} 
                                    ${subItem.isSelected ? 'selected' : 'not-selected'}  
                                    `"
                            @mouseover="(event)=>{
                                event.stopPropagation();
                                event.stopImmediatePropagation();
                                onSubGroupHover(index, subIndex);
                            }"
                            @click="(event)=>{
                                event.stopPropagation();
                                event.stopImmediatePropagation();
                                onSubGroupClick(item.id, subItem.id);
                            }"
                            >
                            <TxCheckBox/>
                            <p>
                                {{ '' == subItem.text ? 'グループ未連携' : subItem.text }}
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </article>
</template>

<script setup>
    import { ref, computed, reactive, onMounted, onBeforeUnmount } from 'vue'

    /* STORES */
    import { gettersTrackingComparison, callSelectGroup, callSelectSubGroup } from '@/vue/__stores__/TrackingComparison/Store__TrackingComparison.js'

    /* LIBRARIES */
    import { clone } from '@/libs/clone.js'
    import { toString } from '@/libs/toString.js'
    
    /* COMPONENTS */
    import ArrowDown  from '@/vue/components/svg/SvgArrowDown.vue'
    import SvgSearch  from '@/vue/components/svg/SvgSearch.vue'
    import TxCheckBox from '@/vue/components/TxCheckBox.vue'
    import SvgClose from '@/vue/components/svg/SvgClose.vue'

    /* VARIABLES */
    const HIDDEN  = 'hidden';
    const VISIBLE = 'visible';

    const _groupSelectionList    = [];
    const _subGroupSelectionList = [];
    
    /* REACTIVES */
    const r_comboElement     = new ref(null);
    const r_selectedSubIndex = new ref(-1);
    const r_dropdownElement  = new ref(null);
    const r_textSelection    = new ref(null);
    const r_selectedIndex    = new ref(-1);
    const r_refreshKey       = new ref(0);
    const r_visibility       = new ref(HIDDEN);
    const r_groupList        = new ref([]);
    const r_resetClass       = new ref();

    /* PROPS */
    const props = defineProps({
        IsEditable:Boolean,
        Placeholder:String
    });

    /* INITIALIZATION */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    onBeforeUnmount(() => {
        document.removeEventListener('mouseup', onClickOutside);
    });

    /* COMPUTED */
    const c_groupList = computed(()=>{
        const groupList = gettersTrackingComparison.groupList;
        if(null == groupList){
            // Early return
            return []
        }

        let groupCounter = 0;
        let subGroupCounter = 0;

        groupList.forEach((group)=>{
            const {subList} = group;
            groupCounter += group.isSelected ? 1 : 0;

            subList.forEach((subgroup)=>{
                subGroupCounter += subgroup.isSelected ? 1 : 0;
            });
        });

        let resetClass = ''
        if(groupCounter || subGroupCounter){
            r_textSelection.value = groupCounter    + (1 == groupCounter.length    ? ' group':    ' groups' )   + ' | ' + 
                                    subGroupCounter + (1 == subGroupCounter.length ? ' subgroup': ' subgroups');
        }else{
            resetClass = 'hidden';
            const placeholder = props.Placeholder;
            r_textSelection.value = null == placeholder ? '' : placeholder;
           
        }
        r_resetClass.value = resetClass;
        r_groupList.value = groupList;
        return r_groupList.value
    });

    const c_textSelection = computed(()=>{
        let textSelection = r_textSelection.value;
        if(null == textSelection){
            const placeholder = props.Placeholder;
            r_textSelection.value = null == placeholder ? '' : placeholder;
        }
        return r_textSelection.value
    });

    /* METHODS */
    function scrollIntoView(index, subIndex){
        const dropdownElement = r_dropdownElement.value;
        if(null == dropdownElement){
            // Early return
            return
        }
        
        handleHTML(dropdownElement);
        handleIfNotNull(handleNumber, subIndex);
        const selector = ".item_" + handleNumber(index) + (null != subIndex ? '_' + subIndex : '');

        
        const elementToShow = dropdownElement.querySelector(selector);
        if(null != elementToShow){
            elementToShow.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
        }
    }

    function collapseCombo(){
        r_visibility.value = HIDDEN;
        r_selectedIndex.value = -1;
        scrollIntoView(0);
        emit('collapse');
    }

    function expandCombo(){
        r_visibility.value = VISIBLE;
        r_selectedIndex.value = 0;
        emit('expand');
    }

    /* EVENTS */
    const emit = defineEmits(['collapse', 'expand', 'listChanged', 'subListChanged', 
                                'selectionChanged', 'subSelectionChanged'])
    function onComboList(event){
        event.stopPropagation();
        if(HIDDEN == r_visibility.value){
            expandCombo();
        }else{
            collapseCombo();
        }
    }

    function onGroupHover(index){
        r_selectedIndex.value = handleNumber(index);
    }

    function onSubGroupHover(index, subIndex){
        r_selectedIndex.value = handleNumber(index);
        r_selectedSubIndex.value = handleNumber(subIndex);
    }

    function onGroupClick(groupId){
        handleString(groupId, 'groupId');
        callSelectGroup(groupId);
        emit('listChanged');
    }

    function onSubGroupClick(groupId, subGroupId){
        handleString(groupId,    'groupId');
        handleString(subGroupId, 'subGroupId');
        
        callSelectSubGroup(groupId, subGroupId);
        emit('listChanged');
    }

    function onReset(){
        const list = r_groupList.value;
        let index = 0
        list.forEach((group)=>{
            const {subList} = group;
            let groupId = group.id;

            subList.forEach((subgroup)=>{
               if(subgroup.isSelected){
                setTimeout(()=>{
                    
                    onSubGroupClick(groupId, subgroup.id);
                }, index*100);
                index++
               }
            });
        });
    }

    function onClickOutside(event) {
      const element = r_comboElement.value;
      if (element && !element.contains(event.target)) {
        collapseCombo();
      }
    }
</script>