ComboStore.vue
<template>
    <article ref="r_comboElement"
             class="combo__component"
             comp="TxCombo"
             :c_selectionList="c_selectionList"
            >
        <article @click="onComboList"
                 style="line-height: 1.6;"
                 class="combo__wrapper"
                >
                <p>
                    <button 
                            class="combo__reset"
                            :class="r_resetClass"
                            @click="onReset"
                            >
                        <SvgClose/>
                    </button>
                    <span class="ellipsis">{{c_textSelection}}</span>
                </p>
                <button :class="'combo__button-' + r_visibility">
                    <ArrowDown/>
                </button>
        </article>
        <section :class="'combo_dropdown-wrapper ' + r_visibility">
            <!--
            <article class="input__icon-wrapper combo__input-wrapper" ref="SearchElement">
                <p>
                    <SvgSearch/>
                </p>
                <input ref="InputElement" class="combo__input">
            </article>
            -->
            <ul v-if="0 < c_dataList.length" ref="r_dropdownElement" :class="'combo__dropdown ' + r_visibility">
                <li v-for="(item, index) in c_dataList"
                    :key="index + '_' + Math.random()"
                    :index="index"
                    :class="`${c_isMultiselection ? 'combo__item-multi-selection' : 'combo__item'} 
                             ${r_selectedIndex == index ? 'hovered' :  'idle'} 
                             ${item.isSelected ? 'selected' : 'not-selected'}  
                             item_${index}
                            `"
                    @mouseover="onItemHover(index)"
                    @click="(event)=>{onItemClick(item, index, event.target)}"
                    >
                    <TxCheckBox v-if="c_isMultiselection"/>
                    <p>
                        {{item[c_propertyName]}}
                    </p>
                </li>
            </ul>
        </section>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, computed, reactive, onMounted, onBeforeUnmount } from 'vue'

    /* STORE */
    import { gettersTrackingComparison, callToggleStoreSelection } from '@/vue/__stores__/TrackingComparison/Store__TrackingComparison.js'

    /* COMPONENTS */
    import ArrowDown from '@/vue/components/svg/SvgArrowDown.vue'
    import SvgSearch from '@/vue/components/svg/SvgSearch.vue'
    import SvgClose from '@/vue/components/svg/SvgClose.vue'
    import TxCheckBox from '@/vue/components/TxCheckBox.vue'

    /* VARIABLES */
    const HIDDEN        = 'hidden';
    const VISIBLE       = 'visible';
    const PROPERTY_NAME = 'storeName';

    const _selectionList = [];
    let   _totalSelected = 0;

    /* REACTIVES */
    const r_propertyName     = new ref(PROPERTY_NAME);
    const r_visibility       = new ref(HIDDEN);
    const r_dataList         = new ref([]);
    const r_selectedIndex    = new ref(-1);
    const r_resetClass       = new ref('');
    const r_isReset          = new ref(0);
    const r_isMultiselection = new ref(false);
    const r_comboElement     = new ref(null);
    const r_dropdownElement  = new ref(null);
    const r_textSelection    = new ref(null);
    const r_isUnselected     = new ref(true);
    const r_selectionList    = new ref();

    /* PROPS */
    const props = defineProps({
        dataList:         Array,
        isEditable:       Boolean,
        placeholder:      String,
        isMultiselection: Boolean,
        propertyName:     String,
        selectedIndex:    Number
    });

    /* INITIALIZATION */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    onBeforeUnmount(() => {
        document.removeEventListener('mouseup', onClickOutside);
    });

    /* COMPUTED */
    const c_dataList = computed(()=>{
        const dataList = handleIfNotNull(handleArray, props.dataList);
        const placeholder = props.placeholder;
        r_textSelection.value = null == placeholder ? '' : placeholder;
        r_resetClass.value = 'hidden';
        
        if(null != dataList){
            r_dataList.value = dataList;
        }

        return r_dataList.value
    });

    const c_isMultiselection = computed(()=>{
        r_isMultiselection.value = props.isMultiselection;
        return r_isMultiselection.value
    });

    const c_textSelection = computed(()=>{
        let textSelection = r_textSelection.value;
        if(null == textSelection){
            const placeholder = props.placeholder;
            textSelection = null == placeholder ? '' : placeholder;
            r_resetClass.value = 'hidden';
        }
        r_textSelection.value = textSelection;
        return textSelection
    });

    const c_selectionList = computed(()=>{
        const selectionList = gettersTrackingComparison.storeSelectionList;
        if(null == selectionList){
            // Early return
            return
        }
        r_resetClass.value = selectionList.length == 0 ? 'hidden' : '';
        handleArray(selectionList, 'selectionList');
    });

    const c_propertyName = computed(()=>{
        const propertyName = props.propertyName;
        if(null == propertyName){
            // Early return
            r_propertyName.value = PROPERTY_NAME;
            return PROPERTY_NAME
        }
        r_propertyName.value = propertyName;
        handleEmptyString(propertyName, 'propertyName');
        return propertyName
    });

    /* METHODS */
    function scrollIntoView(index){
        if(null == r_dropdownElement.value){
            // Early return
            return
        }
        const selector = ".item_" + handleNumber(index);
        const dropDownElement = handleHTML(r_dropdownElement.value);
        
        const elementToShow = dropDownElement.querySelector(selector);
        if(null != elementToShow){
            elementToShow.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
        }
    }

    function collapseCombo(){
        r_visibility.value = HIDDEN;
        r_selectedIndex.value = -1;
        scrollIntoView(0);
        emit('collapse');
    }

    function expandCombo(){
        r_visibility.value = VISIBLE;
        r_selectedIndex.value = 0;
        scrollIntoView(0);
        emit('expand');
    }

    /* EVENTS */
    const emit = defineEmits(['collapse', 'expand', 'listChanged', 'selectionChanged', 'reset'])
    function onComboList(event){
        event.stopPropagation();
        if(HIDDEN == r_visibility.value){
            expandCombo();
        }else{
            collapseCombo();
        }
    }

    function onItemHover(index){
        r_selectedIndex.value = handleNumber(index);
        scrollIntoView(index);
    }

    function onItemClick(item, storeIndex, target){
        handleDataStructure(item);
        
        const index = _selectionList.indexOf(item);

        if(r_isMultiselection.value){
            const isSelected = !item.isSelected; 
            item.isSelected  = isSelected;
            item.index       = storeIndex;
            item.target      = target;
            if(isSelected && -1 == index){
                _selectionList.push(item)
            }else if(-1 != index){
                _selectionList.splice(index, 1);
            }

            callToggleStoreSelection(storeIndex);
            _totalSelected = _selectionList.length;
            let text = 0 == _totalSelected ? null : _totalSelected + ' selected';
                text = null != text && 1 == _totalSelected ? _selectionList[0][r_propertyName.value] : text;
            r_textSelection.value = text;

            emit('listChanged');
        }else{
            emit('selectionChanged', item);
            r_textSelection.value = item[r_propertyName.value];
            r_resetClass.value = '';
            collapseCombo();
        }
    }

    function onClickOutside(event) {
      const element = r_comboElement.value;
      if (element && !element.contains(event.target)) {
        collapseCombo();
      }
    }

    function onReset(){
        if(r_isMultiselection.value){
            const list = _selectionList;
            list.forEach((store)=>{
                setTimeout(()=>{
                    onItemClick(store, store.index);
                    store.isSelected = false;
                }, 5*store.index);
            });
        }else{
            r_textSelection.value = null;
            r_resetClass.value = '';
        }
        emit('reset');
    }
</script>