Lang.vue
<template>
    <article class="lang__component text-4"> 
        <p class="lang__selected shadow-1" @click="onClick">{{c_lang}}</p>
        <ul ref="r_comboElement" class="lang__list shadow-3" :class="r_visibility">
            <li class="lang__lang" @mouseup="onSelectLang('JP')">JP</li>
            <li class="lang__lang" @mouseup="onSelectLang('EN')">EN</li>
            <li class="lang__lang" @mouseup="onSelectLang('TW')">TW</li>
        </ul>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, computed, onMounted, onBeforeUnmount } from 'vue'

    /* STORE */
    import {  actions, getters } from '@/vue/__stores__/Lang/state__Lang'

    const r_visibility = new ref('hidden');

    /* REACTIVES */
    const r_comboElement = new ref(null);
    const r_lang = new ref('JP');
    const r_isUserAction = new ref(false);

    /* INITIALIZATION */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    onBeforeUnmount(() => {
      document.removeEventListener('mouseup', onClickOutside);
    });

    /* COMPUTED */
    const c_lang = computed(()=>{
        const lang = getters.lang;
        if(null == lang && !r_isUserAction.value){
            // Early return
            return r_lang.value
        }
        if(r_isUserAction.value){
            return r_lang.value
        }else{
            handleNotValidString(lang, ['EN', 'JP', 'TW'], 'props.lang');
            r_lang.value = lang;
            return lang
        }
    });

    /* METHODS */
    function collapse() {
        r_visibility.value   = 'hidden';
        r_isUserAction.value = false;
    }

    function expand(){
        r_visibility.value = 'visible';
    }

    /* EVENTS */
    function onClick(event){
        r_visibility.value = 'hidden' == r_visibility.value ? 'visible' : 'hidden';
    }

    function onSelectLang(lang){
        handleNotValidString(lang, ['EN', 'JP', 'TW'], 'lang');
        r_isUserAction.value = true;
        r_lang.value         = lang;

        setTimeout(()=>{
            collapse();
        }, 200);
        actions.set_lang(lang);
    }

    function onClickOutside(event){
        const element = r_comboElement.value;
        if (element && !element.contains(event.target)) {
            collapse();
        }
    }
</script>