SkeletonP.vue
<p :style="c_style"></p>

<script setup>
    import { computed, onMounted } from 'vue';

    /* PROPS */
    const props = defineProps({
        text: String
    });

    /* COMPUTED */
    const c_text = computed(()=>{
        const chr = props.chr
        if(null = chr){
            //Early return
        }
        const style = {
            width: chr + 'ch;'
        }
        return style
    });
</script>