TxCheckBox.vue
<template>
    <p  class="checkbox__component " 
        :class="r_isSelected ? 'selected' : 'not-selected'"
        @click="onClick"
        :c_isSelected="c_isSelected">
        <SvgCheck/>
    </p>
</template>

<script setup>
    /* VUE */
    import { ref, computed } from 'vue'

    /* COMPONENTS */
    import SvgCheck from '@/vue/components/svg/SvgCheck.vue'

    /* REACTIVES */
    const r_isSelected = new ref(false);

    /* PROPS */
    const props = defineProps({
        isSelected:Boolean
    });

    /* COMPUTED */
    const c_isSelected = computed(()=>{
        r_isSelected.value = props.isSelected;
        return r_isSelected.value
    });

    /* EVENTS */
    const emit = defineEmits(['click']);

    function onClick(event){
        emit('click', {event, isSelected:r_isSelected.value});
    }
</script>

