TxTable.vue
<template>
    <section class="table__component">
        <ul class="table__head">
            <li class="text-center">日</li>
            <li class="text-center">日付</li>
        </ul>
        <ul class="table_main">
            <li>
                【12666】ファミリーマート一番町
            </li>
            <li>
                2%
            </li>
        </ul>
    </section>
</template>