.stores-graphs__component-wrapper[is-store-id="true"]{
    display: none;
}

.stores-graphs__component {
    width: 100%;
    height: calc(100svh - 2rem);
}

.stores-graphs__component
.graph-panel[graph-1] {
    grid-area: graph-1;
}

.stores-graphs__component
.graph-panel[graph-2] {
    grid-area: graph-2;
}

.stores-graphs__component
.graph-panel[graph-3] {
    grid-area: graph-3;
}

.stores-graphs__component
.graph-panel[graph-4] {
    grid-area: graph-4;
}

.stores-graphs__main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr 1fr 1fr 1fr;
    grid-template-areas: '. download' 'graph-1 graph-2' 'graph-1 graph-2' 'graph-3 graph-4' 'graph-3 graph-4';
    grid-gap: 0.75rem;
    overflow-y: auto;
}

.stores-graphs__download {
    grid-area: download;
    grid-row: 1;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: end;
    margin-right: 0.25rem;
}