.ws-1-3__component {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 'graph name'
                         'graph block1' 
                         '. block2';
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;

    padding: 1.5rem;
    padding-bottom: 1rem;
    --border: solid 0.0625rem hsl(var(--surface-6));
}

.ws-1-3__graph {
    grid-area: graph;

    position: relative;
    width: max-content;
    min-width: 100%;
    height: max-content;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    padding: 0.75rem;
    background-color: hsl(var(--surface-0));
    border-radius: 0.5rem;
    border: solid 0.0625rem hsl(var(--surface-6));
}

.ws-1-3__area-name {
    grid-area: name;
}

.ws-1-3__button {
    text-align: center;
    justify-self: center;
}