.ws-1-1-1__ref-list {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
}

.ws-1-1-1__ref-list::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: hsl(var(--surface-6));
    top: 1.5rem;
}

.ws-1-1-1__tab {
    position: relative;
    margin-left: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: var(--text-3);
    font-weight: var(--heavy);
    color: hsl(var(--on-2));
    padding: 0.25rem 0.5rem; 
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    display: grid;

    transition: 1s ease-in-out;
}
.ws-1-1-1__tab::after  {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: transparent;
    top: 1.45rem;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transform: scale(0);
}
.ws-1-1-1__tab.selected {
    color: hsl(var(--on-1));
}
.ws-1-1-1__tab.selected::after  {
    background-color: hsl(var(--on-1));
    transform: scale(100%);
}