.ws-1__component {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 1rem;
    margin-top: 1rem;
    --border: solid 0.125rem hsl(var(--surface-6));
}

.ws-1__filter-list {
    display: grid;
    grid-gap: 1rem;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}
.ws-1__filter-list > * {
    align-self: center;
}
.ws-1__filter-list  > :not(:first-child){
    padding: 0 1rem;
    border-left: dashed 0.0625rem hsl(var(--surface-6));
}
.ws-1__filter-list  > :first-child {
    padding: 0 1rem;
    padding-left: 0;
}

.ws-1__calendar-selector {
    display: grid;
}

.ws-1__list-graph {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-auto-columns: max-content;
}

.ws-1__panel-graph {
    width: max-content;
    height: max-content;
    padding: 1rem;
}

.ws-1__wrapper {
    width: max-content;
    display: grid;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 1rem;
}

.ws-1__scroller {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    grid-gap: 1rem;
    max-height:calc(100svh - 17.5rem);
    overflow: auto;
    padding-right: 0.75rem;
}

.ws-1__scroller .ws-1-2__component {
    padding-bottom: 0;
}