.ws-1-1-3__pagination {
    display: grid;
    grid-template-columns: max-content 4rem max-content;
    align-items: start;
    grid-gap: 0.25rem;
    font-size: var(--text-3);
}

.ws-1-1-3__label {
    transform: translateY(0.25rem);
}