.ws-2-2 {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 2rem;
    line-height: 1.5;
    justify-content: center;
    padding: 0.75rem;
    padding-bottom: 1rem;
}

.ws-2-2__shift {
    display: grid;
    grid-template-columns: max-content 6ch;
    grid-gap: 0.5rem;
    align-items: center;
}