/* MAIN HEADER */
.ws-2__main-header {
    display: grid;
    grid-template-columns: 1.5rem max-content 1fr max-content;
    grid-gap: 1rem;
    align-items: center;
    line-height: 1.2;

    margin: 1rem 0;
}

.ws-2__lang {
    grid-column: 4;
}

.ws-2__header {
    display: grid;
    grid-template-columns: 1.5rem max-content max-content max-content;
    grid-gap: 0.5rem;
    align-content: center;

    font-size: var(--text-4);
    line-height: 1.8;
    padding: 0.5rem;
}

.ws-2__back {
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    transition: 0.6s ease-in-out;
    transform: translateX(0.5rem);
    color: hsl(var(--on-1));
}

.ws-2__back:hover {
    transform: translateX(0.3rem);
    color: hsl(var(--surface-8));
}

/* MAIN */
.ws-2__main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: max-content max-content;
    grid-template-areas: 'tasks areas';
    grid-auto-rows: max-content;
}

/* TASKS */
.ws-2__tasks-panel {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-areas: 'area-1' 'area-2' 'area-3' 'area-4' 'area-5';
    padding: 1rem;

}

.ws-2__tasks-panel > *{
    margin-bottom: 1rem;
}

.ws-2__iterators {
    grid-area: area-1;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-gap: 0.5rem;
    margin-right: 1rem;
}

.ws-2__switch-button {
    width: max-content;
    justify-self: end;
    font-size: var(--text-3);
    font-weight: var(--bold);
    grid-column: -1;
}

.ws-2_header-graph{
    grid-area: area-2;
    display: grid;
    grid-template-columns: 6rem max-content;
    border-radius: 0.5rem;
    border: solid 0.0625rem hsl(var(--surface-6));
    padding: 0.75rem 1rem;
    background-color: hsl(var(--surface-0));
}

.ws-2__graph-wrapper {

    width: max-content;
    height: 10.5rem;
}

.ws-2__labels-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ws-2__labels-wrapper > * {
    display: grid;
    align-items: center;
    width: 6rem;
    height: 100%;
    border-bottom: solid 0.0625rem hsl(var(--surface-6));
}

.ws-2__task-header {
    grid-area: area-4;
    display: grid;
    grid-template-columns:  max-content max-content max-content max-content;
    grid-template-areas: 'area area area';
    grid-column-gap: 3rem;
}

.ws-2__task-list {
    grid-area: area-5;
}

.ws-2_area-name {
    grid-column: 1 / -1;
}

/* AREAS */
.ws-2__areas-panel {
    grid-area: areas;
    width: max-content;
    height: max-content;
}

/* MODAL */
.ws-2__all-tasks-panel {
    /* INVISIBLE DEFAULT */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    width: max-content;
    height: max-content;

    grid-area: area-2;
    justify-self: end;
    z-index: 3;
    margin-top: 18rem;
    

    transition: 0.35s ease-in-out;
}

.ws-2__all-tasks-panel.is-visible {
    /*VISIBLE*/
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.ws-2__all-tasks-table {
    position: relative;
    display: grid;
    min-width: max-content;
    min-height: max-content;
    width: max-content;

    --min-height: 4.25rem;
    --height: max-content;
    --max-height: calc(100svh - 33rem);
    padding-bottom: 1rem;
}

.ws-2__all-task-list {
    display: grid;
    grid-gap: 0.25rem;
    min-height: var(--min-height);
    height: var(--height);
    max-height: var(--max-height);
    outline: solid 0.0625rem hsl(var(--surface-2));
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.ws-2__cancel-button {
    justify-self: center;
}

.ws-2__average {
 margin-top: 0.75rem;
}

.ws-2__save.not-visible {
    display: none;
}