.ws-2-3__component,
.ws-2-1-1__component {
    position: relative;
    display: grid;
    min-width: max-content;
    min-height: max-content;
    width: max-content;
    --column-template: 7rem 6.25rem 10rem 7rem;
    --grid-gap: 0.25rem;
}

.ws-2-3__label {
    margin: 0.5rem;
}

.ws-2-3__list {
    min-height: 4.25rem;
    height: max-content;
    max-height: calc(100svh - 16rem);
    overflow: hidden;
    overflow-y: auto;
}

.ws-2-3__row {
    display: grid;
    grid-template-columns: var(--column-template);
    grid-gap: var(--grid-gap);
    grid-auto-rows: max-content;
}

.ws-2-3__row-body {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: var(--column-template);
    grid-gap: var(--grid-gap);
    align-items: center;

    border-radius: 0.5rem;
    padding: 0.25rem 0rem;
    margin: 0.25rem 0;

    background-color: hsl(var(--surface-0));
}

.ws-2-3__cell {
    padding: 0.5rem;
}

.ws-2-3__cell:not(last-child) {
    padding-left: 0.5rem;
    border-right: dashed 0.0625rem hsl(var(--surface-6));
}

.ws-2-3__cell:last-child {
    padding-right: 0.5rem;
    border-right: dashed 0.0625rem transparent;
}