.ws-2-1__component {
    grid-area: grid-2;
    position: relative;
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
    min-width: max-content;
    min-height: max-content;
    width: 100%;
    --column-template : 5rem 15rem 7rem 7rem 5rem;
    --grid-gap: 0.25rem;
}

.ws-2-1__label {
    margin: 0.5rem;
}

.ws-2-1__list {
    max-height: calc(100svh - 34rem);
    height: max-content;
    min-height: 4.25rem;
    overflow: hidden;
    overflow-y: auto;
}

.ws-2-1__row {
    display: grid;
    grid-template-columns: var(--column-template);
    grid-gap: var(--grid-gap);
    grid-auto-rows: max-content;
}

.ws-2-1__row-body {
    width: 100%;
    height: max-content;

    position: relative;
    display: grid;
    grid-template-columns: var(--column-template);
    grid-gap: var(--grid-gap);
    
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.25rem 0rem;
    margin: 0.25rem 0;

    background-color: hsl(var(--surface-0));
}



.ws-2-1__cell {
    position: relative;
    display: grid;
    justify-content: center;
    padding: 0 0.25rem;
}

.ws-2-1__hour {
    display: grid;
    grid-template-columns: 0.75rem max-content;
    grid-gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.25s ease-in-out;
}
.ws-2-1__hour:hover{
    background-color: hsl(var(--surface-2));
}

.ws-2-1__cell::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    left: calc(100% + 0.125rem);
    border-left: dashed 0.0625rem hsl(var(--surface-6));
}

.ws-2-1__cell:first-child {
    justify-content: start;
    padding-left: 0.5rem;
}

.ws-2-1__hour-list {
    width: max-content;
    height: 0;
    display: grid;
    font-size: var(--text-2);
    border-collapse: collapse;
    grid-template-columns: repeat(24, 1.5rem);
    grid-gap: 0.125rem;
    padding: 0;
    background-color: hsl(var(--surface-3));

    transform: scaleY(0);
    
    transition: 1s ease-in-out;
    overflow: hidden;
}
.ws-2-1__hour-list.expanded {
    height: max-content;
    padding: 0.5rem;
    grid-gap: 0.125rem;
    transform: scaleY(1);
    transition: 0.25s ease-in-out;
}
.ws-2-1__hour-list.expanded .ws-2-1__hour-button {
    border: solid 0.0625rem hsl(var(--surface-6));
}

.ws-2-1__hour-button {
    width: 100%;
    text-align: center;
    border: solid 0.0625rem hsl(var(--surface-6));
    cursor: pointer;
    background-color: hsl(var(--surface-0));
}

.ws-2-1__hour-button:hover {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--surface-8));
}