.graph-column-hour__component {
    display: grid;
    border-right: hsl(var(--surface-7)) dashed 0.0625rem;
    outline: hsl(var(--on-1)/0) solid 0.125rem;
    transition: 1s ease-in-out;
}

.graph-column-hour__component:first-child {
    border-left: hsl(var(--surface-7)) dashed 0.0625rem;
}

.graph-column-hour__component.selected {
    border-right: none;
    outline: hsl(var(--on-1)/0.65) solid 0.125rem;
    outline-offset: -0.0625rem;
    transition: 0.25s ease-in-out;
    box-shadow: var(--shadow-3);
}

.graph-column-hour__component.hovered {
    border-right: none;
    outline: hsl(var(--on-1)/0.3) solid 0.125rem;
    outline-offset: -0.0625rem;
    transition: 0.25s ease-in-out;
    box-shadow: var(--shadow-3);
    background-color: hsl(var(--surface-4));
}

.graph-column-hour__hour-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: 1;
    grid-template-columns: 1.25rem;
    grid-template-rows: 1fr 1fr 1.25rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.graph-column-hour__bar-up-wrapper,
.graph-column-hour__bar-down-wrapper {
    display: grid;
    justify-items: center;
}
.graph-column-hour__bar-up-wrapper {
    background-color: hsl(var(--surface-1)/0.35);
}

.graph-column-hour__bar-down-wrapper {
    border-top: solid 0.0625rem hsl(var(--surface-7));
}

.graph-column-hour__bar-up {
    width: 0.5rem;
    align-self: end;
    border-radius: 0.5rem 0.5rem 0 0;
    outline: var(--color-danger-bar) 0.125rem solid;
    outline-offset: -0.125rem;
    background-color: hsl(var(--surface-0));
}

.graph-column-hour__bar-up.shift {
    outline: var(--color-success) 0.125rem solid;
    outline-offset: -0.125rem;
    background-color: var(--color-success-bar);
}

.graph-column-hour__bar-down {
    width: 0.5rem;
    align-self: start;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--color-danger-bar);
    
}
