.graph__component {
    width: max-content;
    height: 8rem;
    display: grid;
    grid-gap: 0.125rem;
    grid-auto-flow: column;
    grid-column: 2;
    grid-row: 1;
}

.graph__pick {
    position: relative;
    font-weight: var(--heavy);
    color: red;
    top: calc(var(--pick-percent, 0%) - 0.124rem);
    border-top: solid 0.0625rem red;
}

.graph__line {
    position: relative;
    width: 100%;
    height: calc(var(--line-percent, 100%) + 0.125rem);
    border-top: dashed 0.0625rem red;
    grid-column: 2 / -1;
    grid-row: 1;
    align-self: end;
    pointer-events: none;
}