.graph-column__component {
    display: grid;
    border-right: hsl(var(--surface-7)) dashed 0.0625rem;
    outline: hsl(var(--on-1)/0) solid 0.125rem;
    transition: 1s ease-in-out;
}

.graph-column__component:first-child {
    border-left: hsl(var(--surface-7)) dashed 0.0625rem;
}

.graph-column__component.selected {
    border-right: none;
    outline: hsl(var(--on-1)/0.65) solid 0.125rem;
    outline-offset: -0.0625rem;
    transition: 1s ease-in-out;
    box-shadow: var(--shadow-3);
}

.graph-column__base {
    display: grid;
    grid-area: 1 / 1 / -1 / -1;
    height: 100%;
}

.graph-column__base-shift {
    width: 100%;
    height: 100%;
    background-color: hsl(var(--surface-1));
    border-collapse: collapse;
    --border: solid 0.0625rem hsl(var(--surface-0));
    border-top: var(--border);
    border-bottom: var(--border);
}

/* COLUMN DAY */
.graph-column__day-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: 1;
    grid-template-columns: 1.5rem;
    grid-template-rows: 1fr 1fr 2rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.selected .graph-column__day-wrapper {
    background-color: hsl(var(--surface-1));
    outline-offset: 0.0625rem;
}


.graph-column__day-wrapper:hover {
    background-color: hsl(var(--surface-1));
}

.graph-column__day {
    width: 100%;
    justify-self: center;

    grid-column: 1 / -1;
    text-align: center;
    margin-top: 0.25rem;
    margin: 0 auto;
    border-top: hsl(var(--surface-7)) solid 0.0625rem;
    color: hsl(var(--surface-8));
}

.graph-column__day > * {
    border-radius: 0.125rem;
    transition: 0.25s transition ease-in-out;
}

.selected .graph-column__day > * {
    height: 100%;
    font-weight: var(--heavy);
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
}

/* COLUMN HOUR */
.graph-column__hour-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: 1;
    grid-template-columns: 1.75rem; 
    grid-template-rows: 6.25rem 6.25rem 1.25rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.selected .graph-column__hour-wrapper {
    background-color: hsl(var(--surface-1));
    outline-offset: 0.0625rem;
}

.graph-column__hour-wrapper:hover {
    background-color: hsl(var(--surface-1));
}

.graph-column__hour {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 0.25rem;
    margin: 0 auto;
    border-top: hsl(var(--surface-7)) solid 0.0625rem;
    color: hsl(var(--surface-8));
}

.graph-column__hour > * {
    border-radius: 0.125rem;
    transition: 0.25s transition ease-in-out;
}

.selected .graph-column__hour > * {
    height: 100%;
    font-weight: var(--heavy);
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
}

.graph-column__bar-up-wrapper,
.graph-column__bar-down-wrapper {
    display: grid;
    justify-items: center;
}
.graph-column__bar-up-wrapper {
    background-color: hsl(var(--surface-1)/0.35);
}

.graph-column__bar-down-wrapper {
    border-top: solid 0.0625rem hsl(var(--surface-7));
}

.graph-column__bar-up {
    width: 0.5rem;
    align-self: end;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: hsl(var(--color-purple-hue) 93% 84%);
    outline: var(--color-danger-bar) 0.0625rem solid;
    outline-offset: -0.0625rem;
}

.graph-column__bar-down {
    width: 0.5rem;
    align-self: start;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--color-danger-bar);
}

.graph-column__result {
    width: 100%;
    align-self: end;
    grid-row: 1;
    grid-column: 4;
}