.store-search__component {
    display: grid;
    grid-gap: 1rem;
}

.store-search__table-wrapper {
    width: calc(100svw - 23rem);
    overflow: auto;
}

.store-search__head,
.store-search__row {
    font-size: var(--text-2);
}

.store-search__head > *, 
.store-search__row > * {
    width: 3.25rem;
    margin: 0 auto;
}


.store-search__head-top {
    width: 100%;
}

.store-search__row > *:nth-child(1) {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
    
    border-radius: 1.125rem 0 0 1.125rem;
    border-right: transparent;
    
    background-color: hsl(var(--surface-0));
}