DaysSelector.vue
<template>
    <article class="date-selector__component" ref="htmlReference" :c_range="c_range" :c_periodIndex="c_periodIndex">
        <article class="date-picker__wrapper">
            <DateFromTo 
                        :isExpanded="r_isExpanded"
                        :range="r_rangeSelection"
                        @click="onDatePickerClick" 
                        @reset="onReset" 
                        />
                        
            <DatePicker 
                        v-if="!r_isMonth"
                        :isExpanded="r_isExpanded"
                        :selectionList="c_selectionList"
                        :range="r_rangeSelection"
                        :periodIndex="c_periodIndex"
                        @initial="onInitialDate"
                        @range="onDateRange"
                        @cancel="onDateCancel"
                        @period="onPeriodSelected"
                        />
        </article>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, reactive, computed, onMounted, onBeforeUnmount } from 'vue'

    const r_isMonth  = new ref(false);

    /* LIBRARIES */
    import { getTimeZeroHour, getDateZeroHour, getMonday, getSunday } from '@/libs/DateUtils'

    /* VARIABLES */
    const rangeGetterList = [
    ]
    let getPeriodRange = ()=>{};

    /* COMPONENTS */
    import DateFromTo  from './controls/DateFromTo.vue'
    import DatePicker  from './pickers/DatePicker.vue'

    /* REACTIVES */
    const htmlReference     = new ref(null);
    const r_periodIndex     = new ref(0);
    const r_lastPeriodIndex = new ref(0);
    const r_isExpanded      = new ref(false);
    const r_rangeSelection  = new reactive({
        startTime: -1,
        endTime:   -1
    });

    /* INITIALIZATION */
    onMounted(()=>{
        document.addEventListener('mouseup', onClickOutside);
    });
    onBeforeUnmount(() => {
      document.removeEventListener('mouseup', onClickOutside);
    });

    /* PROPS */
    const props = defineProps({
        range: Object,
        periodIndex:Number,
        selectionList:Array
    });

    /* COMPUTED */
    const c_periodIndex = computed(()=>{
        r_isMonth.value = 2 == r_periodIndex.value;
        return r_periodIndex.value
    })

    const c_selectionList = computed(()=>{
        const list = props.selectionList;
        if(null == list){
            // Early return
            return
        }
        return list
    });

    const c_range = computed(()=>{
        const range = props.range;
        if(null == range){
            // Early return
            r_rangeSelection.startTime = getTimeZeroHour();
            r_rangeSelection.endTime = -1;
            return range
        }
        const { startTime, endTime } = handleDataStructure(range);
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');

        r_rangeSelection.startTime = startTime;
        r_rangeSelection.endTime   = endTime;
        
        return range
    });

    function getDailyRange(range){
        const { startTime, endTime,  } = handleObject(range);
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');

        const isSunday = 0 == new Date(startTime).getDay();

        let finalStart = -1;
        let finalEnd   = -1;

        if(isSunday && endTime == -1){
            finalStart = getMonday(startTime);
            finalEnd   = getSunday(startTime);
        }else{
            finalEnd   = getMonday(startTime);
            const date = new Date(finalEnd);
                date.setHours(0,0,0,0);
                date.setDate(date.getDate()-1);
                
            finalEnd   = getSunday(date.getTime());
            finalStart = getMonday(finalEnd);
        }
        r_rangeSelection.startTime = finalStart;
        r_rangeSelection.endTime   = finalEnd;
    
        return {
                    startTime: finalStart,
                    endTime:finalEnd
               }
    }

    /* EVENTS */
    const emit = defineEmits(['range', 'reset', 'cancel',  'expand', 'collapse']);

    function onInitialDate(dateData){
    }

    function onPeriodSelected(periodIndex){
        handleNumber(periodIndex, 'periodIndex');
        r_periodIndex.value = periodIndex;

        r_isMonth.value = 2 == periodIndex

        setTimeout(()=>{
            onDatePickerClick(true);
        },200);
    };

    function onDateCancel(){
        r_isExpanded.value = false;
        r_periodIndex.value = r_lastPeriodIndex.value;
        emit('cancel');
        emit('collapse');
    }

    function onDateRange(rangeDate, isFirstLoad){
        if(null == rangeDate){
            // Early return
            return
        }
        handleObject(rangeDate, 'rangeDate');
        const {startTime, endTime} = rangeDate;
        handleTime(startTime, 'startTime');
        handleTime(endTime, 'endTime');
        
        r_rangeSelection.startTime = startTime;
        r_rangeSelection.endTime   = endTime;
        r_isExpanded.value         = false;
        r_lastPeriodIndex.value    = r_periodIndex.value;
        
        emit('range', {startTime, endTime, periodIndex:r_periodIndex.value, isFirstLoad});
        emit('collapse');
    }

    function onDatePickerClick(isExpanded){
        r_isExpanded.value = isExpanded;
    }

    function onReset(){
        r_isExpanded.value = false;
        emit('reset');
    }

    function onClickOutside(event) {
      const element = htmlReference.value;
      if (element && !element.contains(event.target)) {
        if(r_isExpanded){
            onDateCancel()
        }
      }
    }
</script>