.hour-control__component {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1.5rem max-content 1.5rem 1fr ;

    align-items: center;
    
    font-size: var(--text-3);
    font-weight: var(--bold);
    text-align: center;

    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: hsl(var(--surface-3));
}

.hour-control__button {
    color: hsl(var(--on-1));
    padding: 0.125rem;
    align-self: center;
    transition: 0.25s ease-in-out;
}

.hour-control__button:hover {
    color: hsl(var(--on-1)/.5);
}

.hour-control__button.left {
    grid-column: 2;
}

.hour-control__label {
    align-self: center;
    margin: 0 1rem;
}

.hour-control__button.disabled {
    color: hsl(var(--on-1)/.1);
    pointer-events: none;
}