.combo__component {
    position: relative;
    width: var(--combo-width, 100%);
    
    height: var(--combo-height, max-content);
    border-radius: 666rem;
}

.combo__wrapper {
    display: grid;
    grid-template-columns: 1fr 0.75rem;
    grid-gap: 0.5rem;
    width: 100%;
    height: var(--combo-height, max-content);
    padding: 0.0625rem 0.75rem;
    padding-left: 0.0625rem;
    border-radius: 666rem;
    outline: solid 0.0625rem hsl(var(--surface-2));
    background-color: hsl(var(--surface-2));
}

.combo__wrapper p {
    width: 100%;
    height: var(--combo-height, 1.75rem);
    display: grid;
    grid-template-columns: 0.75rem 1fr 0.75rem;
    grid-gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 666rem;
    outline: solid 0.0625rem hsl(var(--surface-6));
    background-color: hsl(var(--surface-0));
}

.combo__wrapper button {
    display: grid;
    align-items: center;
    padding: 0.0625rem;
    height: 1.125rem;
    align-self: center;
    justify-self: center;
}

.combo__button-visible,
.combo__button-hidden {
    transition: 0.35s ease-in-out;
}
.combo__button-visible {
    transform: rotate(-90deg);
}
.combo__button-hidden {
    transform: rotate(0deg);
}

.combo__component .visible {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.combo__component .hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.combo_dropdown-wrapper {
    width: 100%;
    position: absolute;

    padding: 0.25rem;
    margin-top: 0.25rem;

    border-radius: 1.125rem;
    outline: solid 0.0625rem hsl(var(--surface-6));
    
    background-color: hsl(var(--surface-2) / 0.6);
    backdrop-filter: blur(0.7rem);
    box-shadow: var(--shadow-2);

    transition: 0.3s ease-in-out;
    z-index: 666;
}

.combo__dropdown {
    width: 100%;
    height: max-content;
    max-height: var(--combo-list-height, 10rem);
    overflow: hidden;
    overflow-y: auto;

    --gap: 0.25rem;
    display: grid;
    grid-gap: var(--gap);
    grid-row: 2;

    align-items: center;
    margin-top: 0.125rem;
}

.combo__input-wrapper {
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-auto-flow: column;

    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;

    outline: solid 0.0625rem hsl(36 calc( 88% * 0.01 ) 94%);
    outline-offset: -0.0625rem;
    border-radius: 1.125rem;
    
    color: hsl(var(--on-3));
    background-color: hsl(0 calc( 0% * 0.01 ) 100%);
    
    transition: 0.15s ease-in-out;
}

.combo__input-wrapper:hover {
    background-color: hsl(var(--surface-0));
    outline: solid 0.0625rem hsl(var(--surface-7));
    outline-offset: -0.0625rem;
    box-shadow: var(--shadow-3);
}

.combo__item-multi-selection,
.combo__item {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    align-items: center;

    border-radius: 1.125rem;
    outline: solid 0.0625rem hsl(var(--surface-3));
    outline-offset: -0.0625rem;

    padding: 0.5rem 0.75rem;

    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-0));
    
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.combo__item-multi-selection {
    grid-template-columns: 1rem 1fr;
}

.combo__item-multi-selection.hovered ,
.combo__item.hovered {
    background-color: hsl(var(--surface-1));
    outline: solid 0.0625rem hsl(var(--surface-7));
    outline-offset: -0.0625rem;
    box-shadow: var(--shadow-1);
}

.combo__sub-dropdown {
    grid-area: 2 / 1 / 2 / -1;
}

.combo__reset.hidden {
    pointer-events: none;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.combo__reset {
    pointer-events: auto;
    opacity: 1;
}

.combo__selection {
    display: grid;
    grid-auto-flow: column;
}