.icoming-order__component {
    margin-top: 2rem;
}

.icoming-order__list-wrapper {
    margin: 0.5rem 0;
    width: max-content;
}

.icoming-order__buttons {
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.icoming-order__list {
    display: grid;
    grid-gap: 0.25rem;
}

.icoming-order__row {
    height: 2.25rem;
    display: grid;
    grid-template-columns: 2rem 16rem max-content;
    grid-auto-flow: column;
    align-items: center;
    border-radius: var(--border-radius-panel);
    padding: 0;
    line-height: 1.5;
    background-color: hsl(var(--surface-1));
}

.icoming-order__cell {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    border-right: dashed 0.0625rem hsl(var(--surface-6));
}

.icoming-order__edit-delete {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.125rem;
    grid-auto-columns: 1fr;
    align-self: center;
    justify-self: center;
    justify-items: center;
    margin: 0 0.75rem;
}

.icoming-order__icon {
    height: 100%;
    width: 0.5rem;
    justify-self: center;
    align-self: center;
}

.icoming-order__name {
    padding-left: 0.5rem;
}

.icoming-order__button {
    width: 0.75rem;
}

.draggable-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.drag-start {
    background-color: var(--base-first-dark-color);
}

.drag-top-bar {
    border-top-color: var(--base-highlight-color);
    border-top-style: solid;
    border-top-width: thick;
}