.date-selector__component {
    position: relative;
    height: 1.5rem;
}

.date-picker__wrapper {
  position: absolute;
  z-index: 666;
}

.date-picker__component {
    position: absolute;
    margin-top: 0.25rem;
    padding: 0.125rem;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
}

.date-picker__component.date-picker__expanded {
    opacity: 1;
    visibility: visible;
}

.date-picker__controls-container {
  display: grid;
  grid-template-rows: 3rem 1fr;
  width: 19.5rem;
  border-radius: 1.125rem;
  background-color: hsl(var(--surface-0));
}

.date-picker__month {
    display: grid;
    grid-template-rows: max-content 2.5rem 1fr;
    width: max-content;
    height: auto;
    border-radius: 1.25rem;
    align-self: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.date-picker__selected-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    padding: 0.5rem 0;
}

.date-picker__from-to {
    display: none;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}

.date-picker__selected {
    width: max-content;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
    align-items: center;
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    border-radius: 1.125rem;
    outline: solid 0.0625rem hsl(var(--surface-6));
    cursor: pointer;
}

.date-picker__selected-icon {
    width: 1rem;
    height: 1rem;
    display: grid;
    line-height: 1.5;
    align-items: center;
    align-self: center;
    transform: translateY(0.0625rem);
}

.date-picker__week {
    display: grid;
    justify-self: center;
    width: 17.5rem;
    grid-template-columns: repeat(7, 2.5rem);
    grid-template-rows: repeat(6, 2.5rem);
    grid-row-gap: 0.25rem;
}

.date-picker__day {
    display: grid;
}

.date-picker__month-button {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

.date-picker__date {
    grid-column: 1 / 3;
    text-align: center;
    line-height: 3.6;
    z-index: 2;
    color: var(hsl(--primary-1));
    font-weight: 500;
}

.date-picker__different-month .date-picker__date {
    color: hsl(var(--surface-6));
}

.date-picker__between-day {
    background-color: hsl(var(--surface-2));
}

.date-picker__week .date-picker__red-day {
    color: hsl(var(--error-2));
}

.date-picker__different-month .date-picker__red-day {
  color: hsl(var(--error-2) / 0.3);
}

.date-picker__selected-day .date-picker__date {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
    outline: solid 0.25rem hsl(var(--surface-0));
    outline-offset: -0.125rem;
    border-radius: 50%;
    font-weight: 800;
    z-index: 3;
}

.date-picker__selected-day.date-picker__extra-selection .date-picker__date {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
}

.date-picker__selected-day.date-picker__fixed .date-picker__date {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
    outline: solid 0.125rem hsl(var(--surface-0));
    outline-offset: -0.25rem;
}

.date-picker__selection-background {
    position: absolute;
    background-color: hsl(var(--surface-2));
    z-index: 1;
}

.date-picker__end-day .date-picker__selection-background {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}

.date-picker__start-day .date-picker__selection-background {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}

.date-picker__calendar-controls {
    display: grid;
    grid-template-columns: 1rem 1.5rem 1fr 1.5rem 1rem;
    border-radius: 1.125rem 1.125rem 0 0;
    color: hsl(var(--on-1));
    background-color: hsl(var(--primary-1));
}

.date-picker__month-year {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(var(--on-1));
}

.date-picker__prev {
    grid-column: 2;
}

.date-picker__next {
    grid-column: 4;
}

.date-picker__next.next-disable {
    pointer-events: none;
    opacity: 0;
}

.date-picker__extra-selection .date-picker__date{
  border-radius: 100%;
  background-color: hsl(var(--primary-1) / 0.5);
  outline: solid 0.125rem hsl(var(--primary-1));
  outline-offset: -0.0625rem;
  z-index: 2;
}

.date-picker__selected-day.date-picker__extra-selection {
    z-index: 3;
}

.date-picker__disabled .date-picker__date-button.date-picker__day {
    pointer-events: none;
}

.date-picker__ok-cancel {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 2rem;
    margin-top: -1rem;
    padding: 1rem;
}

/* Months */
.date-picker__year {
    width: max-content;
    height: 18.75rem;
    display: grid;
    grid-template-rows: max-content 2.5rem 1fr;
    border-radius: 0.25rem;
    align-self: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}


.date-picker__month-list {
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    grid-template-rows: repeat(3, 3.5rem);
    grid-auto-flow: row;
    width: max-content;
    height: max-content;
    padding: 0.5rem 1rem;
    place-items: center;
    margin: 0 auto;
    row-gap: 0.5rem;
}

.date-picker__year-month {
    display: grid;
    width: 3.5rem;
    height: auto;
    place-items: center;
    transition: all 0.3s var(--ease2);
}

.date-picker__date-button {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

.date-picker__month-name {
    grid-column: 1 / 3;
    text-align: center;
    line-height: 3.6;
    z-index: 2;
    color: var(hsl(--primary-1));
    font-weight: 500;
}

.date-picker__between-month {
    background-color: hsl(var(--surface-2));
}

.date-picker__selected-month .date-picker__month-name {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
    outline: solid 0.25rem hsl(var(--surface-0));
    outline-offset: -0.125rem;
    border-radius: 50%;
    font-weight: 800;
    z-index: 3;
}

.date-picker__selected-month.date-picker__extra-selection .date-picker__month-name {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
}

.date-picker__selected-month.date-picker__fixed .date-picker__month-name {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-1));
    outline: solid 0.125rem hsl(var(--surface-0));
    outline-offset: -0.25rem;
}

.date-picker__end-month .date-picker__selection-background {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}

.date-picker__start-month .date-picker__selection-background {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}