.date-from-to__component {
    display: grid;
    grid-template-columns: max-content 1rem;
    grid-gap: 0.5rem;
}

.date-from-to__wrapper {
    display: grid;
    width: max-content;
    grid-auto-flow: column;
    grid-template-areas: 'col-1 col-2';
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 0.5rem;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.25rem 1rem;
    background-color: hsl(var(--surface-0));
    outline: solid 0.0625rem hsl(var(--surface-6));
    cursor: pointer;
}

.date-from-to__wrapper [col-1] {
    grid-area: col-1;
    height: 1rem;
    width: 1rem;
}

.date-from-to__wrapper [col-2] {
    grid-area: col-2;
    width: max-content;
}

.date-from-to__wrapper [col-3] {
    grid-area: col-3;
}

.date-from-to__wrapper [col-4] {
    grid-area: col-4;
}