.period-selector__component {
    display: grid;
    justify-content: center;
    margin: 0.25rem 0;
    margin-top: 0.5rem;
}

.period-selector__list {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
}

.period-selector__period {
    cursor: pointer;
    padding: 0.25rem;
}

.period-selector__period-text {
    text-align: center;
    padding: 0.125rem 0.5rem ;
}
.period-selector__period {
    font-weight: 500;
    border-radius: 1.125rem;
    transition: 0.3s ease-in-out;
}

.period-selector__period:hover {
    background-color: hsl(var(--primary-1) / 0.3);
}

.period-selector__period.selected {
    font-weight: 700;
    background-color: hsl(var(--primary-1));
}