:root {
    --ease-1: ease-out;
    --ease-2: ease-in-out;
    --ease-3: cubic-bezier(0.4, 0, 0.2, 1);
}

.short-animation,
.animation,
.long-animation {
    transition-timing-function: ease-in-out;
    transition-property: opacity, transform, grid-template-columns, color, background-color;
}

.short-animation {
    transition-duration: 0.12s;
    transition-delay: 0;
}

.animation {
    transition-duration: 0.3s;
    transition-delay: 0;
}

.long-animation {
    transition-duration: 0.6s;
    transition-delay: 0;
}

/* To smooth any scrolling behavior */
* {
    -webkit-overflow-scrolling: touch;
}