.gradient-1-0 {
    position: relative;
    z-index: 2;
}

.gradient-1-0 > *{
    position: relative;
    z-index: 2;
}

.gradient-1-0::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.3;
    background: linear-gradient(0deg, var(--surface-2) 3%, var(--primary-1),  var(--surface-2));
    z-index: 0;
}

.pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='var(--surface-0)' fill-opacity='0.05' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.text-gradient-1 {
   background-image: linear-gradient(315deg, hsl(var(--surface-1)), hsl(var(--surface-2)));
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
}

.gradient-1 {
    background: linear-gradient(180deg, hsl(var(--surface-1)) 0%,hsl(var(--surface-2)) 100%);
}

.gradient-2 {
    background: linear-gradient(180deg, hsl(var(--surface-2)) 0%,hsl(var(--surface-3)) 100%);
}

.gradient-3 {
    background: linear-gradient(180deg, hsl(var(--surface-3)) 0%,hsl(var(--surface-4)) 100%);
}

.gradient-3 {
    background: linear-gradient(180deg, hsl(var(--surface-4)) 0%,hsl(var(--surface-5)) 100%);
}

.gradient-4 {
    background: linear-gradient(180deg, hsl(var(--surface-5)) 0%,hsl(var(--surface-6)) 100%);
}

.gradient-5 {
    background: linear-gradient(180deg, hsl(var(--surface-6)) 0%,hsl(var(--surface-7)) 100%);
}