.bar-percent__component {
    --padding: 0.125rem;
    display: grid;
    width: 100%;
    height: var(--bar-height);
    border-radius: var(--padding);
    outline: solid var(--padding) hsl(var(--surface-3));
    outline-offset: 0.1rem;
    background-color: hsl(var(--surface-5));
}

.bar-percent__percent {
    display: inline-block;
    height: 100%;
    border-radius: var(--padding);
    z-index: 1;
}