a,
button {
    cursor: pointer;
}
.button > * {
    margin: 0;
}

.button-primary,
.button {
    position: relative;

    width: max-content;
    height: max-content;
    
    display: grid;
    
    align-items: center;
    justify-items: center;
    
    font-weight: 700;
    
    border-radius: var(--radius, 1rem);
    padding: var(--padding, 0.125rem 1rem);
    
    cursor: pointer;
}

.button.large-padding {
    padding: 0.5rem 1.5rem;
}

.button.full-width {
    padding: 0.5rem 1.5rem;
    width: 100%;
}

.button.grey,
.button[grey] {
    color: hsl(var(--surface-0));
    background-color: hsl(var(--on-0));
}

.button.light-grey,
.button[light-grey] {
    color: hsl(var(--on-1));
    background-color: hsl(var(--surface-2));
    outline: solid 0.0625rem hsl(var(--surface-3));
}

.button.light-grey-small,
.button[light-grey-small] {
    color: hsl(var(--on-1));
    background-color: hsl(var(--surface-2));
    outline: solid 0.0625rem hsl(var(--surface-3));
}

.button-primary,
.button[primary] {
    color: hsl(var(--on-0));
    background-color: hsl(var(--primary-1));
}

.button.ghost:focus,
.button[ghost]:focus, 
.button.ghost,
.button[ghost]  {
    color: var(--on-2);
    background-color: transparent;
    outline: solid 0.0625rem hsl(var(--surface-7));
    outline-offset: -0.0625rem;
}

.button.icon,
.button[icon] {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1rem max-content;
    grid-gap: 0.25rem;
    align-items: center;
}

.button.text,
.button[text] {
    color: var(--on-1);
    text-decoration: underline;
    text-underline-offset:0.125rem;
    font-size: var(--text-3);
    font-weight: 600;
    transition: 0.3s ease-out;
}
.button.text:hover,
.button[text]:hover {
    color: var(--on-2);
}

/* HOVER */
.button::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--surface-0)); /* White with 20% opacity */
    border-radius: var(--radius, 1rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform-origin: center;
    transform: scale(0, 0);
    transition: 0.3s ease;
    transition-property: opacity, transform;
    z-index: 1;
}

.button:hover::after {
    opacity: 0.2;
    transform: scale(1, 1);
}

.button-icon-wrapper {
    display: grid;
    width: 100%;
    height: 2rem;
    
    grid-auto-flow: column;
    grid-gap: 0.75rem;
    grid-template-columns: max-content 1fr;
    
    outline: solid 0.125rem var(--surface-5);
    border-radius: var(--radius, var(--border-radius-panel));
    padding-left: 1rem;
    
    background-color: var(--surface-5);
    
    align-items: center;
}

.button-icon-wrapper >:first-child {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
}

.button-icon-wrapper >:last-child {
    padding: 0.5rem 1rem;
    border-radius: var(--radius, var(--border-radius-panel));
    background-color: var(--surface-0);
    width: 100%;
    height: 100%;
}

.combo-selection {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 0.75rem;
}

.button-check {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1rem max-content;
    grid-gap: 0.125rem;
    align-items: center;
}

.button-check >:first-child {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: var(--radius, 0.125rem);
    outline: solid 0.125rem var(--on-2); 
}

.button-check >:last-child {
    line-height: 1.5;
}

.button-check svg {
    color: transparent;
}

.button-check.selected svg {
    color: var(--on-0);
}

.tab__container {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.125rem;
    margin: 0;
    padding: 0;
    border-bottom: solid 0.0625rem hsl(var(--surface-4));
}

.tab__container > * {
    padding: 0.25rem 0.75rem;
    transition: 0.15s ease-in-out;
    color: hsl(var(--on-0));
}

.tab__container > *.tab-selected {
    border-bottom: solid 0.25rem hsl(var(--primary-1));
    color: hsl(var(--on-0));
}

.button-list__ul[overwrite],
.button-list__ul {
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    border-radius: var(--radius, 1.5rem);
    font-size: var(--text-3);
    color: hsl(var(--on-2));
    background-color: hsl(var(--surface-4));
    padding: 0.125rem;
    margin: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0rem 1px 1px 0rem inset;
}


.button-list__ul[overwrite]  .selected,
.button-list__ul .selected {
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-0));
    outline: solid 0.125rem hsl(var(--surface-5));
}

.button-list__ul * {
    width: 100%;
    height: 100%;
    color: hsl(var(--on-2));
}

.radzen__dropdown {
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-0));
    border-radius: var(--radius, 1.5rem);
    cursor: pointer;
    height: 2.25rem;
}

.cancel,
.cancel:visited {
    background-color: hsl(var(--surface-2));
    color: hsl(var(--on-0));
}

.cancel:hover, .cancel:active{
    color: hsl(var(--on-2));
    background-color: hsl(var(--surface-4));
}

.cancel:focus {
	box-shadow: 0 0 0 4px hsl(var(--surface-4));
}

.button-group {
    display:grid; 
    grid-auto-flow:column;
    grid-gap:0.5rem;
    grid-auto-columns:max-content;
    margin:1rem 0rem;
}