html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

  *,
  a,
  button,
  input,
  optgroup,
  select,
  textarea,
  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: none;
    outline: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    box-shadow: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  button {
    cursor: pointer;
    transition-timing-function: ease-out;
    transition-duration: 0.16s;
    transition-property: background-color, color;
  }

  button * {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  }

  iframe {
    width: 1px;
    height: 1px;
    display: block;
  }

  .select-none {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  }

  .pointer {
    cursor: pointer;
  }

  video {
    width: 100%;
    height: auto;
  }

  .image-scale {
    object-fit: scale-down;
  }
  .image-scale img {
    object-fit: scale-down;
  }
  .image-cover {
    object-fit: cover;
  }
  .image-cover img {
    object-fit: cover;
  }

  .aspect-ratio {
    position: relative;
  }
  .aspect-ratio::before {
    display: block;
    content: "";
    width: 100%;
  }
  .aspect-ratio > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .aspect-ratio img {
      width: 100%;
      height: 100%;
  }

  grid {
    display: grid;
  }