/* Base */
.grid {
    display: grid;
    grid-template-columns: var(--main-template-columns);
    grid-auto-flow: var(--main-autoflow);
    grid-template-areas: var(--grid-template-areas);
    width: 100%;
    
    --min-margin: 1rem;
    --max-grid-width: calc(100% - calc(var(--min-margin)*2));
    --margin: minmax(1rem, calc((100% - var(--max-grid-width)) / 2));
    --central-grid: repeat(var(--max-column), calc( var(--max-grid-width) / var(--max-column)));
    --main-template-columns: var(--margin) var(--central-grid) var(--margin);
    
    --max-column: 1;
    --main-autoflow: row;
}

/* Tablet 28 */
@media (min-width: 28em) {
    .grid {
        --max-column: 8;
        --main-autoflow: column;
    }
}

/* Desktop 48em */
@media (min-width: 48em) {
    .grid {
        --max-column: 12;
        --main-autoflow: column;
    }
}

.align-start,
*[align-start] {
    align-self: start;
}

.align-center,
*[align-center] {
    align-self: center;
}

.align-end,
*[align-end] {
    align-self: end;
}

.justify-start,
*[justify-start] {
    justify-self: start;
}

.justify-center,
*[justify-center] {
    justify-self: center;
}

.justify-end,
*[justify-end] {
    justify-self: end;
}

.area-1 {
    grid-area: area-1;
}

.area-2 {
    grid-area: area-2;
}

.area-3 {
    grid-area: area-3;
}

.area-4 {
    grid-area: area-4;
}

.area-5 {
    grid-area: area-5;
}

.area-6 {
    grid-area: area-6;
}