.textarea,
.input {
    width: 100%;
    text-align: left;
    appearance: textfield;
    white-space: nowrap;
    cursor: text;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    word-break: normal;
    outline-offset: -0.0625rem;
    padding: 0.25rem;
    padding-left: 0.75rem;
    border-radius: var(--padding, 1rem);
    color: hsl(var(--on-1));
    background-color: hsl(var(--surface-0));
    outline: solid 1px hsl(var(--surface-7));
}

.not-editable {
  cursor: not-allowed;
}

.input:focus {
    background-color: hsl(var(--surface-1));
}

.textarea {
    resize: none;
}

.user-form__list {
  width: 40rem;
  display: grid;
  grid-gap: 1.5rem;
  padding: 2rem;
  border-radius: var( --border-radius-panel);
  background-color: hsl(var(--surface-0));
}

/* Overwrite */
.user-form__list .form-select {
  border-radius: var( --border-radius-panel);
  border-radius: var( --surface-7);
}

.input__wrapper-icon,
.input__wrapper {
    display: grid;
    width: var(--input-wrapper-width, 100%);
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    align-items: center;
    
    padding: 0.25rem;
    padding-left: var(--padding, 0.25rem);
    border-radius: 666rem;
    background-color: hsl(var(--surface-1));
    outline: solid 0.0625rem hsl(var(--surface-1));
}

.input__icon-wrapper {
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-auto-flow: column;
  outline: solid 0.125rem hsl(var(--surface-7));
  background-color: hsl(var(--surface-1));
}

.input__icon-wrapper input{

}

.input__wrapper {
    grid-template-columns: var(--input-column-template, 1fr max-content var(--input-width, 1fr));
}
.input__wrapper > :nth-child(1) {
    justify-self: end;
    grid-column: 2;
}
.input__wrapper > :nth-child(2) {
    grid-column: 3;
}

.input__wrapper-icon {
    grid-template-columns: 1fr 1rem max-content var(--input-width, 1fr);
}
.input__wrapper-icon > :nth-child(3) {
    grid-column: 4;
}

.input__wrapper-icon > :nth-child(1) {
    height: 1rem;
    justify-self: end;
    grid-column: 2;
}
.input__wrapper-icon > :nth-child(2) {
    display: inline;
    width: min-content;
    justify-self: end;
    grid-column: 3;
}
.input__wrapper-icon > :nth-child(3) {
    grid-column: 4;
}

/* Radio button */
.input {
    --radio-border-color: hsl(var(--outline-1));
    --radio-checked-color: hsl(var(--on-1));
    --radio-hover-color: hsl(var(--on-2));
    --radio-disabled-bg-color: hsl(var(--surface-2));
  }

  .input[type="radio"] {
    box-sizing: border-box;
    width: 1.125rem;
    height: 1.125rem;
    padding: 0;
    border: 0.125rem solid hsl(var(--outline-1));
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
    cursor: pointer;
  }

  .input[type="radio"]:not(:disabled):checked {
    border-color: hsl(var(--radio-checked-color));
    background-color: var(--radio-checked-color);
    background-clip: content-box;
    padding: 0.125rem;
    background-image: radial-gradient(
      circle,
      var(--radio-checked-color) 0%,
      var(--radio-checked-color) 50%,
      transparent 60%,
      transparent 100%
    );
  }

  .input[type="radio"]:disabled {
    background-color: var(--radio-disabled-bg-color);
  }
  
  .input[type="radio"]:disabled:checked {
    background-image: radial-gradient(
      circle,
      var(--radio-border-color) 0%,
      var(--radio-border-color) 50%,
      transparent 50%,
      transparent 100%
    );
  }

  .input__select {
    padding-right: 0.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

  @media (hover: hover) {
    input[type="radio"]:not(:disabled):hover {
      background-color: hsl(var(--surface-2));
      outline: 0.125rem solid hsl(var(--outline-1));
      transform: scale(0.98);
    }
  }

  input[type="radio"]:focus-visible {
    background-color: hsl(var(--surface-2));
    outline: 0.125rem solid hsl(var(--outline-1));
    transform: scale(0.98);
  }

  @media (prefers-reduced-motion: reduce) {
    input[type="radio"] {
      transition: none;
    }
  
    input[type="radio"]:focus-visible {
      transform: scale(0.98);
    }
  }
  
  @media (prefers-reduced-motion: reduce) and (hover: hover) {
    input[type="radio"]:not(:disabled):hover {
      transform: scale(0.98);
    }
  }

  .input__field {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-template-columns: var(--columns, max-content 1fr);
    background-color: var(--background, hsl(var(--surface-1)));
    outline: solid 0.0625rem hsl(var(--surface-2));
    border-radius: var( --border-radius-panel);
    align-items: center;
    padding: 0.125rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  .input__radio-list {
    display: grid;
    height: 1.5rem;
    grid-auto-flow: column;
    grid-gap: 1rem;
    border-radius: 666rem;
    padding: 0rem 1rem;
    background-color: hsl(var(--surface-0));
    align-items: center;
}

.input__radio-label {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1rem max-content;
    align-items: center;
    grid-gap: 0.5rem;
}

  /* OVERWRITE */
  .input__field .form-control {
    border-radius: var( --border-radius-panel);
  }

  .body #app .radzen__dropdown,
  .body #app .rz-dropdown,
  .body #app .rz-dropdown.rz-dropdown {
    box-shadow: inset 0 0 0 0.0625rem var(--surface-6);
    outline: solid 0.0625rem var(--surface-6);
  }

  .radio {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    border: solid 0.0625rem hsl(var(--surface-8));
    transition: 0.15s ease-in-out;
  }
  
  .radio[type=radio]:where(:not(:checked)):hover{
    color: hsl(var(--on-3));
    background-color: hsl(var(--primary-2));
  }
  
  .radio[type=radio]:where(:checked) {
    align-self: center;
    padding: 0.25rem;
    color: var(--color-radio-checked);
    background-color: hsl(var(--primary-1));
  }
  
  .radio[type=radio]:where(:checked):before {
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    background-color: hsl(var(--on-1));
    border-radius: 50%;
  }