@supports (padding-top: constant(safe-area-inset-top)) {
    .ios-safe-pading {
        padding:    env(safe-area-inset-top)   env(safe-area-inset-right) 
                    env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}

@media (display-mode: fullscreen) {
    .ios-safe-pading {
        padding: 0;
    }
}

@media (display-mode: standalone) {
    .ios-safe-pading {
        padding: 0;
    }
}

/* Older browsers (which don't support CSS variables) */
.ios-safe-pading {
    padding-bottom: 0;
}

/* Browsers which partially support CSS variables (iOS 11.0 – 11.2)*/
@supports (padding-top: constant(safe-area-inset-top)) {
    .ios-safe-pading {
        padding:    env(safe-area-inset-top)   env(safe-area-inset-right) 
                    env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}
/* Adapted from https://medium.com/@draganeror/iphone-x-layout-features-with-css-environment-variables-d57423433dec */
/* Browsers which fully support CSS variables (iOS 11.2+).*/
@supports (padding-top: env(safe-area-inset-bottom)) {
    .ios-safe-pading {
        padding:    env(safe-area-inset-top)   env(safe-area-inset-right) 
                    env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
}

@media (display-mode: fullscreen) {
    .ios-safe-pading {
        padding: 0;
    }
}

@media (display-mode: standalone) {
    .ios-safe-pading
     {
        padding: 0;
    }
}