.lang__component {
    position: relative;
    
    width: max-content;
    height: max-content;

    display: grid;
    align-items: center;
    grid-gap: 0.5rem;
    
    text-align: center;
    
    background-color: hsl(var(--surface-4));
    border-radius: 1rem;
    
    padding: 0.125rem;
    backdrop-filter: blur(0.7rem);
    z-index: 1500;
}

.lang__selected {
    width: 2.5rem;
    
    background-color: hsl(var(--surface-1));
    
    padding: 0.5rem;
    
    border-radius: 0.5rem;
    outline: solid 0.0625rem hsl(var(--surface-6));

    cursor: pointer;
    transition: 0.125s ease-in;
}

.lang__list {
    position: absolute;
    width: 2.5rem;
    top: calc(100% + 0.125rem);
    left: 0.25rem;
    border-radius: 0.5rem;
    display: grid;
    grid-gap: 0.125rem;
    padding: 0.0625rem;
    z-index: 1500;
    backdrop-filter: blur(0.5rem);
    background-color: hsl(var(--surface-1)/0.95);
}

.lang__list.visible {
    pointer-events: auto;
    opacity: 1;
    transition: 0.25s ease-in-out;
}

.lang__list.hidden {
    pointer-events: none;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.lang__lang {
    cursor: pointer;
    transition: 0.125s ease-in;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.lang__selected:hover,
.lang__lang:hover {
    background-color: hsl(var(--surface-3));
}