:root {
  --sidebar-width: 3.5rem;
  
  --max-width: 82rem;
  --max-padding: max( calc( (100svw - var(--max-width) - var(--sidebar-width)) / 2 ), 1rem);

  --max-width-large: 110rem;
  --max-padding-large: max( calc( (100svw - var(--max-width-large) - var(--sidebar-width)) / 2 ), 1rem);
  
  --top-width: min(60rem, calc( 100svw - var(--sidebar-width) - 2rem));
}

html {
  margin: 0;
  padding: 0;

  width: 100svw;
  height: 100svh;

  overflow: hidden;
}

.body {
  margin: 0;
  padding: 0;

  width: 100svw;
  height: 100svh;
  
  touch-action: none;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;

  font-family: var(--font-family);
  color: hsl(var(--on-1));
  font-size: var(--text-2);
}


/* SAFE AREA FOR IOS */
@supports (padding-top: constant(safe-area-inset-top)) {
  .body {
      padding:    env(safe-area-inset-top)   env(safe-area-inset-right) 
                  env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}

@media (display-mode: fullscreen) {
  .body{
      padding: 0;
  }
}

@media (display-mode: standalone) {
  .body {
      padding: 0;
  }
}

/* Older browsers (which don't support CSS variables) */
.body {
  padding-bottom: 0;
}

/* Browsers which partially support CSS variables (iOS 11.0 – 11.2)*/
@supports (padding-top: constant(safe-area-inset-top)) {
  .body {
      padding:    env(safe-area-inset-top)   env(safe-area-inset-right) 
                  env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
/* Adapted from https://medium.com/@draganeror/iphone-x-layout-features-with-css-environment-variables-d57423433dec */
/* Browsers which fully support CSS variables (iOS 11.2+).*/
@supports (padding-top: env(safe-area-inset-bottom)) {
  .body {
      padding:    env(safe-area-inset-top)   env(safe-area-inset-right) 
                  env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}

@media (display-mode: fullscreen) {
  .body {
      padding: 0;
  }
}

@media (display-mode: standalone) {
  .body
   {
      padding: 0;
  }
}
.page-container {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  padding: 1.75rem 2.75rem 2rem 5.5rem;
}

.panel__name {
  display: grid;
  grid-template-columns: 1rem max-content;
  margin: 0;
  padding-bottom: 0.5rem;
  align-items: center;
  color: hsl(var(--on-1));
}

.panel__name::before {
  display: block;
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 666rem;
  background-color: hsl(var(--primary-1));
  outline: 0.0625rem solid hsl(var(--primary-2) / 0.2);
  outline-offset: -0.0625rem;
  grid-column: 1;
}

.panel__name > :last-child {
  grid-column: 2;
}

.screen {
  padding: 0 var(--max-padding);
  margin-left: var(--sidebar-width);
}
.screen-large {
  padding: 0 var(--max-padding-large);
  margin-left: var(--sidebar-width);
}

.section {
  display: grid;
  grid-gap: 1rem;
  margin: 2rem 0rem;
  border-top: solid 0.125rem hsl(var(--surface-3));
}

.section > :first-child {
  font-size: var(--text-4);
  font-weight: 600;
  color: hsl(var(--on-1));
  margin-top: 2rem;
}

.section:last-child {
  padding-bottom: 2rem;
  border-bottom: solid 0.125rem hsl(var(--surface-3));
  margin-bottom: 4rem;
}

.field-list {
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
}

.field-list-grid {
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(9rem, max-content));
}

.field-item {
  --radius: 0.25rem;
  display: grid;
  border-radius: var(--radius);
  padding: 0.25rem;
  padding-top: 0.0625rem;
  background-color: hsl(var(--surface-4));
}

.field-item > :first-child {
  margin-left: 0.5rem;
  font-size: var(--text-1);
  font-weight: 600;
}

.field-item.field-item.field-item * {
  border-radius: var(--radius);
}

.field-item__input-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.width-max-content {
  width: max-content;
}

.height-max-content {
  height: max-content;
}

.max-content {
  width: max-content;
  height: max-content;
}

.none {
  display: none;
}