.margin-0 {
    margin: 0;
}

.margin-top-0-0625 {
    margin-top: 0.0625rem;
}

.margin-top-0-125 {
    margin-top: 0.125rem;
}

.margin-top-0-25 {
    margin-top: 0.25rem;
}

.margin-top-0-5 {
    margin-top: 0.5rem;
}

.margin-top-0-75 {
    margin-top: 0.75rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-1-25 {
    margin-top: 1.125rem;
}

.margin-top-1-5 {
    margin-top: 1.5rem;
}

.margin-top-1-75 {
    margin-top: 1.75rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-2-125 {
    margin-top: 2.125rem;
}

.margin-top-2-25 {
    margin-top: 2.25rem;
}

.margin-top-2-5 {
    margin-top: 2.5rem;
}

.margin-top-2-75 {
    margin-top: 2.75rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

*[reset-text] {
    margin: 0;
    padding: 0;
}