.modal__container {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg 0% 0% / 0.35);
    pointer-events: none;
    z-index: var(--foreground-modal-index, 666);

    transition: 0.1s;
    pointer-events: none;
    opacity: 0;
}

    .modal__wrapper {
        position: absolute;
        display: grid;
        width: var(--modal-width, max-content);
        height: var(--modal-height, max-content);
        align-self: center;
        justify-self: center;
        border-radius: var( --border-radius-panel);
        padding: 2rem;
        background-color: hsl(var(--surface-0));
        box-shadow: var(--shadow-3);

        transition: 0.25s;
        transform: translateY(5rem);
    }

    .open .modal__wrapper {
        opacity: 1;
        transform: translateY(0rem);
    }

.modal__title {
    width: 100%;
    font-size: var(--text-4);
    font-weight: 600;
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border-left: solid 0.425rem hsl(var(--primary-1)) !important;
}

.modal__buttons {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 2rem;
    justify-content: center;
    font-weight: 600;
    margin-top: 2rem;
}

.modal__container.open {
    pointer-events: auto;
    opacity: 1;
}