:root {
    --border-radius-panel: 1rem;
    --panel-padding: 0.5rem;
}
.panel-list,
.panel-0,
.panel-1,
.panel-2,
.panel-3,
.panel-4,
.panel-5,
.panel-6,
.panel-7,
.panel-8 {
    border-radius: var( --border-radius-panel);
    padding: var(--panel-padding);
}

.panel-0.left {
    border-radius: var( --border-radius-panel) 0 0 var( --border-radius-panel);
}
.panel-0.right {
    border-radius: 0 var( --border-radius-panel) var( --border-radius-panel) 0;
}

.panel__title {
    font-size: var(--text-4);
    font-weight: var(--heavy);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.panel-radius {
    border-radius: var( --border-radius-panel);
}

.panel-0 {
    background-color: hsl(var(--surface-0));
}

.panel-1 {
    background-color: hsl(var(--surface-1));
}

.panel-2 {
    background-color: hsl(var(--surface-2));
}

.panel-3 {
    background-color: hsl(var(--surface-3));
}

.panel-4 {
    background-color: hsl(var(--surface-4));
}

.panel-5 {
    background-color: hsl(var(--surface-5));
}

.panel-6 {
    background-color: hsl(var(--surface-6));
}

.panel-7 {
    background-color: hsl(var(--surface-7));
}

.panel-8 {
    background-color: hsl(var(--surface-8));
}

.border-panel-0 {
    outline: solid hsl(var(--surface-0)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-1 {
    outline: solid hsl(var(--surface-1)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-2 {
    outline: solid hsl(var(--surface-2)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-3 {
    outline: solid hsl(var(--surface-3)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-4 {
    outline: solid hsl(var(--surface-4)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-5 {
    outline: solid hsl(var(--surface-5)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-6 {
    outline: solid hsl(var(--surface-6)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-7 {
    outline: solid hsl(var(--surface-7)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-7 {
    outline: solid hsl(var(--surface-8)) 0.125rem;
    outline-offset: -0.125rem;
}

.border-panel-8 {
    outline: solid hsl(var(--surface-8)) 0.125rem;
    outline-offset: -0.125rem;
}

.light {
    --border-panel-0: 230 
}

.panel-list {
    display: grid;
    grid-template-rows: 1.75rem calc(100svh - var(--list-top-height));
    width: 100%;
    height: var(--list-height);
    padding: var(--panel-padding);
    padding: var(--panel-padding);
    margin: 0;

    background-color: hsl(var(--surface-1));
    background-color: hsl(var(--surface-1));
}

.panel-list > :first-child {
    margin-left: 0.75rem;
    text-align: left;
    font-size: var(--text-4);
    font-weight: bold;
}

.panel-list > :last-child {
    display: grid;
    grid-gap: var(--panel-padding);
    padding: var(--panel-padding);
    grid-auto-rows: max-content;
    margin: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.graph-panel {
    width: 100%;
    height: 100%;
    outline: solid 0.125rem hsl(var(--surface-2));
    outline-offset: -0.125rem;
    padding: 0.75rem;
}

.graph-panel[title] {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.graph-panel[title] > * {
    margin: 0;
}

.graph-panel > :last-child{
    width: 100%;
    height: 100%;
}

/*
.rz-card {
    box-shadow: var(--rz-card-shadow);
    background-color: var(--rz-card-background-color);
    padding: var(--rz-card-padding);
    border-radius: var(--rz-card-border-radius);
}

<section class="panel-0 shadow-3">
*/