:root {
    --fullShadow:  0px 0px 0px 1px rgb(0 0 0 / 5%), 0px 0.25rem 1.25rem rgb(0 0 0 / 15%);
    
    --shadow-1: hsl(0 0% 0% / 0.02) 0px 0.25rem 0.25rem -0.0625rem, hsl(0 0% 0% / 0.06) 0rem 0.0625rem 0.0625rem 0rem;
    --shadow-2: hsl(0 0% 0% / 0.067) 0rem 0.1875rem 0.5rem, hsl(0 0% 0% / 0.067) 0rem 0.125rem 0.3125rem, hsl(0 0% 0% / 0.067) 0rem 0.0625rem 0.0625rem;
    --shadow-3: hsl(0 0% 0% / 0.12) 0rem 0.25rem 1.875rem, hsl(0 0% 0% / 0.04) 0rem 0.1875rem 1.0625rem, hsl(0 0% 0% / 0.04) 0rem 0.125rem 0.5rem, hsl(0 0% 0% / 0.04) 0rem 0.0625rem 0.0625rem;
    
    --big-shadow: 0 0.0625rem 0.0625rem hsl(0deg 0% 0% / 0.075),
            0 0.125rem  0.125rem  hsl(0deg 0% 0% / 0.075),
            0 0.25rem   0.25rem   hsl(0deg 0% 0% / 0.075),
            0 0.5rem    0.5rem    hsl(0deg 0% 0% / 0.075),
            0 1rem      1rem      hsl(0deg 0% 0% / 0.075)
            ;
    --big-shadow-1: 0 0.0625rem 0.0625rem hsl(0deg 0% 0% / 0.001),
            0 0.125rem  0.125rem  hsl(0deg 0% 0% / 0.001),
            0 0.25rem   0.25rem   hsl(0deg 0% 0% / 0.001),
            0 0.5rem    0.5rem    hsl(0deg 0% 0% / 0.001),
            0 1rem      1rem      hsl(0deg 0% 0% / 0.001)
            ;
}

.shadow-1 {
    box-shadow: var(--shadow-1);
}

.shadow-2 {
    box-shadow: var(--shadow-2);
}

.shadow-3 {
    box-shadow: var(--shadow-3);
}

.glow {
    box-shadow: 0 -0.75rem 1.25rem hsla(47, 100%, 48%, 0.08) inset;
    border: 0.125rem solid hsla(47, 100%, 48%, .2);
}

.glow:after {
    position: absolute;
    inset-block-end: -130%;
    inset-inline-start: -60%;
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background: radial-gradient(50% 46.73% at 50% 53.27%, hsl(var(--primary-1)) 28.17%, hsl(var(--primary-1)) 59.38%);
    filter: blur(250px);
}