.skeleton {
    content: "";
    width: var(--skeleton-width, 100%);
    height: var(--skeleton-height, 100%);
    background-size: 200% 100%;
    opacity: 0.75;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.008) 0%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.008) 40%, rgba(0, 0, 0, 0.008) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.008) 20%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.05) 100%);
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;
    border-radius: 0.25rem;
}

@keyframes loading {
    100% {
        background-position: -200% 0;
    }
}