.table__component {
  width: var(--table-width, max-content);
  display: grid;
  grid-gap: 0.125rem;
  border-radius: var( --border-radius-panel);
  grid-auto-rows: max-content;
  background-color: hsl(var(--surface-4));
  color: hsl(var(--on-0));
  margin-bottom: 1rem;
}

.table__head {
  background-color: hsl(var(--surface-7));
}

.table__main {
  display: grid;
  grid-gap: 0.25rem;
  width: var(--row-width, 100%);
}

.table__main > *,
.table__head {
  display: grid;
  width: var(--row-width, 100%);
  height: 100%;
  grid-auto-flow: column;
  grid-template-columns: var(--table-columns);
  grid-auto-rows: max-content;
  align-items: center;
  justify-items: center;
  border-radius: 1.125rem;
  text-align: center;
}

.table__main > * {
  --border-color: hsl(var(--surface-7));
  background-color: hsl(var(--surface-1));
}

.table__head {
  --border-color: hsl(var(--surface-1))
}

.table__head > *, 
.table__main > * > * {
  border-right: dashed 0.0625rem var(--border-color) !important;
  padding: 0.5rem 0rem;
  text-align: center;
  width: 100%;
}

.table__main > * > li:last-child,
.table__head > li:last-child {
  border-right: solid 0.0625rem transparent !important;
}

.table__main > * .rz-spinner,
.table__head .rz-spinner {
  height: 1.75rem;
}

.table__main > * > * {
  display: grid;
  height: var(--row-height, 2.5rem);
  align-content: center;
  padding: 0.5rem;
  border-right: dashed 0.0625rem hsl(var(--surface-6));
}

.table__main > * > .show-only-in-print {
  display: none;
}

.row__wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  border-radius: var( --border-radius-panel);
  background-color: hsl(var(--surface-1));
}

.row__wrapper > * {
  padding: 0.5rem;
  height: 100%;
}
.row__wrapper > *:not(:last-child) {
  border-right: dashed 0.0625rem hsl(var(--surface-6));
}

@media print {

  .table__main > * > .show-only-in-print {
      display: grid;
  }

  body {
      -webkit-print-color-adjust: exact;
  }

  .print-width-100 {
      width: 100% !important;
  }
}

/* Table 1 style */
.table-1 .table__main {
height: max-content;
max-height: calc(100svh - 15rem);
overflow-y: auto;
grid-auto-rows: max-content;
}

.table-1__cell-1 {
width: 100%;
height: 100%;
border-radius: var( --border-radius-panel) 0 0 var( --border-radius-panel);
background-color: hsl(var(--surface-7));
}

.table-1__cell-2 {
display: grid;
grid-gap: 0.5rem;
}

.table-1__name {
width: 100%;
padding: 0.5rem;
background-color: hsl(var(--primary-1) / 0.3);
}

.table-1__name-cancel {
display: grid;
grid-auto-flow: column;
grid-gap: 0;
align-items: center;
grid-template-columns: 1fr 1.25rem;
}

.table-1__name-cancel > :nth-child(1) {
text-align: left;
}

.table-1__name-cancel > :nth-child(2) {
width: 1.25rem;
height: 100%;
}

.table-1__buttons {
align-content: center;
justify-content: center;
}

.table-1__add-new {
grid-column: 2;
height: calc(100% - 0.5rem);
width: max-content;
padding: 0.75rem 1.75rem;
}

/* Override Radzen table */
.tx-table-wrapper  {
width: max-content;
max-height: var(--table-max-height, max-content);
outline: solid 0.25rem hsl(var(--surface-7));
border-radius: 1rem;
overflow: hidden;
overflow-y: auto;
}

#tx-1 #tx-2 .rz-data-row {
background-color: hsl(var(--surface-1));
width: calc(100% - 1rem);
}

#tx-1 .rz-data-grid,
#tx-1 #tx-2 * {
border: none;
border-width: 0;

}

#tx-1 #tx-2 thead {
background-color: hsl(var(--surface-7));
}

#tx-1 #tx-2 .rz-data-row  td {
background-color: transparent;
}

#tx-1 #tx-2 .rz-grid-table thead th {
background-color: hsl(var(--surface-7));
border: none;
border-width: 0;
border-color: transparent;
}

#tx-1 #tx-2 .rz-grid-table thead th:not(:last-child) {
border-right: dashed 0.0625rem hsl(var(--surface-1));
}

#tx-1 #tx-2 .rz-grid-table .rz-data-row td:not(:last-child) {
border-right: dashed 0.0625rem hsl(var(--surface-7));
}

#tx-1 #tx-2 .rz-grid-table .rz-data-row td {
border-bottom: solid 0.0625rem hsl(var(--surface-7));
}

#tx-1.tx #tx-2 tr > td,
#tx-1.tx #tx-2 tr > th {
border: none;
border-width: 0;
border-color: transparent;
border-right: solid 0 transparent;
}

#tx-1.tx #tx-2 td:not(:last-child) {
border-right: dashed 0.0625rem hsl(var(--surface-7));
}

#tx-1.tx #tx-2 .rz-data-row td {
border-bottom: solid 0.0625rem hsl(var(--surface-6));
}

#tx-1.tx #tx-2 tr > th:not(:last-child) {
border-right: dashed 0.0625rem hsl(var(--surface-1));
}
