.table-1__table {
    display: grid;
    grid-auto-rows: max-content;
    border-radius: 1rem;
    background-color: hsl(var(--surface-1));
    outline: solid hsl(var(--surface-2)) 0.0625rem;
    padding: 0.5rem;
}

.table-1__head-wrapper {
    display: grid;
    grid-column: 1;
    align-content: end;
    grid-auto-rows: max-content;

    height: 1.75rem;
    background-color: hsl(var(--surface-1));
    z-index: 1;
}

.table-1__head {
    font-size: var(--text-2);
    font-weight: var(--heavy);
    text-align: center;
    line-height: 1.45;
    height: max-content;
    color: hsl(var(--on-3));
    background-color: hsl(var(--surface-8));
    
    padding: 0.25rem 1rem;
    
    border-radius: 0.5rem 0.5rem 0 0;
    
    transform: translateY(-0.0625rem);
}


.table-1__scroller-v {
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 0.25rem;
    height: var(--table-height, max-content);
    overflow: hidden;
    overflow-y: auto;
}

.table-1__scroller-h {
    display: grid;
    grid-auto-rows: max-content;

    width: var(--table-height, max-content);
    overflow: hidden;
    overflow-x: auto;
}

.table-1__cell {
    width: 100%;
    height: max-content;
    background-color: hsl(var(--surface-0));
    border-radius: 1rem;
    padding: 0.5rem;
    transition: 0.25s ease-in-out;
    outline: solid transparent 0.0625rem;
    transform-origin: 50%;
}

.table-1__cell:hover {
    background-color: hsl(var(--surface-1));
    outline: solid hsl(var(--primary-1)) 0.0625rem;
    outline-offset: -0.0625rem;
}