* {
    font-family: var(--font-family);
}

*[break-word],
.break-word {
    word-break: break-word;
}

*[semi-bold],
.semi-bold {
    font-weight: var(--semi-bold);
}

*[bold],
.bold {
    font-weight: var(--bold);
}

*[heavy],
.heavy {
    font-weight: var(--heavy);
}

.text-body-2 {
    font-size: var(--text-2);
    font-weight: 400;
    color: hsl(var(--on-1));
    padding: 1rem;
}

.underline {
    text-decoration: underline;
    text-underline-offset:0.25rem;
}

.screen-header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

.screen-header__lang-area {
    grid-column: 3;
}

.screen-title,
.mark-title {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    grid-gap: 0.5rem;
}
.screen-title {
    font-size: var(--text-5);
    text-align: left;
    font-weight: 700;
    margin: 1rem 0rem;
}

.screen-title::before,
.mark-title::before {
    content: '';
    display: block;
    width: 0.25rem;
    height: 50%;
    border-radius: 0.0625rem;
    align-self: center;
    outline: solid 0.0625rem hsl(var(--primary-2) / 0.3);
    background-color:  hsl(var(--primary-1));
}

*[text-left],
.text-left {
    text-align: left;
}

*[text-center],
.text-center {
    text-align: center;
}

*[text-right],
.text-right {
    text-align: right;
}

*[ellipsis],
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.uppercase {
    text-transform: uppercase;
}

* [no-wrap],
.no-wrap {
    white-space: nowrap;
}   
    

*[wrap],
.wrap {
    overflow-wrap: break-word;
}

*[pill],
.pill {
    display: inline-block;
    padding: 0.5rem;
    border-radius: var(--radius, 0.25rem);
}

.point-reference {
    display: inline-block;
    width: 1rem;
    height: 0.5rem;
    margin: auto auto;
    border-radius: 666rem;
    outline: solid 0.0625rem hsl(var(--custom-color) / 0.6);
    background-color: hsl(var(--custom-color));
}

.kanji {
    writing-mode: vertical-rl;
}

*[indent="1"] {
    padding-left: 1.25rem;
}

*[indent="2"] {
    padding-left: calc(2 * 1.25rem);
}

*[indent="3"] {
    padding-left: calc(3 * 1.25rem);
}

*[indent="4"] {
    padding-left: calc(4 * 1.25rem);
}

*[indent="5"] {
    padding-left: calc(5 * 1.25rem);
}