.tx-grid__component {
  margin-top: 2rem
}

.tx-grid {
  width: max-content;
  height: max-content;
  padding: .75rem;
  margin-bottom: 1rem;
  border-radius: var( --border-radius-panel);
  outline: solid .125rem hsl(var(--surface-4));
  outline-offset: -.125rem;
  color: hsl(var(--on-0));
  background-color: hsl(var(--surface-4))
}

.tx-grid * {
  transition: .3s
}

.tx-grid__wrapper {
  position: relative;
  display: grid;
  grid-gap: var(--grid-gap, .125rem);
  grid-template-columns: var(--template-columns, auto);
  grid-template-rows: var(--template-rows, auto);
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  width: var(--grid-width, max-content);
  height: var(--grid-height, max-content);
  max-width: var(--grid-max-width, max-content);
  max-height: var(--grid-max-height, max-content);
  overflow: auto;
  transition: .35s
}

.tx-grid__head {
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-head-template);
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  grid-gap: .25rem;
  font-weight: 500;
  outline: solid .125rem hsl(var(--on-3));
  outline-offset: -.125rem;
  color: hsl(var(--on-0));
  background-color: hsl(var(--surface-4));
}

.tx-grid__head-background {
  position: sticky;
  width: 100%;
  height: 3.75rem;
  top: 0;
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: hsl(var(--surface-4));
  margin-top:-4rem;
  z-index: 0;
}

.tx-grid__store-column {
  position: sticky;
  left: 0;
  z-index: 4;
  outline: solid 0.25rem hsl(var(--surface-4));
  
}

.tx-grid__first-cell {
  grid-column: 1
}

.tx-grid__period {
  width: 100%;
  justify-self: center;
  grid-row: 1;
  grid-column: 1 / -1;
  background-color: hsl(var(--surface-2));
  outline: solid 0.125rem hsl(var(--surface-7));
  outline-offset: -0.125rem;
  min-height: 1.5rem
}

.tx-grid__period {
  width: 100%;
  justify-self: center;
  grid-row: 1;
  grid-column: 1 / -1;

  color: hsl(var(--on-3));
  font-weight: 700;
  background-color: hsl(var(--surface-8));

  outline: none;
  outline-offset: -0.125rem;
  min-height: 1.5rem
}


.tx-grid__field {
  background-color: hsl(var(--surface-2));
  outline: solid 0.125rem hsl(var(--surface-7));
  outline-offset: -0.125rem;
}

.tx-grid__field {
  color: hsl(var(--on-3));
  font-weight: 800;
  background-color: hsl(var(--surface-8));
  outline: none;
}

.tx-grid__period,.tx-grid__field {
  align-self: center;
  padding: .25rem .5rem
}

.tx-grid__head.sticky-y {
  z-index: 2
}

.tx-grid__head.sticky-x.sticky-y {
  border-right: solid .125rem hsl(var(--surface-6));
  z-index: 5
}

.tx-grid__only-selected .tx-grid__head:not(.show) {
  display: none
}

.tx-grid__main {
  padding: var(--grid-padding, .5rem);
  height: 2rem;
  margin-bottom: 0.125rem;
}

.tx-grid__main.sticky-x {
  border-right: solid .125rem hsl(var(--surface-5));
  z-index: 3
}

.sticky-y {
  position: sticky;
  top: var(--sticky-top, 0);
}

.sticky-x {
  position: sticky;
  left: var(--sticky-left, 0);
}

.tx-grid__main {
  color: hsl(var(--on-0));
  background-color: hsl(var(--surface-1))
}

.tx-grid__only-selected .tx-grid__main:not(.show) {
  display: none
}

.tx-grid__main.tx-grid__column-0 {
  background-color: hsl(var(--surface-0))
}

.tx-grid__component .tx-column.hidden {
  display: none;
}