.stores-view__component {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 36.5rem 1fr;
    grid-template-areas: 'list store';
    grid-column-gap: 1rem;
    
    width: calc(100svw - 0.25rem);
    height: 100svh;
    
    padding: 1rem;
    padding-left: 4.5rem;
    
    background-color: hsl(var(--surface-2));
}

/* VARIABLES */
.stores-view__component {
    --list-top-height: 1rem;
}

.stores-view__store-detail {
    width: 100%;
    height: calc(100svh - 4.25rem);
    grid-area: store;
}