.store-item__component {
    display: block;
    width: 100%;
    font-size: var(--text-3);
}

.store-item__item-button {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: 9rem 6.5rem 1fr 1fr 1rem;
    grid-template-areas:    'name name name name name'
    'field-1 field-2 field-3 field-4 button'
    ;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.75rem;
    background-color: hsl(var(--surface-1));
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    padding-bottom: 1rem;
    border-radius: var( --border-radius-panel);
    transition: 0.25s ease-in-out;
    outline: solid 0.0625rem hsl(var(--surface-3) / 0.8);
    color: hsl(var(--on-0));
    --bar-height: 0.5rem;
    text-decoration: none;
}

.store-item__item-button * {
    transition: 0.25s ease-in-out;
}

.store-item__item-button p {
    align-self: center;
}

.store-item__item-button.selected,
.store-item__item-button:hover {
    background-color: hsl(var(--surface-0));
}

.store-item__item-button.selected .panel-0,
.store-item__item-button:hover .panel-0 {
    background-color: hsl(var(--surface-1));
}

.store-item__item-button > [name]{
    width: 100%;
    color: hsl(var(--on-0));
    grid-area: name;
}

.store-item__item-button > [field-1]{
    grid-area: field-1;
}

.store-item__item-button > [field-2]{
    grid-area: field-2;
}

.store-item__item-button > [field-3]{
    grid-area: field-3;
}

.store-item__item-button > [field-4]{
    grid-area: field-4;
}

.store-item__item-button > [button]{
    grid-area: button;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 666rem;
    align-self: start;
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-2));
    outline: solid 0.0625rem hsl(var(--surface-0));
    align-self: center;
}

.store-item__item-button svg {
    width: 0.75rem;
    height: 0.75rem;
    transform: translateY(-0.22rem);
}

.store-item__percent {
    display: grid;
    grid-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 4rem max-content;
}

.store-item__field:not(:nth-child(1)) {
    display: grid;
    border-right: 0.0625rem dashed hsl(var(--surface-6));
    padding: 0.25rem 0.25rem;
}

.store-item__label {
    font-size: var(--text-2);
    font-weight: 600;
    color: hsl(var(--on-2));
}

.store-item__value {
    font-size: var(--text-4);
    font-weight: var(--bold);
    color: hsl(var(--on-1));
}