.store-filter__component {
    height: 2rem;
    width: 100%;
    display: grid;
    grid-gap: 0.75rem;

    --input-width: 25rem;
}

.store-filter__component * {
    color: hsl(var(--on-2));
}

.store-filter__component input {
    color: hsl(var(--on-1));
}

.store-filter__date-wrapper {
    height: 2rem;
    display: grid;
    grid-template-columns: max-content 1rem max-content max-content max-content;
    grid-auto-flow: column;
    grid-gap: 0.25rem;
    align-items: center;
    justify-items: start;
    font-size: var(--text-3);
    margin-left: 0.125rem;
}

.store-filter__date {
    border-radius: var(--padding, 1rem);
    padding: 0.25rem 0.75rem;
}

.to-date.store-filter__date {
    margin-right: 0.25rem;
}

/* OVERWRITE */
.store-filter__component .rz-dropdown {
    --rz-input-border-radius: 666rem;
    box-shadow:  0 0 0 1px hsl(var(--surface-6));
}
