.store-popup__component {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 3rem;
    grid-auto-rows: max-content;
}

.store-popup__component .table__component {
    margin-bottom: 0;
}
.store-popup__search {
    width: 30rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content;
    grid-gap: 0.5rem;
    font-size: var(--text-3);
    align-items: center;
}

.store-popup__search > *:nth-child(2) {
    padding: 0.25rem;
}

.store-popup__wrapper {
    --table-width:100%;
    height: max-content;
    width: 100%;
    outline: solid 0.125rem hsl(var(--surface-4));
    border-radius: 1.125rem;
}

.store-popup__wrapper .table__main {
    height: max-content;
    max-height: calc(var(--modal-height) - 18rem);
    overflow: hidden;
    overflow-y: auto;
}