
.edit-store__main {
    display: grid;
    grid-gap: 0.125rem;
    width: max-content;
}

.edit-store__row,
.edit-store__table {
    display: grid;
    width: max-content;
    grid-auto-flow: column;
    grid-template-columns: 3.5rem 7.5rem 3rem 7.5rem 6rem 6rem 9.5rem 7rem;
    align-items: center;
    justify-items: center;
    font-size: var(--text-2);
    border-radius: 1.125rem;
    text-align: center;
}

.edit-store__row {
    --border-color: hsl(var(--outline-2))
}

.edit-store__table {
    --border-color: hsl(var(--surface-1))
}

.edit-store__row > *,
.edit-store__table > * {
    border-right: dashed 0.0625rem var(--border-color);
    padding: 0.5rem 0rem;
    text-align: center;
    width: 100%;
}

.edit-store__row > *,
.edit-store__table > :last-child{
    border-right: solid 0.0625rem transparent;
}

.edit-store__row .rz-spinner,
.edit-store__table .rz-spinner {
    height: 1.75rem;
    font-size: var(--text-2);
}

.edit-store__row > * {
    display: grid;
    align-content: center;
    padding: 0.5rem;
    border-right: dashed 0.0625rem hsl(var(--surface-6));
    height: calc(100% - 1rem);
}

.tb-style {
    text-align: center;
    display: inline-block !important;
    border-style: solid;
    border-width: 0.01em;
    border-color: #cbcbcb;
}

.tb-style-header {
    background-color: dimgrey;
    color: white;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

.tb-style-cell {
    display: inline-flex;
}

    .tb-style-cell > input {
        text-align: center;
    }

.save-btn-float {
    float: right;
    bottom: 10px;
    position: relative;
}
td {
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #c7c7c7;
}

th {
	border-width: 1px;
}