app.vue
<template>
    <router-view :key="$route.fullPath" id="app" class="ios-safe-pading on-1"/>
</template>

<script setup>

import { onMounted } from 'vue';

onMounted( () => {
  const firstContent = document.getElementById('firstContent');
  if (null != firstContent) {
    document.body.removeChild(firstContent);
  }
});
</script>

<style>
  @import '@/css/tx-v1/base.css';
</style>