.arrival__buttons {
       display: grid;
       grid-auto-flow: column;
       justify-items: center;
       grid-gap: 2rem;
}
/* OVER WRITE */
/* 
    #arrival .popup-container .popup-main-container .foreground-modal
        .modal__wrapper
            .popup
                .tx-card
                    .scrollable-content
                        .data-grid
                            .rz-data-row
*/
#tx-1.tx.tx1.tx2.tx3.tx4 {
    z-index: 666;
}

#tx-1 .tx__card {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    padding: 2rem 0;
    border-radius: var(--border-radius-panel);
}

#tx-1 .scrollable-content {
    outline: solid hsl(var(--surface-4)) 0.25rem;
    border-radius: var(--border-radius-panel);
    overflow: hidden;
    overflow-y: auto;
    width: var(--width, 27rem);
}

#tx-1 #tx-2 .data-grid {
    height: 25rem;
}