.navbar__component {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.5rem 15rem 1fr;
    grid-column-gap: 1rem;
    margin: 1rem auto 3rem;
    width: var(--top-width);
}

.navbar__dropdown {
    position: absolute;
    display: grid;
    grid-gap: 0.5rem;
    z-index: 666;
    width: max-content;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: hsl(var(--surface-4));
    align-items: center;
    margin-top: 0.125rem;

    grid-row: 2;
}

.navbar__item {
    text-align: center;
    cursor: pointer;
    background-color: hsl(var(--surface-1));
    transition: 0.15s ease-in-out;
    border-radius: 0.75rem;
    padding: 0.25rem;
}

.navbar__item:hover,
.navbar__item[selected="true"] {
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-0));
    outline: solid 0.0625rem hsl(var(--primary-1));
}

.navbar__item[selected="true"] .navbar__a,
.navbar__a:hover {
    color: hsl(var(--on-0));
}

.navbar__store-dropdown {
    grid-row: 1;
    grid-column: 2;
}

/* OVERRIDES */
.body .rz-dropdown-panel {
    border-radius: 0.75rem;
    color: hsl(var(--on-2));
    background-color: hsl(var(--surface-0));
}

.body .rz-dropdown-item .rz-state-highlight {
    color: hsl(var(--on-2));
    background-color: hsl(var(--surface-1));
}