MonthPicker.vue
<template>
	<section  :class="c_isExpanded ? 'date-picker__expanded': 'date-picker__collapsed'"
			  class="date-picker__component"
			  :c_range="c_range"
			  :c_periodIndex="c_periodIndex"
			>
		<section class="date-picker__controls-container shadow-2">
			<section class="date-picker__calendar-controls">
				<button type="button" class="date-picker__prev">
					<SvgIconLeft @click="onClickPrev()" />
				</button>
				<p class="date-picker__month-year">{{ r_currentYear }}</p>
				<button type="button" class="date-picker__next">
					<SvgIconRight @click="onClickNext()" />
				</button>
			</section>

			<PeriodSelector @select="onPeriodSelected" :periodIndex="r_periodIndex"/>

			<MonthYear 	
					   :yearTime="r_yearTime"
					   :startTime="r_dataSelection.start"
					   :endTime="r_dataSelection.end"
					   :selectionList="c_selectionList"
					   :fixedTime="r_fixedTime"
					   :range="c_range"
					   :periodIndex="r_periodIndex"
					   @select="onSelectMonth"
					   @unselect="onUnselectMonth"
					   />
			
			<article class="date-picker__ok-cancel">
				<button class="button primary-1" @click="onOk">適用</button>
				<button class="button ghost" @click="onCancel">キャンセル</button>
			</article>
		</section>
	</section>
</template>

<script setup >
	/* VUE */
	import { ref, reactive, onMounted, computed } from 'vue'

	/* COMPONENTS */
	import SvgIconLeft  from '@/vue/components/svg/chevronLeft.vue'
	import SvgIconRight from '@/vue/components/svg/chevronRight.vue'
	import MonthYear    from '@/vue/components/date_components/controls/MonthYear.vue'
	import PeriodSelector    from '../controls/PeriodSelector.vue'

	/* LIBRARIES */
	import { getDateZeroHour, getDate1, getTimeDate1, getLastMonthTime } from '@/libs/DateUtils'

	/* VARIABLES */
	const date = getDateZeroHour();
		  date.setDate(1);
		  date.setMonth(0);

	/* REACTIVES */
	const r_nextButtonClass = new ref();
	const r_fixedTime		= new ref(-1);
	const r_yearTime		= ref(date.getTime());
	const r_currentYear     = ref('');
	const r_dataSelection   = reactive({
		start: -1,
		end: -1
	});
	const r_lastSelection = new reactive({
		startTime: -1,
		endTime:   -1
	});
	const r_periodIndex = ref(2);

	/* PROPS */
	const props = defineProps({
		isExpanded:    Boolean,
		range:         Object,
		time:          Number,
		selectionList: Array,
		periodIndex:   Number
	});

	/* INITIALIZATION */
	onMounted(() => {
		const previewsMonth = getDate1();
		previewsMonth.setMonth(previewsMonth.getMonth()-1);
		
		const time            = previewsMonth.getTime();
		r_dataSelection.start = time;
		r_lastSelection.start = time;

		r_dataSelection.end   = getLastMonthTime(time);
		r_lastSelection.end   = getLastMonthTime(time);

		addYear(0);
		emit('initial', 
						{
							startTime:   r_dataSelection.start, 
							endTime  :   r_dataSelection.end,
							periodIndex: r_periodIndex.value,
							fixedTime:   r_fixedTime.value
						});
	});

	/* COMPUTED */
	const c_isExpanded = computed(()=>{
		if(props.isExpanded){
			r_fixedTime.value = -1;
		}
		return props.isExpanded
	});
	
	const c_periodIndex = computed(()=>{
		const periodIndex = props.periodIndex;
		if(2 == periodIndex){
			r_fixedTime.value = -1;
		}
		r_periodIndex.value = periodIndex;
		return periodIndex
	});


	const c_range = computed(()=>{
		const range = props.range;
		if(null == range || null == range.startTime){
			// Early return
			return
		}
		const { startTime, endTime } = handleObject(range);
		handleTime(startTime, 'startTime');
		handleTime(endTime, 'endTime');

		const finalStartTime  = getTimeDate1(startTime);
		const finalEndTime    = -1 != endTime ? getLastMonthTime(endTime) : getLastMonthTime(startTime);
		r_dataSelection.start = finalStartTime
		r_lastSelection.start = finalStartTime;

		r_dataSelection.end   = getLastMonthTime(finalEndTime);
		r_lastSelection.end   = getLastMonthTime(finalEndTime);

		r_fixedTime.value = -1 != endTime ? startTime : -1;
		
		return range
	});

	const c_selectionList = computed(() => {
		const selectionList = props.selectionList;
		if(null == selectionList){
			// Early return
			return
		}
		handleArray(selectionList, 'selectionList');
		return  selectionList
	});

	/* METHODS */
	function onPeriodSelected(periodIndex){
		handleNumber(periodIndex, 'periodIndex');
		r_periodIndex.value = periodIndex;
		emit('period', periodIndex);
	}

	function setYear(){
		r_yearTime.value        = date.getTime();
		const year              = date.getFullYear();
		const today             = getDateZeroHour();
		r_nextButtonClass.value = date.getFullYear() == today.getFullYear() ? 'next-disable' : '';
		r_currentYear.value     = year + '年 ';
	}

	function addYear(amount) {
		date.setFullYear(date.getFullYear() + amount);
		setYear();
	}

	/* EVENTS */
	const emit = defineEmits(['range', 'cancel', 'period', 'initial']);

	function onClickNext(event) {
		addYear(1);
	}

	function onClickPrev(event) {
		addYear(-1);
	}

	function onSelectMonth(selectedTime) {
		handleTime(selectedTime, `selectedTime`);
		let startTime = r_dataSelection.start; 
		let endTime   = r_dataSelection.end;

		const isNullStartTime = -1 == startTime;
		const isNullEndTime   = -1 == endTime;

		if (isNullStartTime && isNullEndTime){
			r_dataSelection.start = selectedTime;
			r_dataSelection.end   = getLastDay(selectedTime);
			// Early return
			return;
		}

		const fixedTime = r_fixedTime.value;

		if(startTime == selectedTime || endTime == selectedTime) {
			if(selectedTime == fixedTime){
				r_fixedTime.value = -1;
			}else{
				r_fixedTime.value = selectedTime;
			}
			// Early return
			return;
		}

		if(endTime == selectedTime) {
			// Early return
			return;
		}

		if (-1 != fixedTime || 0 != fixedTime)
		{
			startTime = selectedTime;
			endTime   = fixedTime;
		}

		let minTime = Math.min(startTime, endTime);
		let maxTime = Math.max(startTime, endTime);

		if(-1 == minTime){
			minTime = maxTime;
			maxTime = getLastMonthTime(maxTime);
		}

		r_dataSelection.start = minTime;
		r_dataSelection.end   = maxTime;
	}

	function onUnselectMonth (unselectedTime){
		handleNumber(unselectedTime, `unselectedTime`);

		if(r_fixedTime.value == unselectedTime){
			r_fixedTime.value = -1;
		}

		const startTime = r_dataSelection.start;
		const endTime   = r_dataSelection.end;

		if(unselectedTime == startTime){
			r_dataSelection.start = endTime;
			r_dataSelection.end   = getLastMonthTime(endTime);
		}

		if(unselectedTime == endTime){
			r_dataSelection.start = startTime;
			r_dataSelection.end   = getLastMonthTime(startTime);
		}
	}

	function onOk(event){
		r_fixedTime.value   = -1;
		const {start, end } = r_dataSelection;

		if(-1 == start && -1 == end){
			onCancel();
			// Early return
			return
		}

		r_lastSelection.start = r_dataSelection.start;
		r_lastSelection.end   = r_dataSelection.end;

		emitRange();
	}

	function onCancel(event){
		r_fixedTime.value     = -1;
		r_dataSelection.start = r_lastSelection.start;
		r_dataSelection.end   = r_lastSelection.end;
		emit('cancel');
	}

	function emitRange(){
		const firstMonthTime = getTimeDate1(r_lastSelection.start);
		const lastMonthTime = getLastMonthTime(r_dataSelection.end);
		
		emit('range', 
						{
							startTime: firstMonthTime, 
							endTime  : lastMonthTime
						});
	}
</script>
