DateMonth.vue
<template>
	<section class="date-picker__month"
			 :c_monthTime="c_monthTime"
			 :startTime="c_startTime"
			 :endTime="c_endTime"
			 :c_fixedTime="c_fixedTime"
			 :r_dataSelection="r_dataSelection"
			 :c_selectionList="c_selectionList"
		>
		<ul class="date-picker__selected-wrapper">
			<li class="date-picker__selected"
				@click="onUnselectStart"
				v-if="null != c_startString">
                <p>{{c_startString}}</p>
					<p class="date-picker__selected-icon">
                        <SvgClose/>
                    </p>
            </li>
			<li class="date-picker__selected"
				@click="onUnselectEnd"
				v-if="null != c_endString">
                <p>{{c_endString}}</p>
                    <p class="date-picker__selected-icon">
                        <SvgClose/>
                    </p>
            </li>
		</ul>
		<ul class="date-picker__week week">
			<li class="date-picker__day" 
				v-for="(day, index) in r_weekDays"
				:key="day.time + '_' + Math.random() + '_' + index"
				>
				<p class="date-picker__date" :class="index==6 ?'date-picker__red-day' : ''" >{{ day }}</p>
			</li>
		</ul>
		<ul class="date-picker__week">
			<li class="date-picker__day"
			    v-for="(day, index) in r_dateList" 
				:key="day.time + '_' + Math.random() + '_' + index"
				:class="day.class"
				>
				<button type="button" 
						class="date-picker__date-button date-picker__day"
						@click="day.isSelection ? onDateSelection(day.time) : _=>{}"
						@dblclick="onDateUnselection(day.time)"
						>
					<p class="date-picker__date text-1" :class="6 == index%7 ? 'date-picker__red-day' :  ''">
						{{ day.date }}
					</p>
					<span class="date-picker__selection-background"></span>
				</button>
			</li>
		</ul>
	</section>
</template>

<script setup>
/* VUE */
import { ref, reactive, computed, onMounted } from 'vue'

/* LIBRARIES */
import { getMonthData, getTimeZeroHour, getDateZeroHour } from '@/libs/DateUtils'

/* COMPONENTS */
import SvgClose from '@/vue/components/svg/SvgClose.vue'

/* REACTIVES */
const r_dataSelection = reactive({
	start: -1,
	end: -1
})
const r_weekDays	= ref(['月', '火', '水', '木', '金', '土', '日']);
const r_dateList	= reactive([]);

/* VARIABLES */
const DAYS_OF_WEEK	     = 7;
const SELECTED_DAY_CLASS = ' date-picker__selected-day ';
const START_DAY_CLASS	 = ' date-picker__start-day ';
const END_DAY_CLASS		 = ' date-picker__end-day ';
const IN_BETWEEN_DAY	 = ' date-picker__between-day ';
const NON_WORKING_DAY	 = ' date-picker__red-day ';
const DIFFERENT_MONTH	 = ' date-picker__different-month ';
const RED_DAY			 = ' date-picker__red-day ';
const EXTRA_SELECTION	 = ' date-picker__extra-selection ';
const FIXED_DAY_CLASS	 = ' date-picker__fixed ';

let monthToDisplay		 = getDateZeroHour();
let daysLength			 = 43;
let firstDate			 = 0;
let lastDate			 = 0;


/* INITIALIZATION */
onMounted(() => {
	r_dataSelection.start = getTimeZeroHour();
	setMonthByProps();
	setSelectionByProps();
	displayMonthAndSelection();
});

/* PROPS */
const props = defineProps({
	monthTime: 		  Number,
	startTime: 		  Number,
	endTime:   		  Number,
	fixedTime:		  Number,
	selectionList:	  Array,
	isOnlyPast:		  Boolean
});

/* COMPUTED */
const c_monthTime = computed(() => {
	const monthTime = props.monthTime;
	if (null == monthTime) {
		// Early return
		return
	}
	
	setMonthByProps();
	displayMonthAndSelection();

	return props.monthTime
})

const c_startTime = computed(() => {
	const time = props.startTime;
	if (null == time) {
		// Early return
		return
	}
	
	handleNumber(time, `time`);
	r_dataSelection.start = time;
	displaySelection();
	return props.startTime
});

const c_startString = computed(() => {
	const start = r_dataSelection.start;
	if(-1 == start){
		// Early return
		return
	}
	
	const date       = new Date(start);
	const dateString = date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate();
	// Early return
	return dateString
});

const c_endString = computed(() => {
	const end = r_dataSelection.end;
	if(-1 == end){
		// Early return
		return
	}
	
	const date       = new Date(end);
	const dateString = date.getFullYear() + '/' + (date.getMonth()+1) + '/' + date.getDate();
	// Early return
	return dateString
});

const c_endTime = computed(() => {
	const time = props.endTime;
	if (null == time) {
		// Early return
		return
	}
	
	handleNumber(time, `time`);
	r_dataSelection.end = time;
	displaySelection();

	return props.endTime
});

const c_selectionList = computed(()=>{
	const selectionList = props.selectionList;
	if(null == selectionList){
		// Early return
		return 
	}
	
	handleArray(selectionList, 'selectionList');
	return selectionList
});

const c_fixedTime = computed(()=>{
	const fixedTime = props.fixedTime;
	if(null == fixedTime){
		// Early return
		return
	}
	
	return fixedTime
});

/* METHODS */
function setMonthDate(time) {
	handleNumber(time, `time`);

	const data = getMonthData(time, true);
	firstDate  = data.firstMonthTime;
	lastDate   = data.lastMonthTime;

	r_dateList.length = 0;

	daysLength     = data.daysLength;
	monthToDisplay = new Date(data.firstDayWeekTime);
}

function setMonthByProps() {
	const monthTime = props.monthTime;
	if (null == monthTime) {
		// Early return
		return
	}
	handleNumber(monthTime, `props.monthTime`);
	setMonthDate(monthTime);
}

function displayMonth() {
	let date = 1;
	let time = 0;
	let dateClass = '';
	let today = getTimeZeroHour();

	for (let index = 0; index < daysLength; index++) {
		if(monthToDisplay.getTime() > today) {
			// Early return
			return
		}
		date = monthToDisplay.getDate();
		time = monthToDisplay.getTime();

		dateClass = time < firstDate || time > lastDate ? DIFFERENT_MONTH : '';

		r_dateList.push({ date: date, class: dateClass, time, baseClass: dateClass });
		
		date++
		monthToDisplay.setDate(date);
	}
}

function setSelectionByProps() {
	const start = props.startTime
	if (checkIsNumber(start)) {
		r_dataSelection.start = start;
	}

	const end = props.endTime;
	if (checkIsNumber(end)) {
		r_dataSelection.end = end;
	}
}

function displaySelection() {
	const start = r_dataSelection.start;
	const end   = r_dataSelection.end;
	let time;
	let dateData;
	let classToApply;
	const length = r_dateList.length;

	let selectionList = props.selectionList || [];

	for (let index = 0; index < length; index++) {
		dateData = r_dateList[index];
		time = dateData.time;
		classToApply = dateData.baseClass;

		if(0 == index%7){
			classToApply += RED_DAY;
		}

		if (time == start) {
			classToApply += SELECTED_DAY_CLASS;
			if (-1 != end) {
				classToApply += START_DAY_CLASS;
			}
		}

		if (time == end) {
			classToApply += SELECTED_DAY_CLASS;
			if (-1 != start) {
				classToApply += END_DAY_CLASS;
			}
		}

		if(time == props.fixedTime){
			classToApply += FIXED_DAY_CLASS;
		}
		dateData.isSelection = false;
		if(-1 != selectionList.indexOf(time)){
			classToApply += EXTRA_SELECTION;
			dateData.isSelection = true;
		}

		if (time > start && time < end && (-1 != start && -1 != end)) {
			classToApply += IN_BETWEEN_DAY;
		}
		
		dateData.class = classToApply;
	}
}

function displayMonthAndSelection() {
	displayMonth();
	displaySelection();
}

/* EVENTS */
const emit = defineEmits(['select', 'unselect']);

function onDateSelection(time) {
	handleNumber(time, 'time');
	emit('select', time);
}

function onDateUnselection(time) {
	handleNumber(time, 'time');
	let timeToEmit;
	const { start, end } = r_dataSelection;
	if(time == start){
		timeToEmit = time;
	}
	if(time == end){
		timeToEmit = time;
	}

	emit('unselect', timeToEmit);
}

function onUnselectStart(){
	const { start, end } = r_dataSelection;
	emit('unselect', r_dataSelection.start);
}

function onUnselectEnd(){
	const { start, end } = r_dataSelection;
	emit('unselect', r_dataSelection.end);
}

</script>