PeriodSelector.vue
<template>
    <article class="period-selector__component" :c_periodIndex="c_periodIndex">
        <ul class="period-selector__list">
            <li class="period-selector__period" :class="r_periodIndex == 0 ? 'selected' : 'non-selected'">
                <button class="period-selector__period-text"
                        @click="onPeriodTypeClick(0)"
                        >
                        日
                </button>
            </li>
            <li class="period-selector__period" :class="r_periodIndex == 1 ? 'selected' : 'non-selected'">
                <button class="period-selector__period-text"
                        @click="onPeriodTypeClick(1)"
                        >
                        週
                </button>
            </li>
            <li class="period-selector__period" :class="r_periodIndex == 2 ? 'selected' : 'non-selected'">
                <button class="period-selector__period-text"
                        @click="onPeriodTypeClick(2)"
                        >
                        月
                </button>
            </li>
        </ul>
    </article>
</template>

<script setup>
    /* VUE */
    import { ref, reactive, computed, onMounted, onBeforeUnmount } from 'vue'

    /* REACTIVES */
    const r_periodIndex = new ref(null);

    /* PROPS */
    const props = defineProps({
        periodIndex:Number
    });

    /* COMPUTED */
    const c_periodIndex = computed(()=>{
        const periodIndex = props.periodIndex;
        if(null == periodIndex){
            // Early return
            return
        }
        handleNumber(periodIndex, 'periodIndex');
        r_periodIndex.value = periodIndex;
    });

    /* EVENTS */
    function onPeriodTypeClick(periodIndex){
        handleNumber(periodIndex, 'periodIndex');
        r_periodIndex.value = periodIndex;
        emit('select', periodIndex);
    }

    const emit = defineEmits(['select']);
</script>