.group-crud__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 100%;
    max-width: calc(100svw - 6rem);
    overflow: hidden;
    overflow-x: auto;
}