.timezone-row__component {
    width: max-content;
    height: max-content;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 2rem;
    line-height: 1.5;
}

.timezone-row__field {
    width: 100%;
    display: grid;
    grid-gap: 0.125rem;
    grid-auto-flow: column;
    align-items: center;
    z-index: 1;
}