.task__filter {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 1rem;
  width: 100%;
  justify-content: center;
}

.task__filter-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  grid-gap: 0.5rem;
}

.task__header {
  display: grid;
  grid-auto-rows: max-content;
}

.task__combo-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  grid-gap: 1rem;
}

.task__see-only {
  width: max-content;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: hsl(var(--primary-1) / 1);
}

.task__see-only.selected {
  background-color: hsl(var(--primary-1) / 0.2);
}

.task__modal {
  --modal-width: min(25rem, calc(100% - 1rem));
  --modal-height: min(10rem, calc(100% - 1rem));
  transition: 0.6s ease-in-out;
}