.task-grid__component {
    margin-top: 2rem
}
  
.task-grid {
    width: max-content;
    height: max-content;
    padding: .75rem;
    margin-bottom: 1rem;
    border-radius: var( --border-radius-panel);
    outline: solid .125rem hsl(var(--surface-4));
    outline-offset: -.125rem;
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-4))
}

.task-grid * {
    transition: .3s
}

.task-grid__wrapper {
    position: relative;
    display: grid;
    grid-gap: var(--grid-gap, .125rem);
    grid-template-columns: var(--template-columns, auto);
    grid-template-rows: var(--template-rows, auto);
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    width: var(--grid-width, max-content);
    height: calc(100svh - 12rem);
    max-width: var(--grid-max-width, max-content);
    overflow: auto;
    transition: .35s
}

.task-grid__head {
    width: 100%;
    display: grid;
    grid-template-columns: var(--grid-head-template);
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    grid-gap: .25rem;
    font-weight: 500;
    outline: solid .125rem transparent;
    outline-offset: -.125rem;
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-4));
}
.task-grid__column.task-grid__main:nth-child(2) {
    margin-top: 0.38rem;
}
.task-grid__cell.task-grid__main:nth-child(3){
    margin-top: 0.75rem;
}

.task-grid__cell {
    font-size: var(--text-3);
}

.task-grid__head-background {
    position: sticky;
    width: 100%;
    height: 3.75rem;
    top: 0;
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: hsl(var(--surface-4));
    margin-top:-4rem;
    z-index: 0;
}

.task-grid__store-column {
    position: sticky;
    left: 0;
    z-index: 4;
    outline: solid 0.25rem hsl(var(--surface-4));
}

.task-grid__first-cell {
    grid-column: 1
}

.task-grid__period {
    width: 100%;
    justify-self: center;
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: hsl(var(--surface-2));
    outline: solid 0.125rem hsl(var(--surface-7));
    outline-offset: -0.125rem;
    min-height: 1.5rem
}

.task-grid__period {
    width: 100%;
    justify-self: center;
    grid-row: 1;
    grid-column: 1 / -1;
    color: hsl(var(--on-3));
    font-weight: 700;
    background-color: hsl(var(--surface-8));
    outline: none;
    outline-offset: -0.125rem;
    min-height: 1.5rem
}

.task-grid__field {
    background-color: hsl(var(--surface-2));
    outline: solid 0.125rem hsl(var(--surface-7));
    outline-offset: -0.125rem;
}

.task-grid__field {
    color: hsl(var(--on-3));
    font-weight: 800;
    background-color: hsl(var(--surface-8));
    outline: none;
}

.task-grid__period,.task-grid__field {
    align-self: center;
    padding: .25rem .5rem
}

.task-grid__head.sticky-y {
    z-index: 2
}

.task-grid__head.sticky-x.sticky-y {
    border-right: solid .125rem transparent;
    z-index: 5
}

.task-grid__only-selected .task-grid__head:not(.show) {
    display: none
}

.task-grid__main {
    display: grid;
    padding: var(--grid-padding, .5rem);
    height: 2rem;
    font-size: var(--text-4);
    margin-bottom: 0.125rem;
    align-content: center;
    border-radius: 0.125rem;
}

.task-grid__main.sticky-x {
    border-right: solid .125rem hsl(var(--surface-5));
    z-index: 3
}

.task-grid__main {
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-1))
}

.task-grid__only-selected .task-grid__main:not(.show) {
    display: none
}

.task-grid__main.task-grid__column-0 {
    background-color: hsl(var(--surface-0))
}

.task-grid__component .tx-column.hidden {
    display: none;
}

.task-grid__shadow {
    height: calc(100svh - 9.75rem);
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1;
    position: absolute;
}