:root {
  --light: lighter;
  --normal: 300;
  --semi-bold: 500;
  --bold:600;
  --heavy:700;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  
  --text-11: 3.5625rem;
  --text-10: 2.8125rem;
  --text-9: 2.25rem;
  --text-8: 2rem;
  --text-7: 1.75rem;
  --text-6: 1.5rem;
  --text-5: 1.375rem;
  --text-4: 1rem;
  --text-3: 0.875rem;
  --text-2: 0.75rem;
  --text-1: 0.6875rem;
}

.text-11 {
  font-size: var(--text-11);
}
.text-10 {
  font-size: var(--text-10);
}
.text-9 {
  font-size: var(--text-9);
}
.text-8 {
  font-size: var(--text-8);
}
.text-7 {
  font-size: var(--text-7);
}
.text-6 {
  font-size: var(--text-6);
}
.text-5 {
  font-size: var(--text-5);
}
.text-4 {
  font-size: var(--text-4);
}
.text-3 {
  font-size: var(--text-3);
}
.text-2 {
  font-size: var(--text-2);
}
.text-1 {
  font-size: var(--text-1);
}