.store-modal__component {
    --modal-width: min(50rem, calc(100% - 1rem));
    --modal-height: max-content;
    transition: 0.6s ease-in-out;
}

.store-modal__panel {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.store-modal__table {
    border-radius: var(--border-radius-panel);
    background-color: hsl(var(--surface-4));
    padding: 0.5rem;
}

.store-modal__table-wrapper {
    padding: 0 0.5rem;
    max-height: calc(100svh - 20rem);
    overflow-y: auto;
}

.store-modal__table-header {
    position: sticky;
    top: 0;
    z-index: 666;
}

.store-modal__table-header,
.store-modal__table-main {
    padding: 0.5rem;
    background-color: hsl(var(--surface-4));
}

.store-modal__table-main {
    display: grid;
    grid-row-gap: 0.25rem;
    grid-auto-rows: max-content;
}

.store-modal__table-header-row,
.store-modal__table-main-row {
    display: grid;
    grid-template-columns: 1fr 20rem;
    text-align: center;
    border-radius: var(--border-radius-panel);
}
.store-modal__table-main-row {
    padding-right: 0.25rem;
}

.store-modal__table-header-row {
    color: hsl(var(--on-3));
    font-weight: 700;
    background-color: hsl(var(--surface-8));
}

.store-modal__table-main-row {
    color: hsl(var(--on-1));
    background-color: hsl(var(--surface-1));
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.store-modal__table-main-row:hover {
    background-color: hsl(var(--surface-0));
}

.store-modal__table-header-row > *,
.store-modal__table-main-row > * {
    padding: 0.5rem;
}

.store-modal__table-header-row > *:not(:last-child) {
    border-right: dashed 0.0625rem hsl(var(--surface-0));
}

.store-modal__table-main-row > *:not(:last-child) {
    border-right: dashed 0.0625rem hsl(var(--surface-6));
}

.store-modal__link-list {
    display: grid;
    grid-template-columns: repeat(5, 1rem);
    grid-gap: 1rem;
    grid-template-rows: 1.125rem;
    justify-content: center;
}

.tx-tooltip {
    position: relative;
    display: inline-block;
}

.tx-tooltip .tx-tooltiptext {
    align-self: center;
    visibility: hidden;
    width: max-content;
    background-color:hsl(var(--surface-8));

    color: hsl(var(--on-3));
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.25rem;
    position: absolute;
    z-index: 111;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    height: max-content;
    font-size: 0.75rem;
    font-weight: 700;
    transform-origin: center right;
    transform: translate(calc(-100% - 1.25rem), -0.25rem);
}

.tx-tooltip .tx-tooltiptext::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(0.25rem, 0.5rem);
    border-width: 0.25rem;
    border-style: solid;
    border-color: transparent transparent transparent hsl(var(--surface-8));
}

.tx-tooltip:hover .tx-tooltiptext {
    visibility: visible;
    opacity: 1;
}