.area-column__component {
    background-color: hsl(var(--surface-4));
    margin-right: 0.25rem;
}

.area-column__header-wrapper {
    display: grid;
    grid-column: 1;
    align-content: end;
    height: 1.75rem;
    background-color: hsl(var(--surface-4));
}

.area-column__header {
    font-size: var(--text-2);
    font-weight: 600;
    text-align: center;

    color: hsl(var(--on-3));
    background-color: hsl(var(--surface-8));

    padding: 0.25rem 1rem;

    border-radius: 0.5rem 0.5rem 0 0;

    transform: translateY(-0.0625rem);
}

.area-column__name {
    display: grid;
    grid-gap: 0.5rem;
    z-index: 1;
}

.area-column__name > *{
    width: max-content;
}

.area-column__area-name {
    grid-column: 1;
}

.area-column__task-name {
    width: max-content;
    grid-column: 2;
}