.column-header__wrapper {
    height: 6rem;
    background-color: hsl(var(--surface-4));
    display: grid;
    align-items: center;
}

.column-header__wrapper::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    color: hsl(var(--on-3));
    background-color: hsl(var(--surface-8));
    z-index: -1;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.column-header__text {
    color: hsl(var(--on-3));
    font-weight: 600;
    letter-spacing: 0.0325rem;
    text-transform: uppercase;
    font-size: var(--text-2);
    text-align: center;
    padding: 0.25rem;
    line-height: 1.2;
}