.double-column__component {
    position: relative;
}

.double-column__header {
    height: 8.5rem;
    display: grid;
    grid-template-columns: 7rem 7rem;
    grid-template-areas: 'hour hour';
    grid-auto-rows: max-content;
    background-color: hsl(var(--surface-4));
    align-items: center;
}

.double-column__hour-wrapper:hover {
    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-2));
    font-weight: 600;
}

.double-column__date {
    text-decoration: underline;
    text-underline-offset:0.125rem;
    cursor: pointer;
}

.double-column__hour-wrapper {
    grid-area: hour;
    font-size: var(--text-4);
    padding: .25rem;
    text-align: center;
    color: hsl(var(--on-3));
    background-color: hsl(var(--surface-8));
    border-radius: 1rem;
    margin-bottom: 0.125rem;
    outline: hsl(var(--surface-8)) solid 0.0625rem;
    outline-offset: -0.0625rem;
    transition: 0.25s;
}

.double-column__shift-wrapper {
    display: grid;
    grid-column: 1;
    grid-template-columns: 7rem 7rem;
    margin-bottom: 0.75rem;
}

.double-column__shift-wrapper.shadow-2.lang.jp {
    margin-bottom: 0.5rem;
    transform: translateY(-0.25rem);
}

.double-column__shift-wrapper.jp {
    margin-bottom: 0.5rem;
}

.double-column__header-left,
.double-column__header-right {
    font-size: var(--text-2);
    font-weight: 600;
    text-align: center;

    color: hsl(var(--on-3));
    background-color: hsl(var(--surface-8));

    padding: 0.25rem 1rem;
}

.double-column__header-left {
    border-radius: 0.5rem 0 0 0;
    border-right: dashed 0.0625rem hsl(var(--surface-4));
}

.double-column__header-right {
    border-radius: 0 0.5rem 0  0;
}

.double-column__value-left,
.double-column__value-right {
    padding: 0.5rem 1.5rem;
    outline: hsl(var(--surface-8)) 0.0625rem solid;
    outline-offset: -0.0625rem;
}

.double-column__value-left {
    border-radius: 0 0.5rem 0  0;
    border-radius: 0  0  0 0.5rem;
}

.double-column__value-right {
    background-color: hsl(var(--surface-2));
    border-radius: 0  0  0.5rem 0;
}

.double-column__header-right.lang.jp,
.double-column__header-left.lang.jp {
    height: 2.6rem;
    display: grid;
    align-content: center;
}

.double-cell {
    display: grid;
    grid-template-columns: 7rem 7rem;
    grid-template-areas: 'shift-tracked shift-planne''hour hour' 'scheduled tracked';
    background-color: hsl(var(--surface-4));
    border-bottom: var(--border);
    line-height: 1.5;
}

.area-shift-tracked {
    grid-area: shift-tracked;
}

.area-shift-planned {
    grid-area: shift-planned;
}

.area-hour {
    grid-area: hour;
    padding: 0.25rem;
    border-bottom: 0.0625rem solid hsl(var(--surface-4));
}

.area-tracked {
    grid-area: tracked;
    border-right: dashed 0.0625rem hsl(var(--surface-4));
}

.area-tracked {
    grid-area: planned;
    border-right: dashed 0.0625rem hsl(var(--surface-4));
}

.double-cell__left {
    padding: 1rem 1.5rem;
}

.double-cell__left.bad {
    outline: solid 0.0625rem var(--on-bad);
    outline-offset: -0.125rem;
}

.double-cell__right {
    padding: 1rem 1.5rem;
    background-color: hsl(var(--surface-2));
}