.grid-column__component {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 1rem;
    margin-top: 1rem;
    --border: solid 0.0625rem hsl(var(--surface-6));
}

.grid-column__wrapper {
    background-color: hsl(var(--surface-4));
    border-radius: 1rem;
    padding: 1rem;
}

.grid-column__scroller {
    display: grid;
    grid-template-columns: 19rem max-content;
    grid-auto-columns: max-content;
    grid-template-areas: '.      area-1'
                         'area-2 area-3'
                         'area-4 area-5';
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    width: calc(100svw - (var(--max-padding-large) * 2) - var(--sidebar-width) - 2rem );
    height:calc(100svh - 13.5rem);
    overflow: auto;
}

.grid-column__area-1 {
    grid-area: area-1;
}

.grid-column__area-2 {
    grid-area: area-2;
}

.grid-column__area-3 {
    grid-area: area-3;
}

.grid-column__area-4 {
    grid-area: area-4;
}

.grid-column__area-5 {
    grid-area: area-5;
}

.grid-column__timezone {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 6rem;
    grid-gap: 0.5rem;
    position: relative;
}

.simple-cell {
    padding: 0.5rem 0.75rem;
    border-bottom: var(--border);
    background-color: hsl(var(--surface-1));
    line-height: 1.5;
}