.man-hour__deviation{
    display: grid;
    grid-template-columns: max-content 4rem max-content;
    grid-template-areas: 'label input minutes';
    align-items: start;
    grid-gap: 0.25rem;
    font-size: var(--text-3);
}

.man-hour__label {
    grid-area: label;
}

.man-hour__input {
    grid-area: input;
}

.man-hour__minutes {
    grid-area: minutes;
    transform: translateY(0.25rem);
}