.tx-table__component {
  width: max-content;
  border-radius: var( --border-radius-panel);
  padding: 0.5rem;
  background-color: hsl(var(--surface-4));
  color: hsl(var(--on-0));
  margin-bottom: 1rem;
  outline: solid 0.125rem hsl(var(--surface-4));
  outline-offset: -0.125rem;
}

.tx-table__wrapper {
  display: grid;
  grid-template-rows: var(--row-height, 2.5rem) 1fr;
  grid-gap: var(--table-grid-gap, 0.125rem);
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  width: var(--table-width, var(--max-large-width));
  height: var(--table-height, max-content);
  overflow: auto;
}
  
  .tx-table__head {
    background-color: hsl(var(--surface-8));
    color: hsl(var(--surface-8));
  }
  
  .tx-table__main {
    display: grid;
    grid-gap: 0.25rem;
    width: var(--row-width, 100%);
    height: var(--table-main-height, 100%);
    grid-auto-rows: max-content;
  }
  
  .tx-table__main > *,
  .tx-table__head {
    display: grid;
    width: var(--row-width, 100%);
    height: var(--row-height, 2.5rem);
    grid-auto-flow: column;
    grid-template-columns: var(--table-columns);
    grid-auto-rows: max-content;
    align-items: center;
    justify-items: center;
    border-radius: 1.125rem;
    text-align: center;
  }
  
  .tx-table__main > * {
    --border-color: hsl(var(--surface-7));
    background-color: hsl(var(--surface-1));
  }
  
  .tx-table__head {
    --border-color: hsl(var(--surface-1))
  }
  
  .tx-table__head > *, 
  .tx-table__main > * > * {
    border-right: dashed 0.0625rem var(--border-color) !important;
    padding: 0.5rem 0rem;
    text-align: center;
    width: 100%;
  }
  
  .tx-table__main > * > li:last-child,
  .tx-table__head > li:last-child {
    border-right: solid 0.0625rem transparent !important;
  }
  
  .tx-table__main > * .rz-spinner,
  .tx-table__head .rz-spinner {
    height: 1.75rem;
  }
  
  .tx-table__main > * > * {
    display: grid;
    height: var(--row-height, 2.5rem);
    align-content: center;
    padding: 0.5rem;
    border-right: dashed 0.0625rem hsl(var(--surface-6));
  }
  
  .tx-table__main > * > .show-only-in-print {
    display: none;
  }
  
  @media print {
  
    .tx-table__main > * > .show-only-in-print {
        display: grid;
    }
  
    body {
        -webkit-print-color-adjust: exact;
    }
  
    .tx-print-width-100 {
        width: 100% !important;
    }
  }