GraphDay.vue
<template>
        <ul class="graph__component">
            <GraphColumn
                v-for="(dayData, index) in c_dayList"
                :key           = "Math.random() + '_' + index"
                :index         = "index"
                :dayData       = "dayData"
                :issueIndex    = "c_issueIndex" 
                :selectedIndex = "c_selectedIndex"
                @select        = "onSelect(index)"
                @hover         = "onHover(index)"
            />
        </ul>
</template>

<script setup>
    /* VUE */
    import { computed, ref, watch } from 'vue'

    /* STORE */
    import { actions, getters } from '@/vue/__stores__/WS/state__WS.js'

    /* LIBS */
    import { getFormatedMinutes } from '@/libs/DateUtils.js'

    /* COMPONENT */
    import GraphColumn from './GraphDayColumn.vue'

    /* REACTIVES */
    const r_dayList      = new ref();
    const r_line_percent = new ref();
    const r_pick_percent = new ref();
    const r_pickMetric   = new ref();

    /* MEMBERS */
    const m_classNameList = [
        'ws-default',
        'info',
        'danger'
    ]

    /* PROPS */
    const props = defineProps({
        dayData       : Object,
        selectedIndex : Number,
        issueIndex    : Number,
        isShift       : Boolean
    });

    /* COMPUTED */
    const c_dayList = computed(()=>{
        const dayData = props.dayData;
        if(null== dayData){
            // Early return
            return
        }
        handleDataStructure(dayData, 'dayData');
        
        const { dayList, dayPick } = dayData;
        return dayList
    });

    const c_selectedIndex = computed(()=>{
        const selectedIndex = getters.dayIndex;
        if(null == selectedIndex){
            // Early return
            return
        }
        handleNumber(selectedIndex, 'selectedIndex');
        return selectedIndex
    });

    const c_issueIndex = computed(()=>{
        const issueIndex = props.issueIndex || 0;
        handleNumber(issueIndex, 'issueIndex');
        return issueIndex
    });
    
    /* EVENT */
    const emit = defineEmits(['select', 'hover']);

    function onHover(index){
        handleNumber(index, 'index');
        emit('hover', index);
    }

    function onSelect(index){
        handleNumber(index, 'index');
        emit('select', index);
    }
</script>