GraphDayColumn.vue
<template>
    <li class="graph-column__component" :class="c_class" :c_dayData="c_dayData"
        @click="onSelect"
        @mouseover="onHover"
        @mouseenter="onHover"
    >
        <ul class="graph-column__day-wrapper text-1" :class="r_isWeekDay ? '' : 'surface-1'">
            <li class="graph-column__bar-up-wrapper">
                <p class="graph-column__bar-up" :style="'height:' + r_heightTop + ';z-index:3' "></p>
            </li>
            <li class="graph-column__bar-down-wrapper">
                <p class="graph-column__bar-down" :style="'height:' + r_heightDown + ';z-index:3' "></p>
            </li>
            <li class="graph-column__day">
                <article class="text-center">
                    <p :class="r_isWeekDay ? 'heavy' : ''">{{ r_day }}</p>
                    <p>{{ r_date }}</p>
                </article>
            </li>
        </ul>
    </li>
</template>

<script setup>
    /* VUE */
    import { computed, ref } from 'vue'

    /* STORE */
    import { getters } from '@/vue/__stores__/WS/state__WS.js'

    /* REACTIVES */
    const r_heightTop  = new ref();
    const r_heightDown = new ref();
    const r_day        = new ref();
    const r_isWeekDay  = new ref();
    const r_date       = new ref();

    /* PROPS */
    const props = defineProps({
        index         : Number,
        dayData       : Object,
        selectedIndex : Number,
        issueIndex    : Number
    })

    /* COMPUTED */
    const c_class = computed(()=>{
        const index     = props.index;
        const selectedIndex = props.selectedIndex;
        if(null == index || null == selectedIndex){
            // Early return
            return
        }
        
        return index == selectedIndex ? 'selected' : ''
    });

    const c_dayData = computed(()=>{
        const dayData    = props.dayData;
        const issueIndex = props.issueIndex;
        if(null == dayData){
            // Early return
            return
        }
        handleDataStructure(dayData, 'dayData');
        handleNumber(issueIndex, 'issueIndex');

        const {
            dayName,
            isWeekDay,
            date,
            day_net_percent,
            day_overwork,
            day_overwork_percent,
            day_underwork,
            day_underwork_percent,
            day_netDiff
        } = dayData;
        
        r_isWeekDay.value  = isWeekDay;
        r_day.value        = localize(dayName);
        r_date.value       = localize(date);

        switch(issueIndex){
            case 0 :
                r_heightTop.value  = 0;
                r_heightDown.value = day_underwork_percent;
            break
            case 1 :
                r_heightTop.value  = day_overwork_percent;
                r_heightDown.value = 0;
            break
            case 2 :
                r_heightTop.value  = day_netDiff < 0 ? day_net_percent : 0;
                r_heightDown.value = day_netDiff > 0 ? day_net_percent : 0;
            break
        }
        
        return dayData
    });

    /* EVENT */
    const emit = defineEmits(['select', 'hover']);

    function onHover(){
        emit('hover');
    }

    function onSelect(){
        emit('select');
    }
</script>