.checkbox__list {
    width: min-content;
    border-radius: 2rem;
    outline: solid 0.125rem hsl(var(--surface-4));
    padding: 0.25rem 1rem;
    background-color: hsl(var(--surface-0));
}

.checkbox__list,
.checkbox__list > * {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    grid-gap: 0.5rem;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

.checkbox__component {
    width: var(--checkbox-width, 1.125rem);
    height: var(--checkbox-height, 1.125rem);
    display: grid;
    align-items: center;
    justify-items: center;

    color: hsl(var(--on-0));
    background-color: hsl(var(--surface-0));
    outline: solid 0.0625rem hsl(var(--outline-1) / 0.6);
    outline-offset: -0.0625rem;
    border-radius: 0.25rem;
    
    padding: var(--checkbox-padding, 0.25rem);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.checkbox__component:hover {
    outline: solid 0.125rem hsl(var(--surface-4));
}

.checkbox__component.selected,
.selected > .checkbox__component {
    outline: solid 0.0625rem hsl(var(--primary-2));
    background-color: hsl(var(--primary-1));
}
.checkbox__component > * {
    opacity: 0;
}

.checkbox__component.selected > *,
.selected > .checkbox__component > * {
    opacity: 1;
}