#app .powerbi__wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr max-content;
    height: 100%;
}
#app .powerbi__wrapper .kanji.left {
    grid-column: 1;
    align-self: center;
}
#app .powerbi__wrapper iframe {
    grid-column: 2;
}

#app .powerbi__wrapper .kanji.right {
    grid-column: 3;
    align-self: center;
}