.work-schedule-tab__component {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-gap: 0.5rem;
	align-items: end;
    width: max-content;
    margin-bottom: 1rem;
}

@media print {
	.no-print-area{
		display: none !important;
	}
}