.work-schedule-view__edit-mode {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    justify-content: start;
}

.work-schedule-view__title {
    font-size: var(--text-5);
    font-weight: 600;
    text-align: center;
    background-color: hsl(var(--surface-2));
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
}

.work-schedule-view__table-wrapper {
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
    margin: 0 auto;
}