.work-schedule-list__table {
    margin-bottom: 1rem;
}

.work-schedule-list__add-hour[is-edit-mode="true"] {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2rem max-content;
    grid-gap: 0.5rem;
    align-content: center;
    justify-content: center;
    outline: transparent solid 3px;
}

.work-schedule-list__add-hour[is-edit-mode="true"] > * {
    align-self: center;
    line-height: 0.5rem;
    width: 100%;
}

.work-schedule-list__add-hour[is-edit-mode="true"] .rz-dropdown {
    grid-column: 1 / -1;
    width: 8.5rem;
    height: 2.125rem;
    margin-left: 0.5rem;
}

.work-schedule-list__plus {
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: solid 0.0625rem hsl( var(--primary-2) / 0.08);
    background-color: hsl(var(--primary-1));
}

.work-schedule-list__plus:hover {
    background-color: hsl(var(--surface-2));
    color: hsl(var(--on-2));
}

.work-schedule-list__input-container .rz-spinner input[type='number'],
.work-schedule-list__input-container .rz-spinner input[type='text'] {
    padding: 0.25rem;
}

.work-schedule-list__task[is-edit-mode="true"] {
    width: calc(100% - 0.25rem);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3rem;
    grid-gap: 0.5rem;
    justify-self: end;
}

.work-schedule-list__task[is-edit-mode="true"] .rz-dropdown {
    height: 2.125rem;
    line-height: 1.25rem;
}

.work-schedule-list__remove {
    background-color: hsl(var(--surface-3));
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
}